<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
	<modules>
		<Egovs_Vies>
			<version>2.0.0.0</version>
		</Egovs_Vies>
	</modules>
	<adminhtml>
		<events>
			<core_block_abstract_prepare_layout_after>
				<observers>
					<egovsvies>
						<type>singleton</type>
						<class>egovsvies/customer_observer</class>
						<method>afterCustomerGroupEditFormPrepare</method>
					</egovsvies>
				</observers>
			</core_block_abstract_prepare_layout_after>
			<customer_group_save_before>
				<observers>
					<egovsvies>
						<type>singleton</type>
						<class>egovsvies/customer_observer</class>
						<method>onCustomerGroupSaveBefore</method>
					</egovsvies>
				</observers>
			</customer_group_save_before>
			<!-- Muss vor Global Event Block stehen - Reihenfolge ist relevant! -->
			<customer_save_before>
				<observers>
					<egovsvies>
						<type>singleton</type>
						<class>Egovs_Vies_Model_Adminhtml_Customer_Observer</class>
						<method>onAdminCustomerSaveBefore</method>
					</egovsvies>
				</observers>
			</customer_save_before>
		</events>
		<translate>
			<modules>
				<Egovs_Vies>
					<files>
						<default>Egovs_Vies.csv</default>
					</files>
				</Egovs_Vies>
			</modules>
		</translate>
		<layout>
			<updates>
				<egovsvies>
					<file>egovs_vies.xml</file>
				</egovsvies>
			</updates>
		</layout>
	</adminhtml>
	
	<admin>
        <routers>
			<adminhtml>
				<args>
					<modules>
						<Egovs_Vies_Adminhtml before="Mage_Adminhtml">Egovs_Vies_Adminhtml</Egovs_Vies_Adminhtml>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    
	<frontend>
		<events>
		    <!-- Überschreibt Observer aus Mage_Sales -->
            <sales_quote_address_collect_totals_before>
                <observers>
                    <sales_customer_validate_vat_number>
                        <class>egovsvies/sales_observer</class>
                        <method>changeQuoteCustomerGroupId</method>
                    </sales_customer_validate_vat_number>
                </observers>
            </sales_quote_address_collect_totals_before>
		</events>
		<translate>
			<modules>
				<Egovs_Vies>
					<files>
						<default>Egovs_Vies.csv</default>
					</files>
				</Egovs_Vies>
			</modules>
		</translate>
	</frontend>
	<global>
		<blocks>
		</blocks>
		<helpers>
			<egovsvies>
				<class>Egovs_Vies_Helper</class>
			</egovsvies>
		</helpers>
		<models>
			<egovsvies>
				<class>Egovs_Vies_Model</class>
				<resourceModel>egovsvies_resource</resourceModel>
			</egovsvies>
			<egovsvies_resource>
				<class>Egovs_Vies_Model_Resource</class>
				<entities>
					<group_auto_assignment>
						<table>customer_group_auto_assignment</table>
					</group_auto_assignment>
				</entities>
			</egovsvies_resource>
		</models>
		<resources>
			<egovsvies_setup>
				<setup>
					<module>Egovs_Vies</module>
					<class>Egovs_Base_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</egovsvies_setup>
			<egovsvies_write>
				<connection>
					<use>core_write</use>
				</connection>
			</egovsvies_write>
			<egovsvies_read>
				<connection>
					<use>core_read</use>
				</connection>
			</egovsvies_read>
		</resources>
		<events>
		    <!-- Überschreibt Observer aus Mage_Customer -->
		    <customer_address_save_before>
                <observers>
                    <customer_address_before_save_viv_observer>
                        <class>egovsvies/customer_observer</class>
                        <method>beforeAddressSave</method>
                    </customer_address_before_save_viv_observer>
                </observers>
            </customer_address_save_before>
            <customer_address_save_after>
                <observers>
                    <customer_addres_after_save_viv_observer>
                        <class>egovsvies/customer_observer</class>
                        <method>afterAddressSave</method>
                    </customer_addres_after_save_viv_observer>
                </observers>
            </customer_address_save_after>
            
            <controller_action_layout_render_before_customer_account_create>
				<observers>
					<egovsvies_vat>
						<type>singleton</type>
						<class>Egovs_Vies_Model_Customer_Observer</class>
						<method>showAddressFields</method>
					</egovsvies_vat>
				</observers>
			</controller_action_layout_render_before_customer_account_create>
		</events>
	</global>
	<default>
		<customer>
			<!--
				Taxvat hat noch eigene Models für Anzeige
				<source_model>adminhtml/system_config_source_nooptreq</source_model>
                <backend_model>adminhtml/system_config_backend_customer_show_customer</backend_model>
            -->
            <create_account>
                <tax_calculation_address_type>shipping</tax_calculation_address_type>
            </create_account>
		</customer>
		<customer>
			<registerrequired>
				<country_id>req</country_id>
			</registerrequired>
		</customer>
	</default>
</config>
