<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <!-- Egovs_ShippingTax muss deaktiviert sein! -->
    <modules>
        <Egovs_GermanTax>
            <version>2.0.0.0</version>
        </Egovs_GermanTax>
    </modules>
    <frontend>
        <routers>
            <germantax>
                <use>standard</use>
                <args>
                    <module>Egovs_GermanTax</module>
                    <frontName>germantax</frontName>
                </args>
            </germantax>
        </routers>
        <layout>
            <updates>
                <germantax>
                    <file>germantax.xml</file>
                </germantax>
            </updates>
        </layout>
        <translate>
            <modules>
                <Egovs_GermanTax>
                    <files>
                        <default>Egovs_GermanTax.csv</default>
                    </files>
                </Egovs_GermanTax>
            </modules>
        </translate>
        <events>
            <core_session_abstract_add_message>
	            <observers>
	                    <germantax_omit_messages>
	                        <class>germantax/observer</class>
	                        <method>onCoreSessionAbstractAddMessage</method>
	                    </germantax_omit_messages>
	                </observers>
            </core_session_abstract_add_message>
        </events>
    </frontend>
    <admin>
         <routers>
			<adminhtml>
				<args>
					<modules>
						<Egovs_GermanTax_Adminhtml before="Mage_Adminhtml">Egovs_GermanTax_Adminhtml</Egovs_GermanTax_Adminhtml>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <adminhtml>
		
		<layout>
			<updates>
				<germantax>
					<file>egovs/germantax.xml</file>
				</germantax>
			</updates>
		</layout>
        
        <translate>
            <modules>
                <Egovs_GermanTax>
                    <files>
                        <default>Egovs_GermanTax.csv</default>
                    </files>
                </Egovs_GermanTax>
            </modules>
        </translate>
        <menu>
            <system translate="title" module="adminhtml">         
                <children>
                    <tools translate="title">
                        <children>
                            <analyse translate="title" module="adminhtml">
                                <title>Analyse</title>
                                <children>
                                    <germantax_order_tax_rule module="germantax">
                                        <title>Bestellungen mit Steuerregel</title>
                                        <sort_order>20</sort_order>
                                        <action>adminhtml/germantax_tools_analyse_sales_order/</action>
                                    </germantax_order_tax_rule>    
                                    
                                </children>
                            </analyse>
                           
                        </children>
                    </tools>
                </children>	
            </system>	
        </menu>
    </adminhtml>   
    <global>
        <models>
            <germantax>
                <class>Egovs_GermanTax_Model</class>
                <resourceModel>germantax_resource</resourceModel>
            </germantax>
            <germantax_resource>
                <class>Egovs_GermanTax_Model_Resource</class>
            </germantax_resource>

            <tax>
                <rewrite>
                    <calculation>Egovs_GermanTax_Model_Tax_Calculation</calculation>
                </rewrite>
                <rewrite>
                    <calculation_rule>Egovs_GermanTax_Model_Tax_Calculation_Rule</calculation_rule>
                </rewrite>
            </tax>
            <tax_resource>
                <rewrite>
                    <calculation_rule>Egovs_GermanTax_Model_Resource_Tax_Calculation_Rule</calculation_rule>
                </rewrite>
            </tax_resource>
        </models>
        <resources>
            <germantax_setup>
                <setup>
                    <module>Egovs_GermanTax</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </germantax_setup>
            <germantax_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </germantax_write>
            <germantax_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </germantax_read>
            
        </resources>
        <blocks>
            <germantax>
                <class>Egovs_GermanTax_Block</class>
            </germantax>
            <adminhtml>
                <rewrite>
                    <tax_rule_edit_form>Egovs_GermanTax_Block_Adminhtml_Tax_Rule_Edit_Form</tax_rule_edit_form>
                    <tax_rule_grid>Egovs_GermanTax_Block_Adminhtml_Tax_Rule_Grid</tax_rule_grid>
                </rewrite>
            </adminhtml>
            <tax>
                <rewrite>
                    <sales_order_tax>Egovs_GermanTax_Block_Tax_Sales_Order_Tax</sales_order_tax>
                </rewrite>
            </tax>
        </blocks>
        <helpers>
            <germantax>
                <class>Egovs_GermanTax_Helper</class>
            </germantax>
            <tax>
                <class>Egovs_GermanTax_Helper</class>
            </tax>
        </helpers>
        
        <events>
            <tax_rate_data_fetch>
                <observers>
                    <germantax_tax_rate_data_fetch>
                        <type>singleton</type>
                        <class>Egovs_GermanTax_Model_Tax_Observer</class>
                        <method>onTaxRateDataFetch</method>
                    </germantax_tax_rate_data_fetch>
                </observers>
            </tax_rate_data_fetch>
            <sales_order_place_before>
            	 <observers>
                    <tax_rule>
                        <class>germantax/tax_observer</class>
                        <method>onSalesOrderPlaceBefore</method>
                    </tax_rule>
                </observers>
            </sales_order_place_before>
            <sales_order_save_after>
                <observers>
                    <tax>
                        <class>germantax/tax_observer</class>
                        <method>salesEventOrderAfterSave</method>
                    </tax>
                </observers>
            </sales_order_save_after>
            <catalog_product_collection_load_after>
                <observers>
                    <tax>
                        <class>germantax/tax_observer</class>
                        <method>addTaxPercentToProductCollection</method>
                    </tax>
                </observers>
            </catalog_product_collection_load_after>
            <sales_quote_add_item>
                <observers>
                    <germantax>
                        <type>singleton</type>
                        <class>Egovs_GermanTax_Model_Tax_Observer</class>
                        <method>onSalesQuoteAddItem</method>
                    </germantax>
                </observers>
            </sales_quote_add_item>
            <core_copy_fieldset_customer_address_to_quote_address>
                <observers>
                    <germantax>
                        <type>singleton</type>
                        <class>Egovs_GermanTax_Model_Tax_Observer</class>
                        <method>onCopyFieldsetCustomerAddressToQuoteAddress</method>
                    </germantax>
                </observers>
            </core_copy_fieldset_customer_address_to_quote_address>
        </events>
        <sales>
            <quote>
                <totals>
                    <tax_shipping>
                        <!-- Überschreibt Mage_Tax -->
                        <class>germantax/tax_sales_total_quote_shipping</class>
                    </tax_shipping>
                    <tax_subtotal>
                        <!-- Überschreibt Mage_Tax -->
                        <class>germantax/tax_sales_total_quote_subtotal</class>
                    </tax_subtotal>
                    <tax>
                        <!-- Überschreibt Mage_Tax -->
                        <class>germantax/tax_sales_total_quote_tax</class>
                    </tax>
                    <subtotal>
                        <!-- Überschreibt Mage_Tax -->
                        <renderer>germantax/checkout_subtotal</renderer>
                    </subtotal>
                </totals>
                <nominal_totals>
                    <nominal_tax_subtotal>
                        <class>germantax/tax_sales_total_quote_nominal_subtotal</class>
                    </nominal_tax_subtotal>
                    <nominal_tax>
                        <class>germantax/tax_sales_total_quote_nominal_tax</class>
                    </nominal_tax>
                </nominal_totals>
            </quote>
        </sales>
    </global>
    <default>
        <tax>
            <calculation>
                <cross_border_trade_enabled>0</cross_border_trade_enabled>
                <deny_order_without_taxrule>0</deny_order_without_taxrule>
            </calculation>
        </tax>
    </default>
</config>