<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <Stala_Extcustomer>
            <version>0.1.9</version>
            <depends>
                <Stala_Product />
            </depends>
        </Stala_Extcustomer>
    </modules>
    <frontend>
        <routers>
            <extcustomer>
                <use>standard</use>
                <args>
                    <module>Stala_Extcustomer</module>
                    <frontName>extcustomer</frontName>
                </args>
            </extcustomer>
        </routers>
        <layout>
            <updates>
                <extcustomer>
                    <file>extcustomer.xml</file>
                </extcustomer>
            </updates>
        </layout>
        <translate>
			<modules>
				<Stala_Extcustomer>
					<files>
						<default>Stala_Extcustomer.csv</default>
					</files>
				</Stala_Extcustomer>
			</modules>
		</translate>
    </frontend>
    <admin>
		<routers>
			<adminhtml>	
				<args>
					<modules>
						<Stala_Extcustomer_Adminhtml after="Mage_Adminhtml">Stala_Extcustomer_Adminhtml</Stala_Extcustomer_Adminhtml>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <adminhtml>
    	<events>
    		<adminhtml_customer_prepare_save>
        		<observers>
        			<stala_extcustomer_observer>
        				<type>singleton</type>
        				<class>extcustomer/observer</class>
        				<method>onCustomerPrepareSave</method>
        			</stala_extcustomer_observer>
        		</observers>
        	</adminhtml_customer_prepare_save>
			<adminhtml_customer_prepare_save>
				<observers>
					<egovs_extcustomer_copyAdr>
						<type>singleton</type>
						<class>extcustomer/customer_observer</class>
						<method>copyParentAddress</method>
					</egovs_extcustomer_copyAdr>
				</observers>
			</adminhtml_customer_prepare_save>
			<catalog_product_prepare_save>
        		<observers>
        			<stala_extcustomer_product>
        				<type>singleton</type>
        				<class>extcustomer/product_observer</class>
        				<method>onProductPrepareSave</method>
        			</stala_extcustomer_product>
        		</observers>
        	</catalog_product_prepare_save>
		</events>
		
		<translate>
			<modules>
				<Stala_Extcustomer>
					<files>
						<default>Stala_Extcustomer.csv</default>
					</files>
				</Stala_Extcustomer>
			</modules>
		</translate>
		
		<layout>
			<updates>
				<extcustomer>
					<file>stala/extcustomer.xml</file>
				</extcustomer>
			</updates>
		</layout>		 
    </adminhtml>   
    <global>
        <models>
            <extcustomer>
                <class>Stala_Extcustomer_Model</class>
                <resourceModel>extcustomer_mysql4</resourceModel>
            </extcustomer>
            <extcustomer_mysql4>
                <class>Stala_Extcustomer_Model_Mysql4</class>
                <entities>
                    <parentcustomer>
                        <table>extcustomer_parentcustomer</table>
                    </parentcustomer>
                    <salesdiscount>
                    	<table>extcustomer_sales_discount</table>
                    </salesdiscount>
                    <freecopies>
                    	<table>extcustomer_freecopies</table>
                    </freecopies>
                </entities>
            </extcustomer_mysql4>
        </models>
        <resources>
            <extcustomer_setup>
                <setup>
                    <module>Stala_Extcustomer</module>
                	<class>Stala_Extcustomer_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </extcustomer_setup>
            <extcustomer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </extcustomer_write>
            <extcustomer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </extcustomer_read>
        </resources>
        <blocks>
            <extcustomer>
                <class>Stala_Extcustomer_Block</class>
            </extcustomer>
        </blocks>
        <helpers>
            <extcustomer>
                <class>Stala_Extcustomer_Helper</class>
            </extcustomer>
        </helpers>
        
        <!-- Wird beim konvertieren von Quote-Item zu Order-Item benötigt -->
        <fieldsets>
        	<sales_convert_quote_item>
        		<stala_freecopies><to_order_item>*</to_order_item></stala_freecopies>
        	</sales_convert_quote_item>
        </fieldsets>
        
        <events>
        	<sales_quote_item_delete_after>
        		<observers>
        			<stala_extcustomer_observer>
        				<type>singleton</type>
        				<class>extcustomer/observer</class>
        				<method>onSalesQuoteRemoveItem</method>
        			</stala_extcustomer_observer>
        		</observers>
        	</sales_quote_item_delete_after>
        	<sales_quote_delete_before>
        		<observers>
        			<stala_extcustomer_observer>
        				<type>singleton</type>
        				<class>extcustomer/observer</class>
        				<method>onSalesQuoteDelete</method>
        			</stala_extcustomer_observer>
        		</observers>
        	</sales_quote_delete_before>
        	<sales_quote_address_discount_item>
        		<observers>
        			<stala_extcustomer_observer>
        				<type>singleton</type>
        				<class>extcustomer/observer</class>
        				<method>onQuoteAddressDiscountItem</method>
        			</stala_extcustomer_observer>
        		</observers>
        	</sales_quote_address_discount_item>
			<sales_order_item_cancel>
        		<observers>
        			<stala_extcustomer_observer>
        				<type>singleton</type>
        				<class>extcustomer/observer</class>
        				<method>onSalesOrderItemCancel</method>
        			</stala_extcustomer_observer>
        		</observers>
        	</sales_order_item_cancel>
        	<sales_creditmemo_item_save_after>
        		<observers>
        			<stala_extcustomer_observer>
        				<type>singleton</type>
        				<class>extcustomer/observer</class>
        				<method>refundOrderItem</method>
        			</stala_extcustomer_observer>
        		</observers>
        	</sales_creditmemo_item_save_after>
        	<customer_save_before>
        		<observers>
        			<stala_extcustomer_observer>
        				<type>singleton</type>
        				<class>extcustomer/observer</class>
        				<method>onCustomerSave</method>
        			</stala_extcustomer_observer>
        		</observers>
        	</customer_save_before>
        	<customer_delete_before>
        		<observers>
        			<stala_extcustomer_observer>
        				<type>singleton</type>
        				<class>extcustomer/observer</class>
        				<method>onCustomerDeleteBefore</method>
        			</stala_extcustomer_observer>
        		</observers>
        	</customer_delete_before>
        	<customer_delete_after>
        		<observers>
        			<stala_extcustomer_observer>
        				<type>singleton</type>
        				<class>extcustomer/observer</class>
        				<method>onCustomerDeleteAfter</method>
        			</stala_extcustomer_observer>
        		</observers>
        	</customer_delete_after>
        	<catalog_product_save_after>
        		<!-- Damit existiert eine Produkt-ID  -->
        		<observers>
        			<stala_extcustomer_product>
        				<type>singleton</type>
        				<class>extcustomer/product_observer</class>
        				<method>onProductSaveAfter</method>
        			</stala_extcustomer_product>
        		</observers>
        	</catalog_product_save_after>
        </events>
    </global>
</config>