{{template config_path="design/email/header"}}

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table style="width:98%; margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                
                <table style="width:650px;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=''}}">
							    <img width="{{if logo_width}}{{var logo_width}}{{else}}165{{/if}}"
								     height="{{if logo_height}}{{var logo_height}}{{else}}48{{/if}}"
								     src="{{var logo_url}}"
								     alt="{{var logo_alt}}"
								     border="0"/>
							</a>
						</td>
                    </tr>
                </table>

                
                <table style="width:650px;">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>Dear {{htmlescape var=$customer.name}}</strong>,<br/>
                                Welcome to {{block type="imprint/field" value="shop_name"}}. To log in when visiting our site just
                                click <a href="{{store url='customer/account/login/'}}" style="color:#1E7EC8;">Login</a> or
                                <a href="{{store url='customer/account/'}}" style="color:#1E7EC8;">My Account</a> at the top of every
                                page, and then enter your e-mail address and password.
                            </p>

                            <p>
                                If you have any questions about your account or any other matter, please feel free to contact us at
                                <a href="mailto:{{block type='imprint/field' value='email'}}" style="color:#1E7EC8;">{{block type="imprint/field" value="email"}}</a>.
                            </p>
                            <p>Thanks again!</p>


                        </td>
                    </tr>
                    <tr>
						<td>
							{{template config_path="design/email/support"}}
						</td>
					</tr>
                    <tr>
                       <td style="border-bottom:2px solid #eee;"> </td>
                    </tr>
					<tr>
						<td>
		                    {{block type="cms/block" block_id="sym_widerruf_en"}}
		                </td>
					</tr>
                </table>

            </td>
        </tr>
    </table>
</div>
{{template config_path="design/email/footer"}}