{{template config_path="design/email/header"}}
    <table style="width:98%; margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                
                <table style="width:650px;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=''}}" style="color:#1E7EC8;">
							    <img width="{{if logo_width}}{{var logo_width}}{{else}}165{{/if}}"
								     height="{{if logo_height}}{{var logo_height}}{{else}}48{{/if}}"
								     src="{{var logo_url}}"
								     alt="{{var logo_alt}}"
								     border="0"/>
							</a>
						</td>
                    </tr>
                </table>

                
                <table style="width:650px;">
                    <tr>
                        <td valign="top">
							<p><strong>Dear {{htmlescape var=$customer.name}}</strong>,<br/>
								to change your password, please click the following link: 
								<a href="{{store url='customer/account/resetpassword/' _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#1E7EC8;">
									{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}
								</a>
							</p>

							<p>You can change your password at any time by logging into 
								<a href="{{store url='customer/account/'}}" style="color:#1E7EC8;">your account</a>.
							<p>
							<p>Thank you again!</p>
                        </td>
                    </tr>
                    <tr>
						<td>
							<p>
                                <strong>{{block type="imprint/field" value="shop_name"}}</strong><br>
                                {{block type="imprint/field" value="company_first"}}
                            </p>
                            <p>
								{{block type="imprint/field" value="street"}}<br>
                                {{block type="imprint/field" value="zip"}} {{block type="imprint/field" value="city"}}
							</p>
                            <p>
                                Telefon: {{block type="imprint/field" value="telephone"}}<br>
                                Fax: {{block type="imprint/field" value="fax"}}
                            </p>
                            <p>
                                E-Mail: <a href="mailto:{{block type='imprint/field' value='email'}}" style="color:#1E7EC8;">{{block type="imprint/field" value="email"}}</a><br>
                                Internet: <a href="{{store url=''}}" style="color:#1E7EC8;">{{block type="imprint/field" value="web"}}</a>
                            </p>
						</td>
					</tr>
                </table>

            </td>
        </tr>
    </table>
{{template config_path="design/email/footer"}}