<?xml version="1.0" ?>
<!DOCTYPE config>
<config>
    <modules>
        <Slpb_Customer>
            <version>0.1.0</version>
        </Slpb_Customer>
    </modules>
    <admin>
        <routers>
			<adminhtml>	
				<args>
					<modules>
						<Slpb_Customer_Adminhtml after="Mage_Adminhtml">Slpb_Customer_Adminhtml</Slpb_Customer_Adminhtml>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Slpb_Customer>
                    <files>
                        <default>Slpb_Customer.csv</default>
                    </files>
                </Slpb_Customer>
            </modules>
        </translate>
		<menu>
			<customer >
				            
				<children>
				    <slpbcustomer_lastorder module="slpbcustomer">
					    <title>Customers last order</title>
						<sort_order>100</sort_order>
						<action>adminhtml/slpbcustomer_sales</action>
				    </slpbcustomer_lastorder>
				</children>
			</customer>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
					    <customer>
					        <children>
					            <slpbcustomer_lastorder>
					            <title>Customers last order</title>
							    <sort_order>100</sort_order>
					        </slpbcustomer_lastorder>
					        </children>
					    </customer>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<slpbcustomer>
					<file>slpb/customersales.xml</file>
				</slpbcustomer>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <slpbcustomer>
                <class>Slpb_Customer_Model</class>
                <resourceModel>slpbcustomer_mysql4</resourceModel>
            </slpbcustomer>
            <slpbcustomer_mysql4>
                <class>Slpb_Customer_Model_Mysql4</class>
                <entities>
                    <sales>
                        <table>slpbcustomer_sales</table>
                    </sales>
                </entities>
            </slpbcustomer_mysql4>
        </models>
        <resources>
            <slpbcustomer_setup>
                <setup>
                    <module>Slpb_slpbcustomer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slpbcustomer_setup>
            <slpbcustomer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slpbcustomer_write>
            <slpbcustomer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slpbcustomer_read>
        </resources>
        <blocks>
            <slpbcustomer>
                <class>Slpb_Customer_Block</class>
            </slpbcustomer>
        </blocks>
        <helpers>
            <slpbcustomer>
                <class>Slpb_Customer_Helper</class>
            </slpbcustomer>
        </helpers>
    </global>
</config>