<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_Infoletter>
            <version>0.1.0</version>
        </Egovs_Infoletter>
    </modules>

    <admin>
        <routers>
         <adminhtml>
           <args>
             <modules>
               <Egovs_Infoletter_Adminhtml after="Mage_Adminhtml">Egovs_Infoletter_Adminhtml</Egovs_Infoletter_Adminhtml>
             </modules>
           </args>
         </adminhtml>
       </routers>
    </admin>
    <adminhtml>
		<menu>
			<newsletter>
				<children>
					<infoletter_queue module="infoletter">
						<title>Infoletter</title>
						<sort_order>1000</sort_order>
						<action>adminhtml/infoletter_queue</action>
					</infoletter_queue>
				</children>
			</newsletter>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<newsletter>
				              <children>
				                	<infoletter_queue module="pdftemplate">
				                    	<title>Infoletter</title>
				                    	<sort_order>0</sort_order>
				                	</infoletter_queue>
				              </children>
						</newsletter>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<infoletter>
					<file>egovs/infoletter.xml</file>
				</infoletter>
			</updates>
		</layout>
		<translate>
            <modules>
                <Egovs_Infoletter>
                    <files>
                        <default>Egovs_Infoletter.csv</default>
                    </files>
                </Egovs_Infoletter>
            </modules>
        </translate>
        <events>
    		<adminhtml_sales_order_grid_massaction_prepare_after>
    			<observers>
    				<adminhtml_sales_order_grid_massaction_prepare_after_observer_infoletter>
    					<class>infoletter/observer</class>
    					<method>onSalesOrderGridMassaction</method>
    				</adminhtml_sales_order_grid_massaction_prepare_after_observer_infoletter>
    			</observers>
    		</adminhtml_sales_order_grid_massaction_prepare_after>
    		<adminhtml_customer_grid_massaction_prepare_after>
    			<observers>
    				<adminhtml_customer_grid_massaction_prepare_after_observer_infoletter>
    					<class>infoletter/observer</class>
    					<method>onCustomerGridMassaction</method>
    				</adminhtml_customer_grid_massaction_prepare_after_observer_infoletter>
    			</observers>
    		</adminhtml_customer_grid_massaction_prepare_after>
    		<adminhtml_sales_orderitem_grid_massaction_prepare_after>
    		<observers>
    				<adminhtml_sales_orderitem_grid_massaction_prepare_after_infoletter>
    					<class>infoletter/observer</class>
    					<method>onSalesOrderItemGridMassaction</method>
    				</adminhtml_sales_orderitem_grid_massaction_prepare_after_infoletter>
    			</observers>
    		</adminhtml_sales_orderitem_grid_massaction_prepare_after>
    	</events>
    </adminhtml>
    <global>
        <models>
            <infoletter>
                <class>Egovs_Infoletter_Model</class>
                <resourceModel>infoletter_resource</resourceModel>
            </infoletter>
            <infoletter_resource>
                <class>Egovs_Infoletter_Model_Resource</class>
                <entities>
                    <queue>
                        <table>infoletter_queue</table>
                    </queue>
                    <recipient>
                        <table>infoletter_recipient</table>
                    </recipient>
                </entities>
            </infoletter_resource>
        </models>
        <resources>
            <infoletter_setup>
                <setup>
                    <module>Egovs_Infoletter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </infoletter_setup>
            <infoletter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </infoletter_write>
            <infoletter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </infoletter_read>
        </resources>
        <blocks>
            <infoletter>
                <class>Egovs_Infoletter_Block</class>
            </infoletter>
        </blocks>
        <helpers>
            <infoletter>
                <class>Egovs_Infoletter_Helper</class>
            </infoletter>
        </helpers>
    </global>
        <crontab>
        <jobs>
            <infoletter_queue_send_all>
                <schedule><cron_expr>*/1 * * * *</cron_expr></schedule>
                <run><model>infoletter/queue::sendAll</model></run>
            </infoletter_queue_send_all>
        </jobs>
    </crontab>
</config>
