<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <B3it_Pendelliste>
            <version>0.1.0</version>
        </B3it_Pendelliste>
    </modules>
    <admin>
       <routers>
            <adminhtml>
                <args>
                    <modules>
                        <B3it_Pendelliste_Adminhtml after="Mage_Adminhtml">B3it_Pendelliste_Adminhtml</B3it_Pendelliste_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
   </admin>
   <adminhtml>
		<menu>
			<pendelliste module="pendelliste">
				<title>Pendelliste</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="pendelliste">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>adminhtml/pendelliste</action>
					</items>
				</children>
			</pendelliste>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<pendelliste>
							<title>Pendelliste Modul</title>
							<sort_order>10</sort_order>
						</pendelliste>
						<system>
							<children>
								<config>
									<children>
										<pendelliste translate="title" module="pendelliste">
											<title>Pendleliste</title>
											<sort_order>30</sort_order>
										</pendelliste>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<pendelliste>
					<file>b3it/pendelliste.xml</file>
				</pendelliste>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <pendelliste>
                <class>B3it_Pendelliste_Model</class>
                <resourceModel>pendelliste_mysql4</resourceModel>
            </pendelliste>
            <pendelliste_mysql4>
                <class>B3it_Pendelliste_Model_Mysql4</class>
                <entities>
                    <pendelliste>
                        <table>b3it_pendelliste</table>
                    </pendelliste>
                </entities>
            </pendelliste_mysql4>
        </models>
        <resources>
            <pendelliste_setup>
                <setup>
                    <module>B3it_Pendelliste</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pendelliste_setup>
            <pendelliste_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pendelliste_write>
            <pendelliste_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pendelliste_read>
        </resources>
        <blocks>
            <pendelliste>
                <class>B3it_Pendelliste_Block</class>
            </pendelliste>
        </blocks>
        <helpers>
            <pendelliste>
                <class>B3it_Pendelliste_Helper</class>
            </pendelliste>
        </helpers>
    </global>
</config>