<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <Sid_Roles>
            <version>0.1.2</version>
        </Sid_Roles>
    </modules>
     <admin>
        <routers>
			<adminhtml>	
				<args>
					<modules>
						<Sid_Roles_Adminhtml after="Mage_Adminhtml">Sid_Roles_Adminhtml</Sid_Roles_Adminhtml>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<sidroles>
					<file>sid/roles.xml</file>
				</sidroles>
			</updates>
		</layout>
		<translate>
            <modules>
                <Sid_Roles>
                    <files>
                        <default>Sid_Roles.csv</default>
                    </files>
                </Sid_Roles>
            </modules>
        </translate>
        <events>
            <controller_action_layout_render_before_adminhtml_permissions_user_edit>
                <observers>
                    <Sid_Roles>
                        <type>singleton</type>
                        <class>sidroles/observer</class>
                        <method>onLayoutRenderAdminhtmlPermissionsUserEditBefore</method>
                    </Sid_Roles>
                </observers>
            </controller_action_layout_render_before_adminhtml_permissions_user_edit>
        </events>
    </adminhtml>   
    <global>
        <events>
           	<admin_user_save_after>
        		<observers>
        			<Sid_Roles>
        				<type>singleton</type>
        				<class>Sid_Roles_Model_Observer</class>
        				<method>onAdminUserSaveAfter</method>
        			</Sid_Roles>
        		</observers>
        	</admin_user_save_after>
        	<customer_edit_prepare_layout>
        		<observers>
        		<Sid_Roles>
        				<type>singleton</type>
        				<class>Sid_Roles_Model_Observer</class>
        				<method>onCustomerEditPrepareLayout</method>
        		</Sid_Roles>
        		</observers>
        	</customer_edit_prepare_layout>
        	<core_block_abstract_prepare_layout_after>
        		<observers>
        		<Sid_Roles>
        				<type>singleton</type>
        				<class>Sid_Roles_Model_Observer</class>
        				<method>onCustomerGroupEditPrepareLayout</method>
        		</Sid_Roles>
        		</observers>
        	</core_block_abstract_prepare_layout_after>
        </events>
        <models>
            <sidroles>
                <class>Sid_Roles_Model</class>
                <resourceModel>sidroles_mysql4</resourceModel>
            </sidroles>
            <sidroles_mysql4>
                <class>Sid_Roles_Model_Mysql4</class>
                <entities>
                	<customergroups>
                	<table>sid_roles_customergroups</table>
                	</customergroups>
                </entities>
            </sidroles_mysql4>
            <customer>
            	<rewrite>
            		<customer_attribute_source_group>Sid_Roles_Model_Customer_Attribute_Source_Group</customer_attribute_source_group>
            	</rewrite>
            </customer>
        </models>
        <resources>
            <sidroles_setup>
                <setup>
                    <module>Sid_Roles</module>
                    <class>Egovs_Base_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sidroles_setup>
            <sidroles_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sidroles_write>
            <sidroles_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sidroles_read>
        </resources>
        <blocks>
            <sidroles>
                <class>Sid_Roles_Block</class>
            </sidroles>
            <adminhtml>
    			<rewrite>
    				<customer_group_grid>Sid_Roles_Block_Adminhtml_Customer_Group_Grid</customer_group_grid>
    			</rewrite>
    		</adminhtml>
        </blocks>
        <helpers>
            <sidroles>
                <class>Sid_Roles_Helper</class>
            </sidroles>
        </helpers>
    </global>
</config>