<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_Giropay>
            <version>3.0.0.0</version>
            <depends>Egovs_Paymentbase</depends>
        </Egovs_Giropay>
    </modules>
    <global>
        <models>
            <giropay>
                <class>Egovs_Giropay_Model</class>
            </giropay>
        </models>
        <helpers>
            <giropay>
                <class>Egovs_Giropay_Helper</class>
            </giropay>
        </helpers>
        <resources>
            <giropay_setup>
                <setup>
                    <module>Egovs_Giropay</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </giropay_setup>
            <giropay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </giropay_write>
            <giropay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </giropay_read>
        </resources>
        <blocks>
            <giropay><class>Egovs_Giropay_Block</class></giropay>
        </blocks>
    </global>
    <frontend>
    	<secure_url>
            <giropay>/giropay/giropay</giropay>
        </secure_url>
        <routers>
            <giropay>
                <use>standard</use>
                <args>
                    <module>Egovs_Giropay</module>
                    <frontName>giropay</frontName>
                </args>
            </giropay>
        </routers>
        <translate>
            <modules>
                <Egovs_Giropay>
                    <files>
                        <default>Egovs_Giropay.csv</default>
                    </files>
                </Egovs_Giropay>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Egovs_Giropay>
                    <files>
                        <default>Egovs_Giropay.csv</default>
                    </files>
                </Egovs_Giropay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <giropay>
                <currency>EUR</currency>
                <model>giropay/giropay</model>
                <payment_action>authorize</payment_action>
                <title>Giropay per Saferpay</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <autoclose>0</autoclose>
                <!-- Providerset für Produktivbetrieb -->
                <!--<providerset>17</providerset>-->
                <!-- Providerset für Testbetrieb -->
                <providerset>6</providerset>
                <cancel_order_after_active>1</cancel_order_after_active>
                <cancel_order_after>30</cancel_order_after>
                <!-- Der Kunde soll nach jeder Zahlung gelöscht werden -->
                <delete_customer_after_transaction>1</delete_customer_after_transaction>
                <group>epaybl</group>
            </giropay>
        </payment>
    </default>
</config>
