<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Bkg_VirtualGeo>
            <version>0.1.0.0</version>
        </Bkg_VirtualGeo>
    </modules>
    
    <adminhtml>
        <translate>
            <modules>
                <Bkg_VirtualGeo>
                    <files>
                        <default>Bkg_VirtualGeo.csv</default>
                    </files>
                </Bkg_VirtualGeo>
            </modules>
        </translate>
        <layout>
            <updates>
                <virtualgeo>
                    <file>bkg/virtualgeo.xml</file>
                </virtualgeo>
            </updates>
        </layout>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <virtualgeo/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <virtualgeo_observer>
                        <class>virtualgeo/observer</class>
                        <method>prepareProductSave</method>
                    </virtualgeo_observer>
                </observers>
            </catalog_product_prepare_save>
            <!-- 
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <virtualgeo_observer>
                        <class>virtualgeo/observer</class>
                        <method>appendBundleSelectionData</method>
                    </virtualgeo_observer>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <catalog_model_product_duplicate>
                <observers>
                    <virtualgeo_observer>
                        <class>virtualgeo/observer</class>
                        <method>duplicateProduct</method>
                    </virtualgeo_observer>
                </observers>
            </catalog_model_product_duplicate>
            <catalog_product_edit_action>
                <observers>
                    <virtualgeo_observer>
                        <class>virtualgeo/observer</class>
                        <method>setAttributeTabBlock</method>
                    </virtualgeo_observer>
                </observers>
            </catalog_product_edit_action>
            <catalog_product_save_before>
                <observers>
                    <virtualgeo_observer>
                        <class>virtualgeo/observer</class>
                        <method>onProductSaveBefore</method>
                    </virtualgeo_observer>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_after>
                <observers>
                    <virtualgeo_observer>
                        <class>virtualgeo/observer</class>
                        <method>onProductSaveAfter</method>
                    </virtualgeo_observer>
                </observers>
            </catalog_product_save_after>
            <catalog_product_new_action>
                <observers>
                    <virtualgeo_observer>
                        <class>virtualgeo/observer</class>
                        <method>setAttributeTabBlock</method>
                    </virtualgeo_observer>
                </observers>
            </catalog_product_new_action>
            <catalog_model_product_duplicate>
                <observers>
                    <bundle_observer>
                        <class>virtualgeo/observer</class>
                        <method>duplicateProduct</method>
                    </bundle_observer>
                </observers>
            </catalog_model_product_duplicate>
             -->
        </events>
		
    </adminhtml>
    <global>
       
        <fieldsets>
            <virtualgeo_sales_copy_order>
                <entity_id>
                    <to_regionallocation>order_id</to_regionallocation>
                </entity_id>
                <increment_id>
                    <to_regionallocation>order_increment_id</to_regionallocation>
                </increment_id>
                <created_at>
                    <to_regionallocation>*</to_regionallocation>
                </created_at>
                <updated_at>
                    <to_regionallocation>*</to_regionallocation>
                </updated_at>
                <customer_id>
                    <to_regionallocation>*</to_regionallocation>
                </customer_id>
            </virtualgeo_sales_copy_order>
            <virtualgeo_sales_copy_order_item>
                <item_id>
                    <to_regionallocation>order_item_id</to_regionallocation>
                </item_id>
                <name>
                    <to_regionallocation>product_name</to_regionallocation>
                </name>
                <sku>
                    <to_regionallocation>product_sku</to_regionallocation>
                </sku>
            </virtualgeo_sales_copy_order_item>
        </fieldsets>
        <catalog>
            <product>
                <type>
                    <virtualgeo translate="label" module="virtualgeo">
                        <label>Virtual Geo</label>
                        <model>virtualgeo/product_type</model>
                        <composite>1</composite>
                        <allowed_selection_types>
                            <simple/>
                            <virtual/>
                        </allowed_selection_types>
                        <price_model>virtualgeo/product_price</price_model>
                        <index_data_retreiver>bundle/catalogIndex_data_bundle</index_data_retreiver>
                        <index_priority>40</index_priority>
                        <price_indexer>bundle/indexer_price</price_indexer>
                        <stock_indexer>virtualgeo/indexer_stock</stock_indexer>
                    </virtualgeo>
                    <configurable>
                        <allow_product_types>
                            <virtualgeo/>
                        </allow_product_types>
                    </configurable>
                </type>
            </product>
        </catalog>
        <blocks>
            <virtualgeo>
                <class>Bkg_VirtualGeo_Block</class>
            </virtualgeo>
           
        </blocks>
        <helpers>
            <virtualgeo>
                <class>Bkg_VirtualGeo_Helper</class>
            </virtualgeo>
        </helpers>
        <models>
            <virtualgeo>
                <class>Bkg_VirtualGeo_Model</class>
                <resourceModel>virtualgeo_resource</resourceModel>
            </virtualgeo>
            <virtualgeo_resource>
				<class>Bkg_VirtualGeo_Model_Resource</class>
				<entities>
                   <components_regionallocation>
                    <table>virtualgeo_components_regionallocation</table>
                   </components_regionallocation>
                    <quote_options>
                        <table>virtualgeo_quote_options</table>
                    </quote_options>
                </entities>
            </virtualgeo_resource>
            
        </models>
        <resources>
            <bkg_virtualgeo_setup>
                <setup>
                    <module>Bkg_VirtualGeo</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </bkg_virtualgeo_setup>
        </resources>
        <events>
            <catalogindex_plain_reindex_after>
                <observers>
                    <bundle>
                        <class>virtualgeo/observer</class>
                        <method>catalogIndexPlainReindexAfter</method>
                    </bundle>
                </observers>
            </catalogindex_plain_reindex_after>
            <checkout_cart_product_add_after>
                 <observers>
                    <virtualgeo_cart_product_add_after>
                        <class>virtualgeo/observer</class>
                        <method>onCartProductAddAfter</method>
                    </virtualgeo_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
        </events>
     
    </global>
    <frontend>
        <routers>
            <virtualgeo>
                <use>standard</use>
                <args>
                    <module>Bkg_VirtualGeo</module>
                    <frontName>virtualgeo</frontName>
                </args>
            </virtualgeo>
        </routers>
        <translate>
            <modules>
                <Bkg_VirtualGeo>
                    <files>
                        <default>Bkg_VirtualGeo.csv</default>
                    </files>
                </Bkg_VirtualGeo>
            </modules>
        </translate>
        <layout>
            <updates>
                <virtualgeo >
                    <file>bkg/virtualgeo.xml</file>
                </virtualgeo>
            </updates>
        </layout>

    </frontend>
    <admin>
        <fieldsets>
            <catalog_product_dataflow>
                <qty>
                    <product_type>
                        <virtualgeo/>
                    </product_type>
                </qty>
                <min_qty>
                    <product_type>
                        <virtualgeo/>
                    </product_type>
                </min_qty>
                <is_qty_decimal>
                    <product_type>
                        <virtualgeo/>
                    </product_type>
                </is_qty_decimal>
                <backorders>
                    <product_type>
                        <virtualgeo/>
                    </product_type>
                </backorders>
                <min_sale_qty>
                    <product_type>
                        <virtualgeo/>
                    </product_type>
                </min_sale_qty>
                <max_sale_qty>
                    <product_type>
                        <virtualgeo/>
                    </product_type>
                </max_sale_qty>
                <is_in_stock>
                    <product_type>
                        <virtualgeo/>
                    </product_type>
                </is_in_stock>
                <notify_stock_qty>
                    <product_type>
                        <virtualgeo/>
                    </product_type>
                </notify_stock_qty>
                <manage_stock>
                    <product_type>
                        <virtualgeo/>
                    </product_type>
                </manage_stock>
            </catalog_product_dataflow>
        </fieldsets>
        <routers>
			<adminhtml>	
				<args>
					<modules>
						<Bkg_VirtualGeo_Adminhtml after="Mage_Adminhtml">Bkg_VirtualGeo_Adminhtml</Bkg_VirtualGeo_Adminhtml>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <crontab>
        <jobs>
            <egovs_virtualgeo>
                <schedule>
                    <cron_expr>*/9 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>virtualgeo/cron::runCron</model>
                </run>
            </egovs_virtualgeo>
        </jobs>
    </crontab>
	<default>
		<virtualgeo>
			<display_prices>
				<cart_sub_price_eq_null>1</cart_sub_price_eq_null>
			</display_prices>
		</virtualgeo>
	</default>
	 <virtualgeo>
        <fees>
            <sections>
                <bereitstellung>
                    <ident>bereitstellung</ident>
                    <label>Bereitstellungeentgelt</label>
                </bereitstellung>
                 <aufbereitung>
                    <ident>aufbereitung</ident>
                    <label>Aufbereitungsentgelt</label>
                </aufbereitung>
            </sections>
        </fees>
        <usage>
            <sections>
                <int>
                    <ident>int</ident>
                    <taxfree_label>Interne Nutzung für Länder ohne MwSt</taxfree_label>
                    <tax_label>Interne Nutzung für Länder mit MwSt</tax_label>
                </int>
                <ext>
                    <ident>ext</ident>
                    <taxfree_label>Externe Nutzung für Länder ohne MwSt</taxfree_label>
                    <tax_label>Externe Nutzung für Länder mit MwSt</tax_label>
                </ext>
                <intext>
                    <ident>intext</ident>
                    <taxfree_label>Interne u. Externe Nutzung für Länder ohne MwSt</taxfree_label>
                    <tax_label>Interne u. Externe Nutzung Nutzung für Länder mit MwSt</tax_label>
                </intext>
            </sections>
        </usage>
        </virtualgeo>
</config>