<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <Sid_Import>
            <version>0.1.1</version>
        </Sid_Import>
    </modules>
    <frontend>
        <routers>
            <import>
                <use>standard</use>
                <args>
                    <module>Sid_Import</module>
                    <frontName>import</frontName>
                </args>
            </import>
        </routers>
        <layout>
            <updates>
                <import>
                    <file>import.xml</file>
                </import>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
         <adminhtml>
           <args>
             <modules>
               <Sid_Import_Adminhtml after="Mage_Adminhtml">Sid_Import_Adminhtml</Sid_Import_Adminhtml>
             </modules>
           </args>
         </adminhtml>
       </routers>
    </admin>
    <adminhtml>
      <menu>
        <system>
            <children>
                <convert translate="title">
                    <children>
                        <supplierportal_import translate="title" module="sidimport">
                            <title>Import Supplier Portal</title>
                            <action>adminhtml/sidimport_import</action>
                            <sort_order>1</sort_order>
                        </supplierportal_import>
                    </children>
                </convert>
            </children>
        </system>
        </menu>
    <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <convert>
                                <children>
                                    <supplierportal_import translate="title" module="sidimport">
                                        <title>Import Supplier Portal</title>
                                        <sort_order>30</sort_order>
                                    </supplierportal_import>
                                </children>
                            </convert>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
        <layout>
            <updates>
                <sidimport>
                    <file>sid/import.xml</file>
                </sidimport>
            </updates>
        </layout>
            <translate>
            <modules>
                <Sid_Import>
                    <files>
                        <default>Sid_Import.csv</default>
                    </files>
                </Sid_Import>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <sidimport>
                <class>Sid_Import_Model</class>
                <resourceModel>sidimport_resource</resourceModel>
            </sidimport>
            <sidimport_resource>
                <class>Sid_Import_Model_Resource</class>
                <entities>
                    <storage>
                        <table>sidimport_storage</table>
                    </storage>
                </entities>
            </sidimport_resource>
        </models>
        <resources>
            <sidimport_setup>
                <setup>
                    <module>Sid_Import</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sidimport_setup>
            <import_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </import_write>
            <import_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </import_read>
        </resources>
        <blocks>
            <sidimport>
                <class>Sid_Import_Block</class>
            </sidimport>
        </blocks>
        <helpers>
            <sidimport>
                <class>Sid_Import_Helper</class>
            </sidimport>
        </helpers>
    </global>
</config>
