<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <Gka_Product>
            <version>0.1.0</version>
        </Gka_Product>
    </modules>
    <admin>
        <routers>
			<product>
				<use>admin</use>
				<args>
					<module>Gka_Product</module>
					<frontName>product</frontName>
				</args>
			</product>
        </routers>
    </admin>
    <global>
        <models>
            <gka_product>
                <class>Gka_Product_Model</class>
                <resourceModel>gka_product_mysql4</resourceModel>
            </gka_product>
            <gka_product_mysql4>
                <class>Gka_Product_Model_Mysql4</class>
                <entities>
                    <product>
                        <table>product</table>
                    </product>
                </entities>
            </gka_product_mysql4>
        </models>
        <resources>
            <gkaproduct_setup>
                <setup>
                    <module>Gka_Product</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gkaproduct_setup>
            <product_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </product_write>
            <product_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </product_read>
        </resources>
        <helpers>
            <gka_product>
                <class>Gka_Product_Helper</class>
            </gka_product>
        </helpers>
    </global>
    <crontab>
		<jobs>
			<gka_product>
				<schedule>
					<cron_expr>* * * * *</cron_expr>
				</schedule>
				<run>
					<model>gka_product/cron::runCron</model>
				</run>
			</gka_product>
		</jobs>
	</crontab>
</config>