<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <Sid_Framecontract>
            <version>0.1.15</version>
        </Sid_Framecontract>
    </modules>
    <frontend>
        <routers>
            <framecontract>
                <use>standard</use>
                <args>
                    <module>Sid_Framecontract</module>
                    <frontName>framecontract</frontName>
                </args>
            </framecontract>
        </routers>
        <layout>
            <updates>
                <framecontract>
                    <file>framecontract.xml</file>
                </framecontract>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<adminhtml>	
				<args>
					<modules>
						<Sid_Framecontract_Adminhtml after="Mage_Adminhtml">Sid_Framecontract_Adminhtml</Sid_Framecontract_Adminhtml>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		    <framecontract translate='title' module="framecontract">
				    <title>Framework Contract</title>
				    <sort_order>71</sort_order>
				    <children>
				        <contract translate='title' module="framecontract">
				    		    <title>Manage Contracts</title>
				    		    <sort_order>10</sort_order>
				    		    <action>adminhtml/framecontract_contract</action>
				    	  </contract>
				        <vendor translate='title' module="framecontract">
				    		    <title>Manage Vendors</title>
				    		    <sort_order>0</sort_order>
				    		    <action>adminhtml/framecontract_vendor</action>
				    	  </vendor>
				        <product_visibility translate='title' module="framecontract">
				    		    <title>Product Visibility</title>
				    		    <sort_order>10</sort_order>
				    		    <action>adminhtml/framecontract_product</action>
				    	  </product_visibility>
				    	
				    	<!--
				    	<order module="framecontract">
				    		<title>Product Order</title>
				    		<sort_order>10</sort_order>
				    		<action>framecontract/adminhtml_order</action>
				    	</order>
				    	 -->
				    </children>
			  </framecontract>

			  <system>
            <children>
                <convert translate="title">
                    <children>
                        <framcontract_import translate="title" module="framecontract">
                            <title>Import Framecontract Products</title>
                            <action>adminhtml/framecontract_import</action>
                            <sort_order>10</sort_order>
                        </framcontract_import>
                    </children>
                </convert>
            </children>
        </system>
		</menu>
    <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <framecontract translate='title' module="framecontract">
                        <title>Framework Contract</title>
                        <children>
                            <contract translate='title' module="framecontract">
                                <title>Manage Contracts</title>
                                <sort_order>10</sort_order>
                            </contract>
                            <vendor translate='title' module="framecontract">
                                <title>Manage Vendors</title>
                                <sort_order>20</sort_order>
                            </vendor>
                            <product_visibility translate='title' module="framecontract">
                                <title>Product Visibility</title>
                                <sort_order>30</sort_order>
                            </product_visibility>
                            <!--
                    				<order module="framecontract">
                    					<title>Product Order</title>
                    					<sort_order>10</sort_order>
                    					<action>framecontract/adminhtml_order</action>
                    				</order>
                    				 -->
                        </children>
                    </framecontract>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <framecontract translate="title" module="framecontract">
                                        <title>Framecontract Service Section</title>
                                    </framecontract>
                                </children>
                            </config>
                            <convert>
                                <children>
                                    <framcontract_import translate="title" module="framecontract">
                                        <title>Import Framecontract Products</title>
                                        <sort_order>30</sort_order>
                                    </framcontract_import>
                                </children>
                            </convert>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
        <layout>
            <updates>
                <framecontract>
                    <file>sid/framecontract.xml</file>
                </framecontract>
            </updates>
        </layout>
		    <translate>
            <modules>
                <Sid_Framecontract>
                    <files>
                        <default>Sid_Framecontract.csv</default>
                    </files>
                </Sid_Framecontract>
            </modules>
        </translate>
        <events>
            <controller_action_layout_generate_blocks_before>
                <observers>
                    <paymentbase>
                        <type>singleton</type>
                        <class>Sid_Framecontract_Model_Observer</class>
                        <method>onAdminSalesOrderView</method>
                    </paymentbase>
                </observers>
            </controller_action_layout_generate_blocks_before>
        </events>
    </adminhtml>
    <global>
       <events>
      
        </events>
        <models>
            <framecontract>
                <class>Sid_Framecontract_Model</class>
                <resourceModel>framecontract_mysql4</resourceModel>
            </framecontract>
            <framecontract_mysql4>
                <class>Sid_Framecontract_Model_Mysql4</class>
                <entities>
                    <contract>
                        <table>framecontract_contract</table>
                    </contract>
                    <files>
                        <table>framecontract_files</table>
                    </files>
                    <vendor>
                        <table>framecontract_vendor</table>
                    </vendor>
                    <transmit>
                        <table>framecontract_transmit</table>
                    </transmit>
                    <order>
                        <table>framecontract_order</table>
                    </order>
                    <los>
                        <table>framecontract_los</table>
                    </los>
                </entities>
            </framecontract_mysql4>
        </models>
        <resources>
            <framecontract_setup>
                <setup>
                    <module>Sid_Framecontract</module>
                    <class>Sid_Framecontract_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </framecontract_setup>
            <framecontract_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </framecontract_write>
            <framecontract_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </framecontract_read>
        </resources>
        <blocks>
            <framecontract>
                <class>Sid_Framecontract_Block</class>
            </framecontract>
        </blocks>
        <helpers>
            <framecontract>
                <class>Sid_Framecontract_Helper</class>
            </framecontract>
        </helpers>
        <template>
            <email>
                <framecontract_email_catalog_upload_request_template translate="label" module="framecontract">
                    <label>Catalog Upload Request</label>
                    <file>sid/framecontract/catalog_upload_request.html</file>
                    <type>html</type>
                </framecontract_email_catalog_upload_request_template>
                <framecontract_contract_qty_warning_email_template translate="label" module="framecontract">
                    <label>Warning for Contract Qty</label>
                    <file>sid/framecontract/warning_contract_qty.html</file>
                    <type>html</type>
                </framecontract_contract_qty_warning_email_template>
             </email>
        </template>
                <fieldsets>
            <sales_copy_order_billing_address>
                <dap>
                    <to_order>*</to_order>
                </dap>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <dap>
                    <to_order>*</to_order>
                </dap>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <dap>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </dap>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <dap>
                    <to_quote_address>*</to_quote_address>
                </dap>
            </sales_convert_order_address>
            <customer_address>
                <dap>
                    <to_quote_address>*</to_quote_address>
                </dap>
            </customer_address>
 
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <framecontract_los/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <crontab>
		<jobs>
			<framecontract>
				<schedule>
					<cron_expr>0 2 * * *</cron_expr>
				</schedule>
				<run>
					<model>framecontract/cron::disableExpiredContracts</model>
				</run>
			</framecontract>
			<framecontract_contract_warning_qty>
                <schedule>
                    <cron_expr>37 */8 * * *</cron_expr>
                </schedule>
                <run>
                    <model>framecontract/cron::sendStockWarning</model>
                </run>
            </framecontract_contract_warning_qty>
		</jobs>
	</crontab>
	<default>
        <framecontract>
            <email>
                <catalog_upload_request_template>framecontract_email_catalog_upload_request_template</catalog_upload_request_template>
            </email>
            <contract_qty>
                <qty>85</qty>
                <warning_email_template>framecontract_contract_qty_warning_email_template</warning_email_template>
            </contract_qty>
        </framecontract>
    </default>
</config>