.settings
.sass-cache
app/etc/local.xml
media/catalog/product
media/tmp
media/catalog/product
var/backups
var/cache
var/session
var/log
var/report
var/resource_config.json
*.bak
*.scss.bak
Thumbs.db
skin/frontend/*/*/css/*.css
