# SASS-Files
.sass-cache/
*.scss.bak
*.css.map

# Eclipse-Settings
.settings
.settings/
.project
.buildpath

# Magento-Config
app/etc/local.xml

#Debug-Toolbar
app/etc/modules/Magento_Debug.xml

# Media-Content
media/catalog/product
media/catalog/product
media/downloadable
media/egovs_productfile
media/tmp

# Working-Data
var/backups
var/cache
var/session
var/log
var/report
var/resource_config.json

# Backup-Files
*.bak

# Windows image file caches
Thumbs.db
ehthumbs.db

/app/etc_dwd
/app/etc_stala
/info.php
