# SASS-Files
.sass-cache/
*.scss.bak
*.css.map

# Eclipse-Settings
.settings
.settings/
.project
.buildpath

.idea
.idea/
.tern-project

Hackathon
Hackathon*
hackathon*

# Debug-Files
lib/Egovs/.localhost
app/code/local/Gka/Checkout/etc/debug.flag

# Magento-Config
app/etc/local.xml

# Media-Content
media
media/

# Working-Data
var/backups
var/cache
var/session
var/log
var/locks
var/report
var/resource_config.json
var/tmp

# Backup-Files
*.bak

# Windows image file caches
Thumbs.db
ehthumbs.db

# Zertifikate
lib/ePayment

/app/etc_*
/app/etc/etc.xml
/info.php
/var/importexport/*
*.exe
/.externalToolBuilders/
