<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Dwd_ProductOnDemand>
            <version>0.0.1.3</version>
            <depends>
                <Mage_Downloadable />
                <Dwd_ConfigurableDownloadable />
            </depends>
        </Dwd_ProductOnDemand>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <Dwd_ProductOnDemand>
                    <files>
                        <default>Dwd_ProductOnDemand.csv</default>
                    </files>
                </Dwd_ProductOnDemand>
            </modules>
        </translate>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <!-- Darf im Admin nicht bestellbar sein! -->
                        <!-- <prondemand/>-->
                    </available_product_types>
                </create>
            </order>
        </sales>
        <layout>
            <updates>
                <prondemand>
                    <file>dwd/prondemand.xml</file>
                </prondemand>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <prondemand_observer>
                        <class>prondemand/product_observer</class>
                        <method>prepareProductSave</method>
                    </prondemand_observer>
                </observers>
            </catalog_product_prepare_save>
            <sales_order_item_cancel>
                <observers>
                    <prondemand_clean_db>
                        <class>prondemand/product_observer</class>
                        <method>cleanUpLinkGarbage</method>
                    </prondemand_clean_db>
                </observers>
            </sales_order_item_cancel>
            <sales_creditmemo_item_save_after>
                <observers>
                    <prondemand_clean_db>
                        <class>prondemand/product_observer</class>
                        <method>cleanUpLinkGarbage</method>
                    </prondemand_clean_db>
                </observers>
            </sales_creditmemo_item_save_after>
        </events>            
    </adminhtml>
    
    <global>
        <fieldsets>
            <prondemand_sales_copy_order>
                <entity_id>
                    <to_prondemand>order_id</to_prondemand>
                </entity_id>
                <increment_id>
                    <to_prondemand>order_increment_id</to_prondemand>
                </increment_id>
                <created_at>
                    <to_prondemand>*</to_prondemand>
                </created_at>
                <updated_at>
                    <to_prondemand>*</to_prondemand>
                </updated_at>
                <customer_id>
                    <to_prondemand>*</to_prondemand>
                </customer_id>
            </prondemand_sales_copy_order>
            <prondemand_sales_copy_order_item>
                <item_id>
                    <to_prondemand>order_item_id</to_prondemand>
                </item_id>
                <name>
                    <to_prondemand>product_name</to_prondemand>
                </name>
                <sku>
                    <to_prondemand>product_sku</to_prondemand>
                </sku>
            </prondemand_sales_copy_order_item>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <catalog>
            <product>
                <type>
                    <prondemand translate="label" module="prondemand">
                        <label>Product On Demand</label>
                        <model>prondemand/product_type_ondemand</model>
                        <composite>0</composite>
                        <price_model>prondemand/product_price</price_model>
                        <is_qty>1</is_qty>
                        <can_use_qty_decimals>0</can_use_qty_decimals>
                    </prondemand>
                    <configurable>
                        <allow_product_types>
                            <prondemand/>
                        </allow_product_types>
                    </configurable>
                </type>
   
               
                <grouped>
                    <allow_product_types>
                        <prondemand/>
                    </allow_product_types>
                </grouped>
            </product>
        </catalog>
        <pdf>
            <invoice>
                <downloadable>downloadable/sales_order_pdf_items_invoice</downloadable>
            </invoice>
            <creditmemo>
                <downloadable>downloadable/sales_order_pdf_items_creditmemo</downloadable>
            </creditmemo>
        </pdf>
        <blocks>
            <prondemand>
                <class>Dwd_ProductOnDemand_Block</class>
            </prondemand>
        </blocks>
        <helpers>
            <prondemand>
                <class>Dwd_ProductOnDemand_Helper</class>
            </prondemand>
        </helpers>
        <models>
            <prondemand>
                <class>Dwd_ProductOnDemand_Model</class>
                <resourceModel>prondemand_resource</resourceModel>
            </prondemand>
            <prondemand_resource>
                <class>Dwd_ProductOnDemand_Model_Resource</class>
            </prondemand_resource>
        </models>
        <resources>
            <prondemand_setup>
                <setup>
                    <module>Dwd_ProductOnDemand</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </prondemand_setup>
        </resources>
        <events>   
            <sales_order_item_save_commit_after>
                <observers>
                    <prondemand_product_observer>
                        <class>prondemand/product_observer</class>
                        <method>saveDownloadableOrderItem</method>
                    </prondemand_product_observer>
                </observers>
            </sales_order_item_save_commit_after>  
             <sales_quote_item_set_product>
                <observers>
                    <prodondemand_product_observer_item_save_commit_after>
                        <class>prondemand/product_observer</class>
                        <method>onSalesQuoteItemSetProduct</method>
                    </prodondemand_product_observer_item_save_commit_after>
                </observers>
            </sales_quote_item_set_product>   
            <sales_order_save_commit_after>
                <observers>
                    <prondemand_observer>
                        <class>prondemand/observer</class>
                        <method>setLinkStatus</method>
                    </prondemand_observer>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </global>
    
    <frontend>
        <routers>
            <prondemand>
                <use>standard</use>
                <args>
                    <module>Dwd_ProductOnDemand</module>
                    <frontName>prondemand</frontName>
                </args>
            </prondemand>
        </routers>
        <secure_url>
            <prondemand>/prondemand/customer/</prondemand>
        </secure_url>
        <translate>
            <modules>
                <Dwd_ProductOnDemand>
                    <files>
                        <default>Dwd_ProductOnDemand.csv</default>
                    </files>
                </Dwd_ProductOnDemand>
            </modules>
        </translate>
        <layout>
            <updates>
                <prondemand module="Dwd_ProductOnDemand">
                    <file>dwd/prondemand.xml</file>
                </prondemand>
            </updates>
        </layout>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <checkout_type_onepage_save_order_after>
                        <class>prondemand/observer</class>
                        <method>setHasDownloadableProducts</method>
                    </checkout_type_onepage_save_order_after>
                </observers>
            </checkout_type_onepage_save_order_after>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <checkout_type_multishipping_create_orders_single>
                        <class>prondemand/observer</class>
                        <method>setHasDownloadableProducts</method>
                    </checkout_type_multishipping_create_orders_single>
                </observers>
            </checkout_type_multishipping_create_orders_single>
            <checkout_allow_guest>
                <observers>
                    <checkout_allow_guest>
                        <class>prondemand/observer</class>
                        <method>isAllowedGuestCheckout</method>
                    </checkout_allow_guest>
                </observers>
            </checkout_allow_guest>
            <sales_quote_remove_item>
                <observers>
                    <cart_remove_unique_pod_data>
                        <class>prondemand/product_observer</class>
                        <method>removeUniquePodData</method>
                    </cart_remove_unique_pod_data>
                </observers>
            </sales_quote_remove_item>
        </events>
        
    </frontend>
    
    <admin>
        <fieldsets>
            <catalog_product_dataflow>
                <qty>
                    <product_type>
                        <prondemand/>
                    </product_type>
                </qty>
                <min_qty>
                    <product_type>
                        <prondemand/>
                    </product_type>
                </min_qty>
                <is_qty_decimal>
                    <product_type>
                        <prondemand/>
                    </product_type>
                </is_qty_decimal>
                <backorders>
                    <product_type>
                        <prondemand/>
                    </product_type>
                </backorders>
                <min_sale_qty>
                    <product_type>
                        <prondemand/>
                    </product_type>
                </min_sale_qty>
                <max_sale_qty>
                    <product_type>
                        <prondemand/>
                    </product_type>
                </max_sale_qty>
                <is_in_stock>
                    <product_type>
                        <prondemand/>
                    </product_type>
                </is_in_stock>
                <notify_stock_qty>
                    <product_type>
                        <prondemand/>
                    </product_type>
                </notify_stock_qty>
                <manage_stock>
                    <product_type>
                        <prondemand/>
                    </product_type>
                </manage_stock>
            </catalog_product_dataflow>
        </fieldsets>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dwd_ProductOnDemand before="Mage_Adminhtml">Dwd_ProductOnDemand_Adminhtml</Dwd_ProductOnDemand>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <default>
        <catalog>
            <dwd_pod>
                <hash_algorithm>sha1</hash_algorithm>
                <ca_path><![CDATA[/etc/ssl/certs]]></ca_path>
                <verify_peer>1</verify_peer>
                <send_back_url>1</send_back_url>
            </dwd_pod>
        </catalog>
    </default>
    
    <crontab>
        <jobs>
            <dwd_pod_validate_purchased_links>
                <schedule>
                    <cron_expr>0,15,30,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>prondemand/observer::cleanUpExpiredPurchasedLinks</model>
                </run>
            </dwd_pod_validate_purchased_links>
        </jobs>
    </crontab>
</config>