<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_Bitv>
            <version>0.1.0</version>
        </Egovs_Bitv>
    </modules> 
    <global>
        <blocks>
            <bitv>
                <class>Egovs_Bitv_Block</class>
            </bitv>
        </blocks>
        <helpers>
            <bitv>
                <class>Egovs_Bitv_Helper</class>
            </bitv>
        </helpers>
    </global>
    <frontend>
       	<translate>
            <modules>
                <Egovs_Bitv>
                    <files>
                        <default>Egovs_Bitv.csv</default>
                    </files>
                </Egovs_Bitv>
            </modules>
        </translate>
        <layout>
			<updates>
				<egovsbitv>
					<file>egovs/bitv.xml</file>
				</egovsbitv>
			</updates>
		</layout>
    </frontend>
    <default>
    <web>
    	<url>
    		<header_home_link>http://www.sachsen.de</header_home_link>
    	</url>
    </web>
    </default>
</config>