<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <sections>
         <web>
            <groups>
                <url>
                    <fields>
                         <header_home_link translate="label">
                            <label>Header Home Link</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                           
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </header_home_link>
                      </fields>
                </url>
           </groups>
        </web>
    </sections>
</config>
