<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_Girosolution>
            <version>1.0.0.0</version>
            <depends>Egovs_Paymentbase</depends>
        </Egovs_Girosolution>
    </modules>
    <global>
        <models>
            <egovs_girosolution>
                <class>Egovs_Girosolution_Model</class>
            </egovs_girosolution>
        </models>
        <helpers>
            <egovs_girosolution>
                <class>Egovs_Girosolution_Helper</class>
            </egovs_girosolution>
            <egovs_girosolution_giropay>
                <class>Egovs_Girosolution_Helper</class>
            </egovs_girosolution_giropay>
            <egovs_girosolution_creditcard>
                <class>Egovs_Girosolution_Helper</class>
            </egovs_girosolution_creditcard>
        </helpers>
        <resources>
            <egovs_girosolution_setup>
                <setup>
                    <module>Egovs_Girosolution</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </egovs_girosolution_setup>
            <egovs_girosolution_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </egovs_girosolution_write>
            <egovs_girosolution_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </egovs_girosolution_read>
        </resources>
        <blocks>
            <egovs_girosolution><class>Egovs_Girosolution_Block</class></egovs_girosolution>
        </blocks>
    </global>
    <frontend>
    	<secure_url>
            <egovs_girosolution>/girosolution</egovs_girosolution>
        </secure_url>
        <routers>
            <egovs_girosolution>
                <use>standard</use>
                <args>
                    <module>Egovs_Girosolution</module>
                    <frontName>girosolution</frontName>
                </args>
            </egovs_girosolution>
        </routers>
        <translate>
            <modules>
                <Egovs_Girosolution>
                    <files>
                        <default>Egovs_Girosolution.csv</default>
                    </files>
                </Egovs_Girosolution>
            </modules>
        </translate>
        <events>
            <payment_method_is_active>
                <observers>
                    <egovs_girosolution_payment_method_is_active>
                        <type>singleton</type>
                        <class>egovs_girosolution/observer</class>
                        <method>paymentMethodIsActive</method>
                    </egovs_girosolution_payment_method_is_active>
                </observers>
            </payment_method_is_active>
        </events>
        <layout>
            <updates>
                <egovs_girosolution>
                    <file>egovs/girosolution.xml</file>
                </egovs_girosolution>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Egovs_Girosolution>
                    <files>
                        <default>Egovs_Girosolution.csv</default>
                    </files>
                </Egovs_Girosolution>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <egovs_girosolution_giropay>
                <currency>EUR</currency>
                <model>egovs_girosolution/payment_giropay</model>
                <payment_action>authorize</payment_action>
                <title>Giropay per Girosolution</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <autoclose>0</autoclose>
                <cancel_order_after_active>1</cancel_order_after_active>
                <cancel_order_after>45</cancel_order_after>
                <!-- Der Kunde soll nach jeder Zahlung gelöscht werden -->
                <delete_customer_after_transaction>1</delete_customer_after_transaction>
                <group>epaybl</group>
            </egovs_girosolution_giropay>
            <egovs_girosolution_creditcard>
                <currency>EUR</currency>
                <model>egovs_girosolution/payment_creditcard</model>
                <payment_action>authorize</payment_action>
                <use_pseudo>1</use_pseudo>
                <title>Kreditkarte per Girosolution</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <autoclose>0</autoclose>
                <cancel_order_after_active>1</cancel_order_after_active>
                <cancel_order_after>45</cancel_order_after>
                <!-- Der Kunde soll nach jeder Zahlung gelöscht werden -->
                <delete_customer_after_transaction>1</delete_customer_after_transaction>
                <group>epaybl</group>
            </egovs_girosolution_creditcard>
        </payment>
    </default>
</config>
