<?xml version="1.0"?>
<config>
    <modules>
        <Egovs_Girosolution>
            <version>3.0.0.0</version>
            <depends>Egovs_Paymentbase</depends>
        </Egovs_Girosolution>
    </modules>
    <global>
        <models>
            <girosolution>
                <class>Egovs_Girosolution_Model</class>
            </girosolution>
        </models>
        <helpers>
            <girosolution>
                <class>Egovs_Girosolution_Helper</class>
            </girosolution>
        </helpers>
        <resources>
            <girosolution_setup>
                <setup>
                    <module>Egovs_Girosolution</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </girosolution_setup>
            <girosolution_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </girosolution_write>
            <girosolution_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </girosolution_read>
        </resources>
        <blocks>
            <girosolution><class>Egovs_Girosolution_Block</class></girosolution>
        </blocks>
    </global>
    <frontend>
    	<secure_url>
            <girosolution>/girosolution</girosolution>
        </secure_url>
        <routers>
            <girosolution>
                <use>standard</use>
                <args>
                    <module>Egovs_Girosolution</module>
                    <frontName>girosolution</frontName>
                </args>
            </girosolution>
        </routers>
        <translate>
            <modules>
                <Egovs_Girosolution>
                    <files>
                        <default>Egovs_Girosolution.csv</default>
                    </files>
                </Egovs_Girosolution>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Egovs_Girosolution>
                    <files>
                        <default>Egovs_Girosolution.csv</default>
                    </files>
                </Egovs_Girosolution>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <girosolution_giropay>
                <currency>EUR</currency>
                <model>girosolution/payment_giropay</model>
                <payment_action>authorize</payment_action>
                <title>Giropay per Girosolution</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <autoclose>0</autoclose>
                <cancel_order_after_active>1</cancel_order_after_active>
                <cancel_order_after>30</cancel_order_after>
                <!-- Der Kunde soll nach jeder Zahlung gelöscht werden -->
                <delete_customer_after_transaction>1</delete_customer_after_transaction>
                <group>epaybl</group>
            </girosolution_giropay>
            <girosolution_creditcard>
                <currency>EUR</currency>
                <model>girosolution/payment_creditcard</model>
                <payment_action>authorize</payment_action>
                <title>Kreditkarte per Girosolution</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <autoclose>0</autoclose>
                <cancel_order_after_active>1</cancel_order_after_active>
                <cancel_order_after>30</cancel_order_after>
                <!-- Der Kunde soll nach jeder Zahlung gelöscht werden -->
                <delete_customer_after_transaction>1</delete_customer_after_transaction>
                <group>epaybl</group>
            </girosolution_creditcard>
        </payment>
    </default>
</config>
