<?xml version="1.0"?>
<config>
    <modules>
        <Gka_Reports>
            <version>0.1.1</version>
        </Gka_Reports>
    </modules>
    <frontend>
        <routers>
            <gka_reports>
                <use>standard</use>
                <args>
                    <module>Gka_Reports</module>
                    <frontName>gka_reports</frontName>
                </args>
            </gka_reports>
        </routers>
        <layout>
            <updates>
                <reports>
                    <file>gka/reports.xml</file>
                </reports>
            </updates>
        </layout>
        <translate>
            <modules>
              <Gka_Reports>
                  <files>
                      <default>Gka_Reports.csv</default>
                  </files>
              </Gka_Reports>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Gka_Reports_Adminhtml after="Mage_Adminhtml">Gka_Reports_Adminhtml</Gka_Reports_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<report>
                <children>
                <gka_reports module="gka_reports">
                    <title>GKA</title>
                    <sort_order>71</sort_order>
                    <children>
                        <transaction module="gka_reports">
                            <title>Transactions</title>
                            <sort_order>10</sort_order>
                            <action>adminhtml/gkareports_transaction/index</action>
                        </transaction>
                        <overview module="gka_reports">
                            <title>Overview</title>
                            <sort_order>10</sort_order>
                            <action>adminhtml/gkareports_overview/index</action>
                        </overview>
                        <minority module="gka_reports">
                            <title>Minority Interest</title>
                            <sort_order>10</sort_order>
                            <action>adminhtml/gkareports_minority/index</action>
                        </minority>

                    </children>
                </gka_reports>
                </children>
			</report>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
                    <children>
                    <report>
					<children>
						<gka_reports>
							<title>GKA Reports Module</title>
							<sort_order>10</sort_order>
                            <children>
                                <transaction module="gka_reports">
                                    <title>Transactions</title>
                                    <sort_order>10</sort_order>
                                    <action>adminhtml/gkareports_transaction/index</action>
                                </transaction>
                                <overview module="gka_reports">
                                    <title>Overview</title>
                                    <sort_order>10</sort_order>
                                    <action>adminhtml/gkareports_overview/index</action>
                                </overview>
                                <minority module="gka_reports">
                                    <title>Minority Interest</title>
                                    <sort_order>10</sort_order>
                                    <action>adminhtml/gkareports_minority/index</action>
                                </minority>

                            </children>
						</gka_reports>
					</children>
                    </report>
                    </children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<reports>
					<file>gka/reports.xml</file>
				</reports>
			</updates>
		</layout>
        <translate>
            <modules>
                <Gka_Reports>
                    <files>
                        <default>Gka_Reports.csv</default>
                    </files>
                </Gka_Reports>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <gka_reports>
                <class>Gka_Reports_Model</class>
                <resourceModel>gka_reports_resource</resourceModel>
            </gka_reports>
            <gka_reports_resource>
                <class>Gka_Reports_Model_Resource</class>
            </gka_reports_resource>
        </models>
        <resources>
            <gkareports_setup>
                <setup>
                    <module>Gka_Reports</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gkareports_setup>
            <gkareports_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gkareports_write>
            <gkareports_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gkareports_read>
        </resources>
        <blocks>
            <gka_reports>
                <class>Gka_Reports_Block</class>
            </gka_reports>
        </blocks>
        <helpers>
            <gka_reports>
                <class>Gka_Reports_Helper</class>
            </gka_reports>
        </helpers>
        <fieldsets>
            <sales_convert_quote_item>
                <minority_interest>
                    <to_order_item>*</to_order_item>
                </minority_interest>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                 <minority_interest>
                    <to_quote_item>*</to_quote_item>
                </minority_interest>
            </sales_convert_order_item>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <minority_interest/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
</config>