<?xml version="1.0"?>
<config>
    <modules>
        <Gka_Reports>
            <version>0.1.0</version>
        </Gka_Reports>
    </modules>
    <frontend>
        <routers>
            <gka_reports>
                <use>standard</use>
                <args>
                    <module>Gka_Reports</module>
                    <frontName>gka_reports</frontName>
                </args>
            </gka_reports>
        </routers>
        <layout>
            <updates>
                <reports>
                    <file>gka/reports.xml</file>
                </reports>
            </updates>
        </layout>
        <translate>
            <modules>
              <Gka_Reports>
                  <files>
                      <default>Gka_Reports.csv</default>
                  </files>
              </Gka_Reports>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Gka_Reports_Adminhtml after="Mage_Adminhtml">Gka_Reports_Adminhtml</Gka_Reports_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<report>
                <children>
                <gka module="gka_reports">
                    <title>GKA</title>
                    <sort_order>71</sort_order>
                    <children>
                        <transaction module="gka_reports">
                            <title>Transaction</title>
                            <sort_order>10</sort_order>
                            <action>adminhtml/gkareports_transaction/index</action>
                        </transaction>
                        <overview module="gka_reports">
                            <title>Overview</title>
                            <sort_order>10</sort_order>
                            <action>adminhtml/gkareports_overview/index</action>
                        </overview>

                    </children>
                </gka>
                </children>
			</report>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Gka_Reports>
							<title>Reports Module</title>
							<sort_order>10</sort_order>
						</Gka_Reports>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<reports>
					<file>gka/reports.xml</file>
				</reports>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <gka_reports>
                <class>Gka_Reports_Model</class>
                <resourceModel>gka_reports_resource</resourceModel>
            </gka_reports>
            <gka_reports_resource>
                <class>Gka_Reports_Model_Resource</class>
            </gka_reports_resource>
        </models>
        <resources>
            <gkareports_setup>
                <setup>
                    <module>Gka_Reports</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gkareports_setup>
            <gkareports_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gkareports_write>
            <gkareports_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gkareports_read>
        </resources>
        <blocks>
            <gka_reports>
                <class>Gka_Reports_Block</class>
            </gka_reports>
        </blocks>
        <helpers>
            <gka_reports>
                <class>Gka_Reports_Helper</class>
            </gka_reports>
        </helpers>
    </global>
</config>