#logo                                { background: url("../images/logo_dimdi_german.gif") no-repeat 0 0 transparent; }
.wrapper                             { background: url("../images/dimdi_head.gif") repeat-x; }
.header-container                    { background: none; }
.buttons-set a.egovsbutton           { background: url("../images/button_hintergrund.png") repeat-x scroll 0 0 #CFCFCF !important; }
a.egovsbutton                        { background: url("../images/button_hintergrund.png") repeat-x scroll 0 0 #CFCFCF !important; }
a.egovslistbutton                    { background: url("../images/button_hintergrund.png") repeat-x scroll 0 0 #CFCFCF !important; }
a.totalsorderbutton                  { background: url("../images/button_hintergrund.png") repeat-x scroll 0 0 #CFCFCF; }
button.button                        { background: url("../images/button_hintergrund.png") repeat-x scroll 0 0 #CFCFCF; }
button.form-button-alt               { background: url("../images/button_hintergrund.png") repeat-x scroll 0 0 #CFCFCF; }
.block .block-content a.egovsbutton  { background: url("../images/button_hintergrund.png") repeat-x scroll 0 0 #CFCFCF; }
div.col-main ul.links a              { background: url("../images/vanstrich.gif") no-repeat scroll 0 3px transparent; }
.block .block-content a              { background: url("../images/vanstrich.gif") no-repeat scroll 0 3px transparent; }
.block .block-content .active > a    { background: url("../images/vanstrich.gif") no-repeat scroll 0 3px transparent; }
.block .block-content .parent a      { background: url("../images/vanstrich.gif") no-repeat scroll 0 3px transparent; }
.products-list .product-descriptor a { background: url("../images/vanstrich.gif") no-repeat left; }
ul.add-to-links a                    { background: url("../images/vanstrich.gif") no-repeat left; }
.agree-content a                     { background: url("../images/vanstrich.gif") no-repeat scroll 0 3px transparent; }
.sitemapegovs a                      { background: url("../images/vanstrich.gif") no-repeat scroll 0 3px transparent; }