a { text-decoration: none; color: #003366; font-size: 1em; line-height: 1.5em; }
a:hover {text-decoration: none; color: #ff6600; }
body { background-color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; width: 990px; }
h1, h2 {color:#003366;}
.page { width:990px; margin:0; padding:0px 0; text-align:left; }
a.egovsbutton { padding:5px; overflow:visible; width:auto; display: block; border-width:1px; cursor:pointer; -webkit-border-fit:lines; background-color:#cfcfcf; border-style: solid; color: rgb(0,0,0); border-color: rgb(202,202,202) rgb(123,123,123) rgb(123,123,123) rgb(202,202,202); margin: 5px !important; padding-left: 5px !important; }
a.egovsbutton:hover, a.egovslistbutton:hover, a.totalsorderbutton:hover { text-decoration: underline; }
a.egovsbutton span{ font-weight: normal; }
a.egovslistbutton { color: #000000; font-weight: normal; }
button.egovslistbutton {text-decoration:none;}
a.egovslistbutton span {color: #003366;}
a.totalsorderbutton { border-color: #CACACA #7B7B7B #7B7B7B #CACACA; border-style: solid; border-width: 1px; color: #003366; cursor: pointer; display: block; font-size: 1.2em; font-weight: bold; line-height: 1.3em; margin-bottom: 5px; overflow: visible; padding: 8px; text-align: center; width: auto; }
.page-title a.egovsbutton { display: inline; }
#menuesprung { position: static; }
#menuesprung a:active, #menuesprung a:focus { position:absolute; width:20em; top:95px; left:5px; padding-left: 5px; margin:1ex 1ex 1ex 1ex; text-decoration: underline; color:#003456; background-color:#f49e00; z-index:9; font-family:Arial, Verdana, Helvetica, Sans Serif; font-weight:bold; }
.col-main { width:706px; }
.col-main a, .col-main a:hover { text-decoration: underline; }
.col2-right-layout .col-main { margin-left: 10px; }
.col3-layout .col-main { margin-left:0px; }
.col2-set .col-1 { width:49%; }
.col2-set .wide { width:65%; }
.clear { clear: both; }
.subtitle { font-size: 0.8em; font-weight: normal;}
.col1-wide { margin-top: 10px; }
input.input-text,select,textarea { border:1px solid #ddd; }
button.button { overflow:visible; width:auto; border-width:1px; padding:0px 10px 0px 10px; cursor:pointer; -webkit-border-fit:lines; border-style: solid; border-color: rgb(202,202,202) rgb(123,123,123) rgb(123,123,123) rgb(202,202,202); }
button.button span { float:left; padding:0 0 0 0; font:12px/21px Arial, Helvetica, sans-serif; text-align:center; white-space:nowrap; color:#000; }
button.disabled { border-color:#AAA #000 #000 #AAA !important; background:#CCC !important; }
button.disabled span { color: #EEE}
button.form-button-alt span {color: #003366;}
fieldset .form-list fieldset {margin-bottom: 0px;}
.form-list label { padding-right: 0px; vertical-align: bottom; }
.group-select li { margin:0 0 5px; }
.group-select input.input-text, .group-select textarea { width:510px; margin-bottom:0px; }
.group-select select { margin-bottom:0px; margin-top:0px; }
.group-select .input-box input.input-text, .group-select .input-box textarea { margin-bottom:0px; margin-top:0px; }
.input-box input#year, .input-box input#month, .input-box input#day{ width:100px; }
.group-select .dob-day, .group-select .dob-month, .group-select .dob-year {width:110px;}
.buttons-set { clear:both; margin:5px 0 0; padding:5px; border:1px solid #ddd; }
.buttons-set .back-link { float:left; line-height:20px; text-decoration: none; }
.buttons-set .break-link { float:left; margin-left:15px; line-height:20px; text-decoration: none; }
.buttons-set button.button { float:right; }
.buttons-set .flr { width:165px; float:right; }
p.required { font-size:10px; text-align:left; margin-right:0px; }
.error-msg, .success-msg, .note-msg, .notice-msg { font-size:12px; }
.note-msg, .notice-msg { olor:#000000; font-size:12px; }
.sorter .sort-by .sortbutton { float:right; border: 1px solid #C7D1C7; margin-left: 4px; text-align: center; width: 15px; padding: 4px 0 4px 0;}
tr.tax-details td { background-color:#f6f6f6; }
.std a[href] { text-decoration:underline; }
#logo { height: 95px;position: absolute;top: 0;left: 0px;width: 215px;z-index: 100; float:none;}
.header { border-width:0px; background-repeat: no-repeat; position: relative; width: 100%; height: 92px; margin-bottom: 32px; }
.header .welcome-msg { font-weight:bold; text-align:left; padding-left:30px; color: rgb(255,255,255); margin-top:18px; margin-left: 0px; font-size: 14px; position: absolute; top: 5px; left: 200px; }
.header .links a { color: #003366; text-decoration: none; font-size: 12px; }
.header ul.links li{ display:inline; right 2px no-repeat; padding:0 0px 0 10px; }
.header ul.links li a:hover{ text-decoration:none; color: #ff6600; }
#nav li a { display:block; text-decoration: underline; }
#nav li a:hover { text-decoration: underline; }
.block .block-title { border-width: 0px 0px 0px 0px !important; padding:0 10px; border-color: #a3abb3; border-style: solid; background-color: #ccd6e0; }
.block .block-title h2 { font-size:13px; font-weight:bold; line-height:1.5; color: #000000; }
.block .block-title h3 {color: #000000;}
.block h3 { font-size:14px; line-height:1.5; color: #000000; }
.block .block-content { padding:10px; background-color: #eef3f7; color: rgb(0,0,0); }
#jumptargetcheckout_login .col-1.block .block-content { padding-bottom: 110px; }
#jumptargetcheckout_login .col-2.block .block-content { padding-bottom: 5px; }
.block .block-content .active > a {font-weight: bold !important;}
.block .block-content li.current { padding-left: 15px; font-weight: bold !important;}
.block .block-content a.egovsbutton { border-color: #CACACA #7B7B7B #7B7B7B #CACACA; border-style: solid; border-width: 1px; text-align  : center; }
div.block-content ul li {margin-bottom: 5px}
.block-layered-nav { display:none; }
.block-cart .subtotal { text-align:center; font-weight: normal; margin-top: 0px; }
#cartbox { background-color: #EEF3F7; color: #000000; padding: 10px 10px 40px; }
.btn-remove, .product-image { background-image: none !important; }
.mini-products-list .product-details { margin: 70px 0 5px 5px; padding-bottom: 5px; border-bottom: 2px solid #A3ABB3; }
.block-related li { padding:5px 0; border-top: 0px; border-bottom: 0px; }
.block-related input.checkbox { float:left; }
.block-related .item { margin-left:20px; }
.block-related .item .product-image { float:left; }
.block-related .item .product-details { margin-left:65px; }
.block-compare a { background-image: none !important; }
.products-grid { width:100%; table-layout: fixed; }
.products-grid td { width:50%; overflow: hidden; }
h3.product-grid-name { font-size: 1em; line-height: 1.5em; margin-top: 8px; }
table.products-grid div.std {display: none;}
.products-list .product-shop { width:320px; }
.delivery-time-details { display:none; }
.cart-price { font-weight: normal; }
.shopping-cart-totals tfoot span.price, .price {color:#003366;}
.add-to-box .or { display:none; }
ul.add-to-links { clear: left; margin: 10px 0 10px 0; }
.product-view .description {margin-top: 10px;}
.product-view .additional h3 {display:none;}
.product-view .tags {margin: 10px 0 10px 0; }
.tags  p {margin-top: 10px;}
.buttons-set-shopping-cart { clear: both; margin: 5px 0 25px; text-align: right; }
.shopping-cart-totals { background-color: #EEF3F7; border: 1px solid #DDDDDD; float: right; padding: 10px; text-align: right; width: 90%; }
#shopping-cart-table thead {background-color: #ccd6e0; color:#000000;}
#shopping-cart-totals-table { float: right; border-collapse: collapse; margin-bottom: 10px; }
.shopping-cart-totals tfoot { font-size: 100%; border: 2px solid #000000;}
.shopping-cart-totals tfoot tr { border-top: 0px solid #000000; }
.shopping-cart-totals tr td { padding-bottom: 3px; }
.shopping-cart-totals .price { color: #000000; font-size: 100%; }
#shopping-cart-totals-table .tax-details { font-weight: normal;}
#shopping-cart-totals-table .tax-details td { padding-bottom: 3px; background-color: #EEF3F7;}
.shopping-cart-totals tfoot tr td, .shopping-cart-totals tfoot tr th  { padding: 3px; }
#shopping-cart-totals-table  #total_excl_tax_title, #shopping-cart-totals-table  #total_excl_tax_value, #shopping-cart-totals-table  #total_incl_tax_title, #shopping-cart-totals-table  #total_incl_tax_value { font-weight: bold;}
#total_incl_tax_row { border-top: 1px solid black}
.discount { clear: both; }
.checkout-progress { padding:0 50px; margin:10px 0; }
.checkout-progress li { float:left; width:14%; border-top:5px solid #ccc; text-align:center; color:#ccc; }
.checkout-progress li.active { border-top-color:#000; color:#000; }
.multiple-checkout .col1-wide { border-top: 1px solid #DDDDDD; margin-bottom: 20px; padding-top: 10px;}
.account-login .new-users  .block-content {height: 16.4em;}
.account-login .new-users  .block-content  .mb30 {margin-bottom: 52px;}
.account-login .registered-users  .block-content { padding-bottom: 27px;}
.footer a { color: #003366; }
.footer a:hover { color: #ff6600; }
.footer p { display:none; }
.footer address { text-align:center; color: rgb(96,96,96); padding:10px; }
.footer ul { display:block; text-align: center; margin-left:0px; }