<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Dwd_Periode>
            <version>0.1.4</version>
        </Dwd_Periode>
    </modules>
    <admin>
  
		<routers>
			<adminhtml>	
				<args>
					<modules>
						<Dwd_Periode_Adminhtml after="Mage_Adminhtml">Dwd_Periode_Adminhtml</Dwd_Periode_Adminhtml>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Dwd_Periode>
                    <files>
                        <default>Dwd_Periode.csv</default>
                    </files>
                </Dwd_Periode>
            </modules>
        </translate>
        <layout>
            <updates>
                <prondemand>
                    <file>dwd/periode.xml</file>
                </prondemand>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <periode>
                <class>Dwd_Periode_Model</class>
                <resourceModel>periode_mysql4</resourceModel>
            </periode>
            <periode_mysql4>
                <class>Dwd_Periode_Model_Mysql4</class>
                <entities>
                    <periode>
                        <table>periode_periode</table>
                    </periode>
                    <tier_price>
                        <table>periode_tier_price</table>
                    </tier_price>
                    <store_label>
                        <table>periode_store_label</table>
                    </store_label>
                </entities>
            </periode_mysql4>
        </models>
        <resources>
            <dwd_periode_setup>
                <setup>
                    <module>Dwd_Periode</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dwd_periode_setup>
            <periode_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </periode_write>
            <periode_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </periode_read>
        </resources>
        <blocks>
            <periode>
                <class>Dwd_Periode_Block</class>
            </periode>
        </blocks>
        <helpers>
            <periode>
                <class>Dwd_Periode_Helper</class>
            </periode>
        </helpers>
        <events>

        </events>
    </global>

    <frontend>
        <translate>
            <modules>
                <Dwd_Periode>
                    <files>
                        <default>Dwd_Periode.csv</default>
                    </files>
                </Dwd_Periode>
            </modules>
        </translate>
    </frontend>
</config>