<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Dwd_ConfigurableDownloadable>
            <version>0.0.2.2</version>
        </Dwd_ConfigurableDownloadable>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <Dwd_ConfigurableDownloadable>
                    <files>
                        <default>Dwd_ConfigurableDownloadable.csv</default>
                    </files>
                </Dwd_ConfigurableDownloadable>
            </modules>
        </translate>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <configdownloadable/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <layout>
            <updates>
                <configdownloadable>
                    <file>dwd/configdownloadable.xml</file>
                </configdownloadable>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <configdownloadable_observer>
                        <class>configdownloadable/product_observer</class>
                        <method>prepareProductSave</method>
                    </configdownloadable_observer>
                </observers>
            </catalog_product_prepare_save>     
        </events>            
    </adminhtml>
    
    <global>
        <fieldsets>
            <configdownloadable_sales_copy_order>
                <entity_id>
                    <to_configdownloadable>order_id</to_configdownloadable>
                </entity_id>
                <increment_id>
                    <to_configdownloadable>order_increment_id</to_configdownloadable>
                </increment_id>
                <created_at>
                    <to_configdownloadable>*</to_configdownloadable>
                </created_at>
                <updated_at>
                    <to_configdownloadable>*</to_configdownloadable>
                </updated_at>
                <customer_id>
                    <to_configdownloadable>*</to_configdownloadable>
                </customer_id>
            </configdownloadable_sales_copy_order>
            <configdownloadable_sales_copy_order_item>
                <item_id>
                    <to_configdownloadable>order_item_id</to_configdownloadable>
                </item_id>
                <name>
                    <to_configdownloadable>product_name</to_configdownloadable>
                </name>
                <sku>
                    <to_configdownloadable>product_sku</to_configdownloadable>
                </sku>
            </configdownloadable_sales_copy_order_item>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <catalog>
            <product>
                <type>
                    <configdownloadable translate="label" module="configdownloadable">
                        <label>Configurable Downloadable Product</label>
                        <model>configdownloadable/product_type_configurable</model>
                        <index_data_retreiver>configdownloadable/catalogIndex_data_configurable</index_data_retreiver>
                        <composite>0</composite>
                        <price_indexer>configdownloadable/indexer_price</price_indexer>
                        <price_model>configdownloadable/product_price</price_model>
                        <is_qty>1</is_qty>
                        <can_use_qty_decimals>0</can_use_qty_decimals>
                    </configdownloadable>
                    <configurable>
                    <allow_product_types>
                        <configdownloadable/>
                    </allow_product_types>
                </configurable>
                </type>
   
               
                <grouped>
                    <allow_product_types>
                        <configdownloadable/>
                    </allow_product_types>
                </grouped>
            </product>
        </catalog>
        <pdf>
            <invoice>
                <downloadable>downloadable/sales_order_pdf_items_invoice</downloadable>
            </invoice>
            <creditmemo>
                <downloadable>downloadable/sales_order_pdf_items_creditmemo</downloadable>
            </creditmemo>
        </pdf>
        <blocks>
            <configdownloadable>
                <class>Dwd_ConfigurableDownloadable_Block</class>
            </configdownloadable>
        </blocks>
        <helpers>
            <configdownloadable>
                <class>Dwd_ConfigurableDownloadable_Helper</class>
            </configdownloadable>
        </helpers>
        <models>
            <configdownloadable>
                <class>Dwd_ConfigurableDownloadable_Model</class>
                <resourceModel>configdownloadable_resource</resourceModel>
            </configdownloadable>
            <configdownloadable_resource>
                <class>Dwd_ConfigurableDownloadable_Model_Resource</class>
                <entities>                    
                    <link>
                        <table>configdownloadable_link</table>
                    </link>
                    <link_file>
                        <table>configdownloadable_link_file</table>
                    </link_file>
                    <link_price>
                        <table>configdownloadable_link_price</table>
                    </link_price>
                    <link_title>
                        <table>configdownloadable_link_title</table>
                    </link_title>
                    <product_price_indexer_idx>
                        <table>catalog_product_index_price_configdownlod_idx</table>
                    </product_price_indexer_idx>
                    <product_price_indexer_tmp>
                        <table>catalog_product_index_price_configdownlod_tmp</table>
                    </product_price_indexer_tmp>
                </entities>
            </configdownloadable_resource>
        </models>
        <resources>
            <configdownloadable_setup>
                <setup>
                    <module>Dwd_ConfigurableDownloadable</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </configdownloadable_setup>
        </resources>
        <events>   
            <sales_order_item_save_commit_after>
                <observers>
                    <configdownloadable_product_observer>
                        <class>configdownloadable/product_observer</class>
                        <method>saveDownloadableOrderItem</method>
                    </configdownloadable_product_observer>
                </observers>
            </sales_order_item_save_commit_after>  
             <sales_quote_item_set_product>
                <observers>
                    <configdownload_product_observer_item_save_commit_after>
                        <class>configdownloadable/product_observer</class>
                        <method>onSalesQuoteItemSetProduct</method>
                    </configdownload_product_observer_item_save_commit_after>
                </observers>
            </sales_quote_item_set_product>   
            <sales_order_item_save_before>
              <observers>
                    <configdownload_product_save_orderitem_before>
                        <class>configdownloadable/product_observer</class>
                        <method>onBeforeSaveOrderItem</method>
                    </configdownload_product_save_orderitem_before>
                </observers>
            </sales_order_item_save_before>
            <sales_order_save_commit_after>
                <observers>
                    <configdownloadable_observer>
                        <class>configdownloadable/observer</class>
                        <method>setLinkStatus</method>
                    </configdownloadable_observer>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </global>
    
    <frontend>
        <routers>
            <configdownloadable>
                <use>standard</use>
                <args>
                    <module>Dwd_ConfigurableDownloadable</module>
                    <frontName>configdownloadable</frontName>
                </args>
            </configdownloadable>
        </routers>
        <secure_url>
            <configdownloadable>/configdownloadable/customer/</configdownloadable>
        </secure_url>
        <translate>
            <modules>
                <Dwd_ConfigurableDownloadable>
                    <files>
                        <default>Dwd_ConfigurableDownloadable.csv</default>
                    </files>
                </Dwd_ConfigurableDownloadable>
            </modules>
        </translate>
        <layout>
            <updates>
                <configdownloadable module="Dwd_ConfigurableDownloadable">
                    <file>dwd/configdownloadable.xml</file>
                </configdownloadable>
            </updates>
        </layout>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <checkout_type_onepage_save_order_after>
                        <class>configdownloadable/observer</class>
                        <method>setHasDownloadableProducts</method>
                    </checkout_type_onepage_save_order_after>
                </observers>
            </checkout_type_onepage_save_order_after>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <checkout_type_multishipping_create_orders_single>
                        <class>configdownloadable/observer</class>
                        <method>setHasDownloadableProducts</method>
                    </checkout_type_multishipping_create_orders_single>
                </observers>
            </checkout_type_multishipping_create_orders_single>
            <checkout_allow_guest>
                <observers>
                    <checkout_allow_guest>
                        <class>configdownloadable/observer</class>
                        <method>isAllowedGuestCheckout</method>
                    </checkout_allow_guest>
                </observers>
            </checkout_allow_guest>
        </events>
        
    </frontend>
    
    <admin>
        <fieldsets>
            <catalog_product_dataflow>
                <qty>
                    <product_type>
                        <configdownloadable/>
                    </product_type>
                </qty>
                <min_qty>
                    <product_type>
                        <configdownloadable/>
                    </product_type>
                </min_qty>
                <is_qty_decimal>
                    <product_type>
                        <configdownloadable/>
                    </product_type>
                </is_qty_decimal>
                <backorders>
                    <product_type>
                        <configdownloadable/>
                    </product_type>
                </backorders>
                <min_sale_qty>
                    <product_type>
                        <configdownloadable/>
                    </product_type>
                </min_sale_qty>
                <max_sale_qty>
                    <product_type>
                        <configdownloadable/>
                    </product_type>
                </max_sale_qty>
                <is_in_stock>
                    <product_type>
                        <configdownloadable/>
                    </product_type>
                </is_in_stock>
                <notify_stock_qty>
                    <product_type>
                        <configdownloadable/>
                    </product_type>
                </notify_stock_qty>
                <manage_stock>
                    <product_type>
                        <configdownloadable/>
                    </product_type>
                </manage_stock>
            </catalog_product_dataflow>
        </fieldsets>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dwd_ConfigurableDownloadable before="Mage_Adminhtml">Dwd_ConfigurableDownloadable_Adminhtml</Dwd_ConfigurableDownloadable>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>