<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_EventBundle>
            <version>0.0.1.2</version>
        </Egovs_EventBundle>
    </modules>
    
    <adminhtml>
        <translate>
            <modules>
                <Egovs_EventBundle>
                    <files>
                        <default>Egovs_EventBundle.csv</default>
                    </files>
                </Egovs_EventBundle>
            </modules>
        </translate>
        <layout>
            <updates>
                <eventbundle>
                    <file>egovs/eventbundle.xml</file>
                </eventbundle>
            </updates>
        </layout>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <eventbundle/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <eventbundle_observer>
                        <class>eventbundle/observer</class>
                        <method>prepareProductSave</method>
                    </eventbundle_observer>
                </observers>
            </catalog_product_prepare_save>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <eventbundle_observer>
                        <class>eventbundle/observer</class>
                        <method>appendBundleSelectionData</method>
                    </eventbundle_observer>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <catalog_model_product_duplicate>
                <observers>
                    <eventbundle_observer>
                        <class>eventbundle/observer</class>
                        <method>duplicateProduct</method>
                    </eventbundle_observer>
                </observers>
            </catalog_model_product_duplicate>
            <catalog_product_edit_action>
                <observers>
                    <eventbundle_observer>
                        <class>eventbundle/observer</class>
                        <method>setAttributeTabBlock</method>
                    </eventbundle_observer>
                </observers>
            </catalog_product_edit_action>
            <catalog_product_save_before>
                <observers>
                    <eventbundle_observer>
                        <class>eventbundle/observer</class>
                        <method>onProductSaveBefore</method>
                    </eventbundle_observer>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_after>
                <observers>
                    <eventbundle_observer>
                        <class>eventbundle/observer</class>
                        <method>onProductSaveAfter</method>
                    </eventbundle_observer>
                </observers>
            </catalog_product_save_after>
            <catalog_product_new_action>
                <observers>
                    <eventbundle_observer>
                        <class>eventbundle/observer</class>
                        <method>setAttributeTabBlock</method>
                    </eventbundle_observer>
                </observers>
            </catalog_product_new_action>
            <catalog_model_product_duplicate>
                <observers>
                    <bundle_observer>
                        <class>eventbundle/observer</class>
                        <method>duplicateProduct</method>
                    </bundle_observer>
                </observers>
            </catalog_model_product_duplicate>
        </events>
		<menu>
            <!--
			<report>
				<children>
					<salesroot translate="title" module="reports">
						<children>
							<eventbundleoptions translate="title" module="reports">
								<title>Eventbundle Options</title>
								<action>adminhtml/eventbundle_report/options</action>
							</eventbundleoptions>
						</children>
					</salesroot>
				</children>
			</report>
			-->
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<report>
							<children>
								<salesroot>
									<children>
										<eventbundleoptions translate="title" module="eventbundle">
											<title>Eventbundle Options</title>
										</eventbundleoptions>
									</children>
								</salesroot>
							</children>
						</report>
						<system>
							<children>
								<config>
									<children>
										<eventbundle>
											<children>
												<display_prices translate="title" module="eventbundle">
													<title>Display Prices</title>
												</display_prices>
											</children>
										</eventbundle>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <global>
        <fieldsets>
            <eventbundle_sales_copy_order>
                <entity_id>
                    <to_configvirtual>order_id</to_configvirtual>
                </entity_id>
                <increment_id>
                    <to_configvirtual>order_increment_id</to_configvirtual>
                </increment_id>
                <created_at>
                    <to_configvirtual>*</to_configvirtual>
                </created_at>
                <updated_at>
                    <to_configvirtual>*</to_configvirtual>
                </updated_at>
                <customer_id>
                    <to_configvirtual>*</to_configvirtual>
                </customer_id>
            </eventbundle_sales_copy_order>
            <eventbundle_sales_copy_order_item>
                <item_id>
                    <to_configvirtual>order_item_id</to_configvirtual>
                </item_id>
                <name>
                    <to_configvirtual>product_name</to_configvirtual>
                </name>
                <sku>
                    <to_configvirtual>product_sku</to_configvirtual>
                </sku>
            </eventbundle_sales_copy_order_item>
        </fieldsets>
        <catalog>
            <product>
                <type>
                    <eventbundle translate="label" module="eventbundle">
                        <label>Event Bundle</label>
                        <model>eventbundle/product_type</model>
                        <composite>1</composite>
                        <allowed_selection_types>
                            <simple/>
                            <virtual/>
                        </allowed_selection_types>
                        <price_model>eventbundle/product_price</price_model>
                        <index_data_retreiver>bundle/catalogIndex_data_bundle</index_data_retreiver>
                        <index_priority>40</index_priority>
                        <price_indexer>bundle/indexer_price</price_indexer>
                        <stock_indexer>eventbundle/indexer_stock</stock_indexer>
                    </eventbundle>
                    <configurable>
                        <allow_product_types>
                            <eventbundle/>
                        </allow_product_types>
                    </configurable>
                </type>
            </product>
        </catalog>
        <blocks>
            <eventbundle>
                <class>Egovs_EventBundle_Block</class>
            </eventbundle>
            <adminhtml>
            	<rewrite>
            		<catalog_product_edit_tab_options>Egovs_EventBundle_Block_Adminhtml_Catalog_Product_Edit_Tab_Options</catalog_product_edit_tab_options> 
            	</rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <eventbundle>
                <class>Egovs_EventBundle_Helper</class>
            </eventbundle>
        </helpers>
        <models>
            <eventbundle>
                <class>Egovs_EventBundle_Model</class>
                <resourceModel>eventbundle_resource</resourceModel>
            </eventbundle>
            <eventbundle_resource>
				<class>Egovs_EventBundle_Model_Resource</class>
				<entities>
                    <personal_options>
                        <table>eventbundle_personal_options</table>
                    </personal_options>
                    <personal_options_label>
                        <table>eventbundle_personal_options_label</table>
                    </personal_options_label>
                    <quote_options>
                        <table>eventbundle_quote_personal_options</table>
                    </quote_options>
                </entities>
            </eventbundle_resource>
            <bundle>
				<rewrite>
					<observer>Egovs_EventBundle_Model_Bundle_Observer</observer>
				</rewrite>
            </bundle>
        </models>
        <resources>
            <egovs_eventbundle_setup>
                <setup>
                    <module>Egovs_EventBundle</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </egovs_eventbundle_setup>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <eventbundle_product_save_order>
                        <class>eventbundle/observer</class>
                        <method>onSalesOrderSaveAfter</method>
                    </eventbundle_product_save_order>
                </observers>
            </sales_order_save_after>
            <catalogindex_plain_reindex_after>
                <observers>
                    <bundle>
                        <class>eventbundle/observer</class>
                        <method>catalogIndexPlainReindexAfter</method>
                    </bundle>
                </observers>
            </catalogindex_plain_reindex_after>
        </events>
        <eventbundle_personal>
            <show>false</show>
            <fields>
                <firstname>
                    <label>Firstname</label>
                </firstname>
                <lastname>
                    <label>Lastname</label>
                </lastname>
                <company>
                    <label>Company</label>
                </company>
                <company2>
                    <label>Company 2</label>
                </company2>
                <company3>
                    <label>Company 3</label>
                </company3>
                <phone>
                    <label>Phone</label>
                </phone>
                <street>
                    <label>Street</label>
                </street>
                <city>
                    <label>City</label>
                </city>
                <country>
                    <label>Country</label>
                </country>
            </fields>
        </eventbundle_personal>
    </global>
    <frontend>
        <routers>
            <eventbundle>
                <use>standard</use>
                <args>
                    <module>Egovs_EventBundle</module>
                    <frontName>eventbundle</frontName>
                </args>
            </eventbundle>
        </routers>
        <translate>
            <modules>
                <Egovs_EventBundle>
                    <files>
                        <default>Egovs_EventBundle.csv</default>
                    </files>
                </Egovs_EventBundle>
            </modules>
        </translate>
        <layout>
            <updates>
                <eventbundle >
                    <file>egovs/eventbundle.xml</file>
                </eventbundle>
            </updates>
        </layout>

    </frontend>
    <admin>
        <fieldsets>
            <catalog_product_dataflow>
                <qty>
                    <product_type>
                        <eventbundle/>
                    </product_type>
                </qty>
                <min_qty>
                    <product_type>
                        <eventbundle/>
                    </product_type>
                </min_qty>
                <is_qty_decimal>
                    <product_type>
                        <eventbundle/>
                    </product_type>
                </is_qty_decimal>
                <backorders>
                    <product_type>
                        <eventbundle/>
                    </product_type>
                </backorders>
                <min_sale_qty>
                    <product_type>
                        <eventbundle/>
                    </product_type>
                </min_sale_qty>
                <max_sale_qty>
                    <product_type>
                        <eventbundle/>
                    </product_type>
                </max_sale_qty>
                <is_in_stock>
                    <product_type>
                        <eventbundle/>
                    </product_type>
                </is_in_stock>
                <notify_stock_qty>
                    <product_type>
                        <eventbundle/>
                    </product_type>
                </notify_stock_qty>
                <manage_stock>
                    <product_type>
                        <eventbundle/>
                    </product_type>
                </manage_stock>
            </catalog_product_dataflow>
        </fieldsets>
        <routers>
			<adminhtml>	
				<args>
					<modules>
						<Egovs_EventBundle_Adminhtml after="Mage_Adminhtml">Egovs_EventBundle_Adminhtml</Egovs_EventBundle_Adminhtml>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <crontab>
        <jobs>
            <egovs_eventbundle>
                <schedule>
                    <cron_expr>*/9 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>eventbundle/cron::runCron</model>
                </run>
            </egovs_eventbundle>
        </jobs>
    </crontab>
	<default>
		<eventbundle>
			<display_prices>
				<cart_sub_price_eq_null>1</cart_sub_price_eq_null>
			</display_prices>
		</eventbundle>
	</default>
</config>