a  { text-decoration: none;color: #356ec5;font-size: 1em;line-height: 1.5em; }
h2 { color:#356ec5; }
.col-left {float:left; width:20.5%; border:0px; padding:5px 5px 0px 10px;}
.col-main {float:left; width:59%; border:0px; padding:5px 5px 0px 10px;}
.col-right {float:right; width:20.5%; border:0px; padding:5px 5px 0;}
.success { color:#003456; font-weight:bold; }
.success-msg {border-color:#487AC3; background-color:#eff5ea; color:#003456;}
.note-msg,.notice-msg {border-color:#fcd344; background-color:#fafaec; color:#003456;}
.page-title h1 {font-family: Georgia,Times,Serif; font-weight: lighter}
.std h2 {font-family: Georgia,Times,Serif; font-weight: lighter; color:#356ec5;}
.std h3, .std h4 {font-family: Georgia,Times,Serif; font-weight: lighter; color:#356ec5;}
#shopping-cart-table thead { background-color:#487AC3; color: #FFFFFF; font-weight: bold; }
.header .links a {color: #356ec5; text-decoration: none; font-size: 1em; }
.header .head-function_row	{ background-color: #F3F3F3;position: relative; height: 30px; text-align: right; margin-right: 8px;}
#nav { display: block; font-size:1em; border:1px solid #003456; padding:5px 0; margin:10px 0; background:#b5cdee;}
#nav ul { position:absolute; width:15em; top:25px; left:-10000px; border:1px solid #003456; background:#fafafa; }
#nav ul li { float:none; border-bottom:1px solid #003456; }
.block {border: solid 1px #b5cdee;margin:0 0 10px;}
.block .block-title { border-width: 0px 0px 3px 0px !important;	padding:0 10px;	border: solid 1px #b5cdee; background-color: #F3F3F3;}
.block .block-title h2 { color:#356ec5; }
.block .block-title h3 { color:#356ec5; }
.mini-products-list .product-image { float:left; width:50px; padding:5px; border:1px solid #003456; margin-right:-75px; }
.block-related li { padding:5px 0; }
.block-related input.checkbox { float:left; margin-right:-20px; }
.block-related .item { margin-left:20px; }
.block-related .item .product-image { float:left; margin-right:-65px; }
.block-related .item .product-details { margin-left:65px; }
.price { white-space:nowrap !important; color: #356ec5; font-size: 120%; }
.shopping-cart-totals tfoot span.price {color: #356ec5;}
#checkout-review-table thead { background-color:#487AC3; color: #FFFFFF; font-weight: bold; }
#checkout-review-totals-table .price { color:#356ec5;}
.checkout-progress li.active {border-top-color: #356ec5; color: #000;font-weight:bold;}
.footer a {	color: #356ec5;text-decoration: underline;}