<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Bkg_RegionAllocation>
            <version>0.0.1.0</version>
        </Bkg_RegionAllocation>
    </modules>
    <adminhtml>
    	<menu>
			<catalog>
			<children>
			<bkgregionallocation_koenigsteinerschluessel_kst module="regionallocation">
                      <title>Kingstone key</title>
                      <sort_order>10</sort_order>
                      <action>adminhtml/regionallocation_koenigsteinerschluessel_kst/index</action>
                  </bkgregionallocation_koenigsteinerschluessel_kst>
			</children>
			</catalog>
		</menu>
        <translate>
            <modules>
                <Bkg_RegionAllocation>
                    <files>
                        <default>Bkg/RegionAllocation.csv</default>
                    </files>
                </Bkg_RegionAllocation>
            </modules>
        </translate>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <regionallocation/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <layout>
            <updates>
                <regionallocation>
                    <file>bkg/regionallocation.xml</file>
                </regionallocation>
            </updates>
        </layout>
        <events>
        <!--
            <catalog_product_prepare_save>
                <observers>
                    <regionallocation_observer>
                        <class>regionallocation/product_observer</class>
                        <method>prepareProductSave</method>
                    </regionallocation_observer>
                </observers>
            </catalog_product_prepare_save>
            -->
            <catalog_product_edit_action>
                <observers>
                    <regionallocation_observer>
                        <class>regionallocation/product_observer</class>
                        <method>prepareProductEdit</method>
                    </regionallocation_observer>
                </observers>
            </catalog_product_edit_action>
        </events>
        		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
					    <catalog>
					        <children>
					             <bkgregionallocation_koenigsteinerschluessel_kst module="regionallocation">
                                  <title>Koenigsteinerschluessel</title>
                                  <sort_order>10</sort_order>
                              </bkgregionallocation_koenigsteinerschluessel_kst>
					        </children>
					    </catalog>

					</children>
				</admin>
			</resources>
		</acl>

    </adminhtml>

    <global>
		<regions_de>
			<BW>
				<label>Baden-Württemberg</label>
			</BW>
			<BY>
				<label>Bayern</label>
			</BY>
			<BE>
				<label>Berlin</label>
			</BE>
			<BB>
				<label>Brandenburg</label>
			</BB>
			<HB>
				<label>Bremen</label>
			</HB>
			<HH>
				<label>Hamburg</label>
			</HH>
			<HE>
				<label>Hessen</label>
			</HE>
			<MV>
				<label>Mecklenburg-Vorpommern</label>
			</MV>
			<NI>
				<label>Niedersachsen</label>
			</NI>
			<NRW>
				<label>Nordrhein-Westfalen</label>
			</NRW>
			<RP>
				<label>Rheinland-Pfalz</label>
			</RP>
			<SL>
				<label>Saarland</label>
			</SL>
			<SN>
				<label>Sachsen</label>
			</SN>
			<ST>
				<label>Sachsen-Anhalt</label>
			</ST>
			<SH>
				<label>Schleswig-Holstein</label>
			</SH>
			<TH>
				<label>Thüringen</label>
			</TH>
		</regions_de>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <koenigsteinerschluessel/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <catalog>
            <product>
                <type>
                    <regionallocation translate="label" module="regionallocation">
                        <label>Region Allocation Product</label>
                        <model>regionallocation/product_type_regionallocation</model>
                        <composite>0</composite>
                        <price_model>regionallocation/product_price</price_model>

                    </regionallocation>
                    <configurable>
                    <allow_product_types>
                        <regionallocation/>
                    </allow_product_types>
                </configurable>
                </type>


                <grouped>
                    <allow_product_types>
                        <regionallocation/>
                    </allow_product_types>
                </grouped>
            </product>
        </catalog>
        <blocks>
            <regionallocation>
                <class>Bkg_RegionAllocation_Block</class>
            </regionallocation>
        </blocks>
        <helpers>
            <regionallocation>
                <class>Bkg_RegionAllocation_Helper</class>
            </regionallocation>
        </helpers>
        <models>
            <regionallocation>
                <class>Bkg_RegionAllocation_Model</class>
                <resourceModel>regionallocation_resource</resourceModel>
            </regionallocation>
            <regionallocation_resource>
                <class>Bkg_RegionAllocation_Model_Resource</class>
                <entities>
                    <purchased>
                        <table>bkg_rap_purchased</table>
                    </purchased>
                  <koenigsteinerschluessel_kst>
                    <table>bkg_rap_koenigsteinerschluessel_kst</table>
                  </koenigsteinerschluessel_kst>
                  <koenigsteinerschluessel_kst_value>
                    <table>bkg_rap_koenigsteinerschluessel_value</table>
                  </koenigsteinerschluessel_kst_value>
                </entities>
            </regionallocation_resource>
        </models>
        <resources>
            <regionallocation_setup>
                <setup>
                    <module>Bkg_RegionAllocation</module>
                    <class>Bkg_RegionAllocation_Model_Resource_Setup</class>
                </setup>
            </regionallocation_setup>
        </resources>
    <events>
        <!--
            <sales_order_item_save_commit_after>
                <observers>
                    <regionallocation_product_observer>
                        <class>regionallocation/product_observer</class>
                        <method>saveOrderItem</method>
                    </regionallocation_product_observer>
                </observers>
            </sales_order_item_save_commit_after>

            <sales_order_item_save_before>
              <observers>
                    <regionallocation_product_save_orderitem_before>
                        <class>regionallocation/product_observer</class>
                        <method>onBeforeSaveOrderItem</method>
                    </regionallocation_product_save_orderitem_before>
                </observers>

            </sales_order_item_save_before>
            -->
            <sales_quote_item_set_product>
                <observers>
                    <regionallocation_product_observer>
                        <class>regionallocation/product_observer</class>
                        <method>onSalesQuoteItemSetProduct</method>
                    </regionallocation_product_observer>
                </observers>
            </sales_quote_item_set_product>
            <!--
            <sales_order_save_after>
            <observers>
                <regionallocation_product_save_order>
                    <class>regionallocation/product_observer</class>
                    <method>onSalesOrderSaveAfter</method>
                </regionallocation_product_save_order>
            </observers>
        </sales_order_save_after>
        -->
        </events>

    </global>

    <frontend>

        <layout>
            <updates>
                <regionallocation module="Bkg_RegionAllocation">
                    <file>bkg/regionallocation.xml</file>
                </regionallocation>
            </updates>
        </layout>

    </frontend>

    <admin>
        <fieldsets>
            <catalog_product_dataflow>
                <manage_stock>
                    <product_type>
                        <regionallocation/>
                    </product_type>
                </manage_stock>
            </catalog_product_dataflow>
        </fieldsets>
        <routers>
		<adminhtml>
			<args>
				<modules>
					<Bkg_RegionAllocation_Adminhtml after="Mage_Adminhtml">Bkg_RegionAllocation_Adminhtml</Bkg_RegionAllocation_Adminhtml>
				</modules>
			</args>
		</adminhtml>
	</routers>
    </admin>
</config>
