h1, h2 {color:#487AC3;}
div.col-main ul.links a {padding-left: 15px;}
.block .block-title h3 {color: #487ac3;}
.block .block-content a {padding-left:15px; display:inline-block;}
.block .block-content .active > a {font-weight: bold !important; }
.block .block-content .parent a {padding-left:15px; font-weight: normal; display:inline-block;}
.products-list .product-descriptor a { padding-left: 15px;}
ul.add-to-links a {	padding-left: 15px; text-align: left;}
.agree-content a {padding-left:15px; }
.sitemapegovs a{padding-left:15px; display:inline-block;}
a {text-decoration: none;color: #356ec5;font-size: 1em;line-height: 1.5em;}
.buttons-set a.egovsbutton { float: right; margin: 0px !important; font: 12px Arial,Helvetica,sans-serif; padding: 4px 10px; -moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #CACACA #7B7B7B #7B7B7B #CACACA; border-style: solid; border-width: 1px; cursor: pointer; }
a.egovsbutton {margin: 5px !important;padding: 2px 5px; overflow:visible; width:auto; display: block; color: rgb(255,255,255);border: solid 1px rgb(202,202,202);text-decoration:none !important;cursor:pointer; -webkit-border-fit:lines;}
a.egovsbutton:hover { text-decoration: none;}
a.egovsbutton span{font-weight: bold; text-align:center;width:100%;display:block;white-space: nowrap;}
a.egovslistbutton { padding: 2px 10px 3px !important; margin-right: 10px; overflow:visible; width:auto; display: block; font-weight: bold; border: solid 1px; border-color: rgb(202,202,202) rgb(123,123,123) rgb(123,123,123) rgb(202,202,202); color: rgb(255,255,255); cursor:pointer; -webkit-border-fit:lines;  }
a.totalsorderbutton {border-color: #CACACA #7B7B7B #7B7B7B #CACACA; border-style: solid; border-width: 1px; color: #FFFFFF; cursor: pointer; display: block; font-size: 1.2em; font-weight: bold; line-height: 1.3em; margin-bottom: 5px; overflow: visible; padding: 8px; text-align: center; width: auto; cursor:pointer; -webkit-border-fit:lines;/* <- Safari & Google Chrome Fix */}
.col-left {float:left; width:20.5%; border:0px solid #003456; padding:5px 5px 0px 10px;}
.col-main {float:left; width:59%; border:0px solid #003456; padding:5px 5px 0px 10px;}
.col-right {float:right; width:20.5%; border:0px solid #003456; padding:5px 5px 0;}
button.button, button.form-button-alt {overflow:visible;width:auto; border:solid 1px; border-color: #cacaca #7b7b7b #7b7b7b #cacaca; padding:0px 10px;cursor:pointer; -webkit-border-fit:lines;}
.success { color:#003456; font-weight:bold; }
.success-msg {border-color:#487AC3; background-color:#eff5ea; color:#003456;}
.note-msg,.notice-msg {border-color:#fcd344; background-color:#fafaec; color:#003456;}
#shopping-cart-table thead { background-color:#487AC3; color: #FFFFFF; font-weight: bold; }
.header .links a {color: #356ec5; text-decoration: none; font-size: 1em; }
.header .head-function_row	{ background-color: #F3F3F3;position: relative; height: 30px; text-align: right; margin-right: 8px;}
#nav { display: block; font-size:1em; border:1px solid #003456; padding:5px 0; margin:10px 0; background:#b5cdee;}
#nav ul { position:absolute; width:15em; top:25px; left:-10000px; border:1px solid #003456; background:#fafafa; }
#nav ul li { float:none; border-bottom:1px solid #003456; }
.block {border: solid 1px #b5cdee;margin:0 0 10px;}
.block .block-title { border-width: 0px 0px 3px 0px !important;	padding:0 10px;	border: solid 1px #b5cdee; background-color: #F3F3F3;}
.mini-products-list .product-image { float:left; width:50px; padding:5px; border:1px solid #003456; margin-right:-75px; }
.price { white-space:nowrap !important; color: #356ec5; font-size: 120%; }
.shopping-cart-totals tfoot span.price {color: #356ec5;}
#checkout-review-table thead { background-color:#487AC3; color: #FFFFFF; font-weight: bold; }
#checkout-review-totals-table .price { color:#356ec5;}
a.checkout-progress li.active {border-top-color: #356ec5; color: #000;font-weight:bold;}
.footer a {	color: #356ec5; text-decoration: underline;}