<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_Pdftemplate>
            <version>0.1.7</version>
        </Egovs_Pdftemplate>
    </modules>
     <frontend>
        <layout>
            <updates>
                <pdftemplate>
                    <file>egovs/pdftemplate.xml</file>
                </pdftemplate>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<adminhtml>	
				<args>
					<modules>
						<Egovs_Pdftemplate_Adminhtml after="Mage_Adminhtml">Egovs_Pdftemplate_Adminhtml</Egovs_Pdftemplate_Adminhtml>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
         <translate>
			<modules>
				<Egovs_Pdftemplate>
					<files>
						<default>Egovs_Pdftemplate.csv</default>
					</files>
				</Egovs_Pdftemplate>
			</modules>
		</translate>
		<layout>
			<updates>
				<pdftemplate>
					<file>egovs/pdftemplate.xml</file>
				</pdftemplate>
			</updates>
		</layout>
		<events>
			<customer_group_save_before>
				<observers>
					<pdftemplate>
						<type>singleton</type>
						<class>pdftemplate/observer</class>
						<method>onCustomerGroupSaveBefore</method>
					</pdftemplate>
				</observers>
			</customer_group_save_before>
			<customer_group_save_after>
				<observers>
					<pdftemplate>
						<type>singleton</type>
						<class>pdftemplate/observer</class>
						<method>onCustomerGroupSaveAfter</method>
					</pdftemplate>
				</observers>
			</customer_group_save_after>
			<customer_group_load_after>
				<observers>
					<pdftemplate>
						<type>singleton</type>
						<class>pdftemplate/observer</class>
						<method>onCustomerGroupLoadAfter</method>
					</pdftemplate>
				</observers>
			</customer_group_load_after>			
			<core_block_abstract_prepare_layout_after>
			<observers>
					<pdftemplate>
						<type>singleton</type>
						<class>pdftemplate/observer</class>
						<method>afterCustomerGroupEditFormPrepare</method>
					</pdftemplate>
				</observers>
			</core_block_abstract_prepare_layout_after>
		</events>
    </adminhtml>   
    <global>
        <models>
            <pdftemplate>
                <class>Egovs_Pdftemplate_Model</class>
                <resourceModel>pdftemplate_mysql4</resourceModel>
            </pdftemplate>
            <pdftemplate_mysql4>
                <class>Egovs_Pdftemplate_Model_Mysql4</class>
                <entities>
                    <template>
                        <table>pdftemplate_template</table>
                    </template>
                    <section>
                        <table>pdftemplate_section</table>
                    </section>
                    <blocks>
                    	 <table>pdftemplate_blocks</table>
                    </blocks>
                    <customergroup_store>
                    	<table>pdftemplate_customergroup_store</table>
                    </customergroup_store>
                </entities>
            </pdftemplate_mysql4>
            <sales>
			<rewrite>
				<order_pdf_invoice>Egovs_Pdftemplate_Model_Pdf_Invoice</order_pdf_invoice>
				<order_pdf_shipment>Egovs_Pdftemplate_Model_Pdf_Shipment</order_pdf_shipment>
				<order_pdf_creditmemo>Egovs_Pdftemplate_Model_Pdf_Creditmemo</order_pdf_creditmemo>
			</rewrite>
		</sales>
        </models>
        <resources>
            <pdftemplate_setup>
                <setup>
                    <module>Egovs_Pdftemplate</module>
                    <class>Egovs_Pdftemplate_Model_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pdftemplate_setup>
            <pdftemplate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pdftemplate_write>
            <pdftemplate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pdftemplate_read>
        </resources>
        <blocks>
            <pdftemplate>
                <class>Egovs_Pdftemplate_Block</class>
            </pdftemplate>
        </blocks>
        <helpers>
            <pdftemplate>
                <class>Egovs_Pdftemplate_Helper</class>
            </pdftemplate>
        </helpers>
        <translate>
			<modules>
				<Egovs_Pdftemplate>
					<files>
						<default>Egovs_Pdftemplate.csv</default>
					</files>
				</Egovs_Pdftemplate>
			</modules>
		</translate>
	    <pdftemplate_taxlabels>
        		<taxlabels>
	        	<mwst0>
	        		<title>0% Steuer</title>
					<amount>0.00</amount>
					<percent>0</percent>
				</mwst0>
				<mwst7>
					<title>7% Steuer</title>
					<amount>0.00</amount>
					<percent>7</percent>
				</mwst7>
				<mwst19>
					<title>19% Steuer</title>
					<amount>0.00</amount>
					<percent>19</percent>
				</mwst19>
				</taxlabels>
		</pdftemplate_taxlabels>
		<pdftemplate>
		  <types>
			  <invoice>Invoice</invoice>
			  <creditmemo>Creditmemo</creditmemo>
			  <deliverynote>Deliverynote</deliverynote>
			  <sepamandat>Sepamandat</sepamandat>
		  </types>
		</pdftemplate>
    </global>
</config>