<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
	<modules>
		<Egovs_Checkout>
			<version>0.1.2</version>
		</Egovs_Checkout>
	</modules>
	<frontend>
		<routers>
			<egovs_checkout>
				<use>standard</use>
				<args>
					<module>Egovs_Checkout</module>
					<frontName>egovs_checkout</frontName>
				</args>
			</egovs_checkout>
		</routers>
		<layout>
			<updates>
				<mpcheckout>
					<file>egovs/checkout.xml</file>
				</mpcheckout>
			</updates>
		</layout>
		<translate>
			<modules>
				<Egovs_Checkout>
					<files>
						<default>Egovs_Checkout.csv</default>
					</files>
				</Egovs_Checkout>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Egovs_Checkout>
					<files>
						<default>Egovs_Checkout.csv</default>
					</files>
				</Egovs_Checkout>
			</modules>
		</translate>
	</adminhtml>
	<global>
		<blocks>
			<mpcheckout>
				<class>Egovs_Checkout_Block</class>
			</mpcheckout>
			<adminhtml> </adminhtml>
			<checkout>
				<rewrite>
					<links>Egovs_Checkout_Block_Links</links>
					<cart_totals>Egovs_Checkout_Block_Cart_Totals</cart_totals>
					<cart_sidebar>Egovs_Checkout_Block_Cart_Sidebar</cart_sidebar>
				</rewrite>
			</checkout>
		</blocks>
		<models>
			<mpcheckout>
				<class>Egovs_Checkout_Model</class>
				<resourceModel>mpcheckout_mysql4</resourceModel>
			</mpcheckout>
			<mpcheckout_mysql4>
				<class>Egovs_Checkout_Model_Mysql4</class>
			</mpcheckout_mysql4>
		</models>
		<resources>
			<mpcheckout_setup>
				<setup>
					<module>Egovs_Checkout</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</mpcheckout_setup>
		</resources>
		<helpers>
			<mpcheckout>
				<class>Egovs_Checkout_Helper</class>
			</mpcheckout>
		</helpers>
	</global>


	<default>
		<catalog>
			<datenschutz>
				<enable_text>1</enable_text>
				<cms_page>datenschutz</cms_page>
			</datenschutz>
		</catalog>
		<mandatoryguest>
			<firstname>req</firstname>
			<lastname/>
			<street/>
			<city/>
			<zip/>
			<telephone/>
			<country/>
			<region/>
		</mandatoryguest>
		<checkout>
		    <options>
		        <checkout_type>multipage</checkout_type>
		        <checkout_customer_register>1</checkout_customer_register>
		    </options>
			<datenschutz>
				<enable_text>1</enable_text>
				<cms_page>datenschutz</cms_page>
			</datenschutz>
			<progress>
				<skip_shipping_method>0</skip_shipping_method>
			</progress>
		</checkout>
	</default>
</config>
