<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <sections>
        <checkout translate="label" module="egovs_checkout"> 
            <groups>
                <options translate="label">
                        <fields>      
                            <checkout_type translate="label">
                                <label>Checkout Type</label>
                                <frontend_type>select</frontend_type>
                                <source_model>mpcheckout/checkouttype</source_model>
                                <sort_order>1</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                            </checkout_type>
                            <checkout_customer_register translate="label comment">
                                <label>Allow Checkout Customer Register</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                <depends>
                                    <checkout_type>multipage</checkout_type>
                                </depends>
                                <sort_order>9</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>0</show_in_store>
                                <comment>Allow customer to register within checkout</comment>
                            </checkout_customer_register>
                        </fields>
                </options>
                <datenschutz translate="label">
                    <label>Datenschutz</label>
                    <sort_order>170</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enable_text translate="label">
                            <label>Datenschutzerklärung anzeigen</label>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_text>
                        <cms_page translate="label">
                            <label>CMS Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mpcheckout/text</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cms_page>
                    </fields>
                </datenschutz>
                <adrtext translate="label">
                    <label>Texte zur Erfassung von Adressen</label>
                    <sort_order>170</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enable_billing_text translate="label">
                            <label>Display Billing Adr. Text</label>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_billing_text>
                        <billing_block translate="label">
                            <label>Billing Adr. Text</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mpcheckout/adrtext</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </billing_block>
                        <enable_shipping_text translate="label">
                            <label>Display Shipping Adr. Text</label>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_shipping_text>
                        <shipping_block translate="label">
                            <label>Shipping Adr. Text</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mpcheckout/adrtext</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </shipping_block>
                    </fields>
                </adrtext>
                <progress translate="label">
                    <label>Checkout Progress</label>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <skip_shipping_method translate="label">
                            <label>Skip Step Shipping Method (if only one available)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </skip_shipping_method>
                    </fields>
                </progress>
            </groups>
        </checkout>
    </sections>
</config>
