<?xml version="1.0" ?>
<!DOCTYPE config>
<config>
    <modules>
        <Slpb_Checkout>
            <version>0.1.1</version>
        </Slpb_Checkout>
    </modules>
    <frontend>
         <routers>
          <Slpb_checkout>
	          <use>standard</use>
	          <args>
	          	<module>Slpb_Checkout</module>
	          	<frontName>slpb_checkout</frontName>
	          </args>
          </Slpb_checkout>
         </routers>	
         <layout>
             <updates>
                  <slpbcheckout>
                        <file>slpbcheckout.xml</file>
                  </slpbcheckout>
         	</updates>
        </layout>
          <translate>
		        <modules>
		            <Slpb_Checkout>
		                <files>
		                    <default>Slpb_Checkout.csv</default>
		                </files>
		            </Slpb_Checkout>
		        </modules>
    		</translate>
    </frontend>
	<adminhtml>
	        <translate>
		        <modules>
		            <Slpb_Checkout>
		                <files>
		                    <default>Slpb_Checkout.csv</default>
		                </files>
		            </Slpb_Checkout>
		        </modules>
    		</translate>
	</adminhtml>
        <global>
            <blocks>
            <slpbcheckout>
            	<class>Slpb_Checkout_Block</class>
            </slpbcheckout>
                <checkout>
                	<rewrite>
                	<xcart>Slpb_Checkout_Block_Cart_Cart</xcart>
                	<xlinks>Slpb_Checkout_Block_Links</xlinks>
                	</rewrite>
                </checkout>
                <adminhtml>
                <rewrite>
                <customer_edit_tab_view>Slpb_Checkout_Block_Adminhtml_Customer_Edit_Tab_View</customer_edit_tab_view>
                </rewrite>
                </adminhtml>
            </blocks>
            <models>
	            <slpbcheckout>
	            	<class>Slpb_Checkout_Model</class>
	            	<resourceModel>mpcheckout_mysql4</resourceModel>
	            </slpbcheckout>
	            <slpbcheckout_mysql4>
	                <class>Slpb_Checkout_Model_Mysql4</class>
	            </slpbcheckout_mysql4>
            </models>
       	<helpers>
	            <slpbcheckout>
	                <class>Slpb_Checkout_Helper</class>
	            </slpbcheckout>   
	        </helpers>
        </global>
 </config>