<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Gka_UserStore>
            <version>0.1.0</version>
        </Gka_UserStore>
    </modules>
    <frontend>
        <routers>
            <userstore>
                <use>standard</use>
                <args>
                    <module>Gka_UserStore</module>
                    <frontName>userstore</frontName>
                </args>
            </userstore>
        </routers>
        <layout>
            <updates>
                <userstore>
                    <file>gka/userstore.xml</file>
                </userstore>
            </updates>
        </layout>
         <events>
            <controller_action_predispatch>
                <observers>
                    <gka_userstore>
                        <class>Gka_UserStore_Model_Observer</class>
                        <method>forceLogin</method>
                    </gka_userstore>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <admin>
        <routers>
			<userstore>
				<use>admin</use>
				<args>
					<module>Gka_UserStore</module>
					<frontName>userstore</frontName>
				</args>
			</userstore>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<userstore>
					<file>gka/userstore.xml</file>
				</userstore>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <userstore>
                <class>Gka_UserStore_Model</class>
                <resourceModel>userstore_mysql4</resourceModel>
            </userstore>
            <userstore_mysql4>
                <class>Gka_UserStore_Model_Mysql4</class>
                <entities>
                    <userstore>
                        <table>gka_userstore</table>
                    </userstore>
                </entities>
            </userstore_mysql4>
        </models>
        <resources>
            <gka_userstore_setup>
                <setup>
                    <module>Gka_UserStore</module>
                    <class>Egovs_Base_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gka_userstore_setup>
            <userstore_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </userstore_write>
            <userstore_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </userstore_read>
        </resources>
        <blocks>
            <userstore>
                <class>Gka_UserStore_Block</class>
            </userstore>
        </blocks>
        <helpers>
            <userstore>
                <class>Gka_UserStore_Helper</class>
            </userstore>
        </helpers>
      
    </global>
</config>