<?xml version="1.0" ?>
<!DOCTYPE config>
<config>
    <modules>
        <Slpb_Product>
            <version>0.1.2</version>
        </Slpb_Product>
    </modules>
    <global>
        <helpers>
            <slpbproduct>
                <class>Slpb_Product_Helper</class>
            </slpbproduct>
        </helpers>
        <blocks>
            <adminhtml>

            </adminhtml>
            <slpbproduct>
                <class>Slpb_Product_Block_Adminhtml</class>
            </slpbproduct>
        </blocks>
        <models>
            <slpbproduct>
                <class>Slpb_Product_Model</class>
                <resourceModel>slpbproduct_mysql4</resourceModel>
            </slpbproduct>
            <slpbproduct_mysql4>
                <class>Slpb_Product_Model_Mysql4</class>
            </slpbproduct_mysql4>
            <checkout>
                <rewrite>
                    <cart>Slpb_Product_Model_Checkout_Cart</cart>
                </rewrite>
            </checkout>
        </models>
        <resources>
            <slpb_product_setup>
                <setup>
                    <module>Slpb_Product</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slpb_product_setup>
        </resources>
        <events>
            <egovs_mpcheckout_billing_address_set>
                <observers>
                    <productlimit>
                        <type>singleton</type>
                        <class>Slpb_Product_Model_Checkout_Observer</class>
                        <method>onMPCheckoutBillingAddressSet</method>
                    </productlimit>
                </observers>
            </egovs_mpcheckout_billing_address_set>
            <egovs_mpcheckout_shipping_address_set>
                <observers>
                    <productlimit>
                        <type>singleton</type>
                        <class>Slpb_Product_Model_Checkout_Observer</class>
                        <method>onMPCheckoutShippingAddressSet</method>
                    </productlimit>
                </observers>
            </egovs_mpcheckout_shipping_address_set>
            <sales_quote_merge_after>
                <observers>
                    <productlimit>
                        <type>singleton</type>
                        <class>Slpb_Product_Model_Checkout_Observer</class>
                        <method>onQuoteMerge</method>
                    </productlimit>
                </observers>
            </sales_quote_merge_after>
            <checkout_entry_before>
                <observers>
                    <productlimit>
                        <type>singleton</type>
                        <class>Slpb_Product_Model_Checkout_Observer</class>
                        <method>onCheckoutEntryBefore</method>
                    </productlimit>
                </observers>
            </checkout_entry_before>
            <checkout_cart_add_product_before>
                <observers>
                    <productlimit>
                        <type>singleton</type>
                        <class>Slpb_Product_Model_Checkout_Observer</class>
                        <method>onCheckoutCartProductAddBefore</method>
                    </productlimit>
                </observers>
            </checkout_cart_add_product_before>
            <checkout_cart_update_items_after>
                <observers>
                    <productlimit>
                        <type>singleton</type>
                        <class>Slpb_Product_Model_Checkout_Observer</class>
                        <method>onCheckoutCartUpdateItemsBefore</method>
                    </productlimit>
                </observers>
            </checkout_cart_update_items_after>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <sternchen/>
                        <slpb_limit/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Slpb_Product>
                    <files>
                        <default>Slpb_Product.csv</default>
                    </files>
                </Slpb_Product>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <extstockorderlist translate="title" module="extstock">
                                    <title>Bestellungen zum Versand</title>
                                </extstockorderlist>
                                <extstockpickuplist translate="title" module="extstock">
                                    <title>Bestellungen zur Abholung</title>
                                </extstockpickuplist>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <sales>
                <children>
                    <extstockorderlist module="slpbproduct">
                        <title>Bestellungen zum Versand</title>
                        <sort_order>5</sort_order>
                        <action>adminhtml/slpbproduct_order</action>
                    </extstockorderlist>

                </children>
                <children>
                    <extstockpickuplist module="slpbproduct">
                        <title>Bestellungen zur Abholung</title>
                        <sort_order>4</sort_order>
                        <action>adminhtml/slpbproduct_pickup</action>
                    </extstockpickuplist>

                </children>
            </sales>
        </menu>
        <translate>
            <modules>
                <Slpb_Product>
                    <files>
                        <default>Slpb_Product.csv</default>
                    </files>
                </Slpb_Product>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Slpb_Product>
                    <files>
                        <default>Slpb_Product.csv</default>
                    </files>
                </Slpb_Product>
            </modules>
        </translate>
    </frontend>
    <default>
        <checkout>
            <cart>
                <slpb_count>12</slpb_count>
                <slpb_stars>24</slpb_stars>
                <slpb_use_data_src_to_check_postcode>0</slpb_use_data_src_to_check_postcode>
            </cart>
        </checkout>
        <general>
            <slpb>
                <period_start>2010-10-11</period_start>
                <period_stop>2010-10-11</period_stop>
                <orders_per_period>1</orders_per_period>
            </slpb>
        </general>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Slpb_Product_Adminhtml after="Mage_Adminhtml">Slpb_Product_Adminhtml</Slpb_Product_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>