<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_Extnewsletter>
            <version>0.1.4</version>
        </Egovs_Extnewsletter>
    </modules>
    <frontend>
        <routers>
            <extnewsletter>
                <use>standard</use>
                <args>
                    <module>Egovs_Extnewsletter</module>
                    <frontName>extnewsletter</frontName>
                </args>
            </extnewsletter>
        </routers>
        <!-- 
        <layout>
            <updates>
                <extnewsletter>
                    <file>egovs_extnewsletter.xml</file>
                </extnewsletter>
            </updates>
        </layout>
         -->
            <translate>
		        <modules>
		            <Egovs_Extnewsletter>
		                <files>
		                    <default>Egovs_Newsletter.csv</default>
		                </files>
		            </Egovs_Extnewsletter>
		        </modules>
    		</translate>
    </frontend>
    <admin>
        <routers>
			<adminhtml>	
				<args>
					<modules>
						<Egovs_Extnewsletter_Adminhtml after="Mage_Adminhtml">Egovs_Extnewsletter_Adminhtml</Egovs_Extnewsletter_Adminhtml>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<extnewsletter>
					<file>egovs/extnewsletter.xml</file>
				</extnewsletter>
			</updates>
		</layout>
		<translate>
		        <modules>
		            <Egovs_Extnewsletter>
		                <files>
		                    <default>Egovs_Newsletter.csv</default>
		                </files>
		            </Egovs_Extnewsletter>
		        </modules>
    	</translate>
		<menu>
			<newsletter module="extnewsletter">	            
				<children>
					<items module="extnewsletter">
						<title>Manage Issues</title>
						<sort_order>0</sort_order>
						<action>adminhtml/extnewsletter_issue</action>
					</items>
				</children>
			</newsletter>
			<report>
	           	<children>
		           	<customers translate="title" module="reports">           
						<children>
							<issues module="extnewsletter">
								<title>Newsletter Issues Overview</title>
								<sort_order>0</sort_order>
								<action>adminhtml/extnewsletter_report/issues</action>
							</issues>
							<products module="extnewsletter">
								<title>Newsletter Products Overview</title>
								<sort_order>0</sort_order>
								<action>adminhtml/extnewsletter_report/products</action>
							</products>
						</children>
					</customers>
				</children>
			</report>
		</menu>
		<acl>
         	<!--  Bei Änderung ist Logout und erneuter Login nötig!
         	source:http://activecodeline.com/magento-module-development-building-interface-with-config-file-and-reusing-config-values
         	-->
             <resources>
                 <admin>
                 	<children>
                 		<newsletter module="extnewsletter">	            
							<children>
								<items module="extnewsletter">
									<title>Manage Issues</title>
								</items>
							</children>
						</newsletter>
                 		<report>
                           	<children>
                           		<customers>           
									<children>
										<issues module="extnewsletter">
											<title>Newsletter Issues Overview</title>
										</issues>
										<products module="extnewsletter">
											<title>Newsletter Products Overview</title>
										</products>
									</children>
								</customers>
							</children>
						</report>
					</children>
				</admin>
			</resources>
		</acl>
    	<events>
    		<adminhtml_sales_order_grid_massaction_prepare_after>
    			<observers>
    				<adminhtml_sales_order_grid_massaction_prepare_after_observer>
    					<class>extnewsletter/observer</class>
    					<method>onSalesOrderGridMassaction</method>
    				</adminhtml_sales_order_grid_massaction_prepare_after_observer>
    			</observers>
    		</adminhtml_sales_order_grid_massaction_prepare_after>
    		<adminhtml_customer_grid_massaction_prepare_after>
    			<observers>
    				<adminhtml_customer_grid_massaction_prepare_after_observer>
    					<class>extnewsletter/observer</class>
    					<method>onCustomerGridMassaction</method>
    				</adminhtml_customer_grid_massaction_prepare_after_observer>
    			</observers>
    		</adminhtml_customer_grid_massaction_prepare_after>
    	</events>
    </adminhtml>   
    <global>
       	<blocks>
       		<customer>
       			<rewrite>
       				<newsletter>Egovs_Extnewsletter_Block_Customer_Newsletter</newsletter>
       			</rewrite>
       		</customer>
   			<adminhtml>
   				<rewrite>
   				<newsletter_queue_edit_form>Egovs_Extnewsletter_Block_Adminhtml_Queue_Edit_Form</newsletter_queue_edit_form>
    			<customer_edit_tab_newsletter>Egovs_Extnewsletter_Block_Adminhtml_Customer_Newsletter</customer_edit_tab_newsletter>
   				</rewrite>
   			</adminhtml>
    	</blocks>
        <models>
        	<newsletter>
	        	<rewrite>
	        		<subscriber>Egovs_Extnewsletter_Model_Mage_Subscriber</subscriber> 
	        		<queue>Egovs_Extnewsletter_Model_Queue</queue>
	        	</rewrite>
        	</newsletter>
            <extnewsletter>
                <class>Egovs_Extnewsletter_Model</class>
                <resourceModel>extnewsletter_mysql4</resourceModel>
            </extnewsletter>
            <extnewsletter_mysql4>
                <class>Egovs_Extnewsletter_Model_Mysql4</class>
                <entities>
                    <extnewsletter_subscriber>
                        <table>extnewsletter_subscriber</table>
                    </extnewsletter_subscriber>
                    <extnewsletter_queue_product>
                        <table>extnewsletter_queue_product</table>
                    </extnewsletter_queue_product>
                     <issue>
                        <table>extnewsletter_issue</table>
                    </issue>
                    <issuesubscriber>
                    	<table>extnewsletter_issues_subscriber</table>
                    </issuesubscriber>
                    <issuequeue>
                    	<table>extnewsletter_queue_issue</table>
                    </issuequeue>
                </entities>
            </extnewsletter_mysql4>
            <newsletter_mysql4>
	            <rewrite>
	            	<queue>Egovs_Extnewsletter_Model_Mysql4_Queue</queue>
	            	<subscriber_collection>Egovs_Extnewsletter_Model_Mysql4_Subscriber_Collection</subscriber_collection>
	            	<queue_collection>Egovs_Extnewsletter_Model_Mage_Queuecollection</queue_collection>
	            </rewrite>
            </newsletter_mysql4>
        </models>
        <resources>
            <extnewsletter_setup>
                <setup>
                    <module>Egovs_Extnewsletter</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </extnewsletter_setup>
            <extnewsletter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </extnewsletter_write>
            <extnewsletter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </extnewsletter_read>
        </resources>
        <blocks>
            <extnewsletter>
                <class>Egovs_Extnewsletter_Block</class>
            </extnewsletter>
        </blocks>
        <helpers>
            <extnewsletter>
                <class>Egovs_Extnewsletter_Helper</class>
            </extnewsletter>
        </helpers>
        <events>
        	<checkout_type_onepage_save_order_after>
        		<observers>	
        			<downloadupdate>
        				<type>singleton</type>
        				<class>Egovs_Extnewsletter_Model_Observer</class>
        				<method>onCheckoutSaveOrderAfter</method>
        			</downloadupdate>
        		</observers>
        	</checkout_type_onepage_save_order_after>
        </events>
         <sales>
        	<quote>
        		<item>
        			<product_attributes>
                        <extnewsletter/>
                    </product_attributes>
        		</item>
        	</quote>
        </sales>
    </global>
	
	<default>
		<newsletter>
			<subscription>
				<auto_subscribe_newsletter>0</auto_subscribe_newsletter>
			</subscription>
		</newsletter>
	</default>
</config>