<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <Bfr_Base>
            <version>0.1.1</version>
        </Bfr_Base>
    </modules>
    <global>
        <helpers>
            <bfr_base>
                <class>Bfr_Base_Helper</class>
            </bfr_base>
        </helpers>
        <resources>
            <bfr_base_setup>
                <setup>
                    <module>Bfr_Base</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bfr_base_setup>
        </resources>
    </global>
    <frontend>
        <product>
            <collection>
                <attributes>
                    <name_prefix/>
                </attributes>
            </collection>
        </product>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Bfr_Base>
                    <files>
                        <default>Bfr_Base.csv</default>
                    </files>
                </Bfr_Base>
            </modules>
        </translate>
         <cms>
            <browser>
                <extensions>
                    <allowed>
                        <pdf>1</pdf>
                    </allowed>
                    <image_allowed>
                        <pdf>1</pdf>
                    </image_allowed>
                </extensions>
            </browser>
        </cms>

    </adminhtml>
</config>
