<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_Saferpay>
            <version>4.0.0.0</version>
            <depends>Egovs_Paymentbase</depends>
        </Egovs_Saferpay>
    </modules>
    <global>
        <models>
            <saferpay>
                <class>Egovs_Saferpay_Model</class>
            </saferpay>
        </models>
        <helpers>
            <saferpay>
                <class>Egovs_Saferpay_Helper</class>
            </saferpay>
        </helpers>
        <resources>
            <saferpay_setup>
            	<setup>
            		<module>Egovs_Saferpay</module>
            		<class>Mage_Eav_Model_Entity_Setup</class>
            	</setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </saferpay_setup>
            <saferpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </saferpay_write>
            <saferpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </saferpay_read>
        </resources>
        <blocks>
            <saferpay><class>Egovs_Saferpay_Block</class></saferpay>
        </blocks>
    </global>
    <frontend>
    	<secure_url>
            <saferpay>/saferpay/saferpay</saferpay>
        </secure_url>
        <routers>
            <saferpay>
                <use>standard</use>
                <args>
                    <module>Egovs_Saferpay</module>
                    <frontName>saferpay</frontName>
                </args>
            </saferpay>
        </routers>
        <translate>
            <modules>
                <Egovs_Saferpay>
                    <files>
                        <default>Egovs_Saferpay.csv</default>
                    </files>
                </Egovs_Saferpay>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Egovs_Saferpay>
                    <files>
                        <default>Egovs_Saferpay.csv</default>
                    </files>
                </Egovs_Saferpay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <saferpay>
                <currency>EUR</currency>
                <model>saferpay/saferpay</model>
                <payment_action>authorize</payment_action>
                <title>Kreditkarte per Saferpay</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <autoclose>0</autoclose>
                <!-- Providerset für Produktivbetrieb -->
                <!--<providerset>1,2</providerset>-->
                <!-- Providerset für Testbetrieb -->
                <providerset>6</providerset>
                <cancel_order_after_active>1</cancel_order_after_active>
                <cancel_order_after>30</cancel_order_after>
                <!-- Der Kunde soll nach jeder Zahlung gelöscht werden -->
                <delete_customer_after_transaction>1</delete_customer_after_transaction>
                <group>epaybl</group>
            </saferpay>
        </payment>
    </default>
</config>
