<?xml version="1.0"?>
<config>
    <modules>
        <B3it_Solr>
            <version>0.1.0.0</version>
        </B3it_Solr>
    </modules>
    <global>
        <helpers>
            <b3it_solr>
                <class>B3it_Solr_Helper</class>
            </b3it_solr>
        </helpers>

        <blocks>
            <b3it_solr>
                <class>B3it_Solr_Block</class>
            </b3it_solr>
        </blocks>
        <models>
            <b3it_solr>
                <class>B3it_Solr_Model</class>
            </b3it_solr>
        </models>
    </global>
    <frontend>
        <routers>
            <b3it_solr>
                <use>standard</use>
                <args>
                    <module>B3it_Solr</module>
                    <frontName>solr</frontName>
                </args>
            </b3it_solr>
        </routers>
        <layout>
            <updates>
                <b3it_solr>
                    <file>b3it/solr.xml</file>
                </b3it_solr>
            </updates>
        </layout>
        <translate>
            <modules>
                <B3it_Solr>
                    <files>
                        <default>B3it/Solr.csv</default>
                    </files>
                </B3it_Solr>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <B3it_Solr_Adminhtml after="Mage_Adminhtml">B3it_Solr_Adminhtml</B3it_Solr_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <B3it_Solr>
                    <files>
                        <default>B3it/Solr.csv</default>
                    </files>
                </B3it_Solr>
            </modules>
        </translate>
        <layout>
            <updates>
                <solr>
                    <file>b3it/solr.xml</file>
                </solr>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <solr_search_product_save>
                        <type>singleton</type>
                        <class>B3it_Solr_Model_Index_Product</class>
                        <method>onProductSaveAfter</method>
                    </solr_search_product_save>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_before>
                <observers>
                    <solr_search_product_delete>
                        <type>singleton</type>
                        <class>B3it_Solr_Model_Index_Product</class>
                        <method>onProductDeleteBefore</method>
                    </solr_search_product_delete>
                </observers>
            </catalog_product_delete_before>
            <!--<cms_page_save_after>
                <observers>
                    <solr_search_cms_save>
                        <type>singleton</type>
                        <class>B3it_Solr_Model_Index_Cms</class>
                        <method>onPageSaveAfter</method>
                    </solr_search_cms_save>
                </observers>
            </cms_page_save_after>
            <cms_page_delete_before>
                <observers>
                    <solr_search_cms_delete>
                        <type>singleton</type>
                        <class>B3it_Solr_Model_Index_Cms</class>
                        <method>onPageDeleteBefore</method>
                    </solr_search_cms_delete>
                </observers>
            </cms_page_delete_before>-->
        </events>
        <menu>
            <system>
                <children>
                    <B3it_solr module="b3it_solr">
                        <title>Solr Search</title>
                        <action>adminhtml/solr/index</action>
                    </B3it_solr>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <solr_general>
                                            <title>Solr General Options</title>
                                        </solr_general>
                                        <solr_security>
                                            <title>Solr Security Options</title>
                                        </solr_security>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <solr_general>
            <search_options>
                <results_per_page>4,12,36</results_per_page>
                <results_per_page_default>12</results_per_page_default>
                <max_query_length>40</max_query_length>
                <fuzzy_distance>2</fuzzy_distance>
            </search_options>
            <spellcheck_options>
                <spellcheck_results>0</spellcheck_results>
            </spellcheck_options>
            <price_range_options>
                <default_price_ranges>5</default_price_ranges>
            </price_range_options>
        </solr_general>
    </default>
    <crontab>
        <jobs>
            <b3it_solr_collect>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>b3it_solr/cron::pingSolr</model>
                </run>
            </b3it_solr_collect>
            <b3it_solr_reindex>
                <schedule>
                    <config_path>solr_general/index_options/index_cron_time</config_path>
                </schedule>
                <run>
                    <model>b3it_solr/cron::reindexProducts</model>
                </run>
            </b3it_solr_reindex>
        </jobs>
    </crontab>
</config>
