<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Bfr_EventManager>
            <version>0.1.3</version>
        </Bfr_EventManager>
    </modules>
    <frontend>
        <routers>
            <eventmanager>
                <use>standard</use>
                <args>
                    <module>Bfr_EventManager</module>
                    <frontName>eventmanager</frontName>
                </args>
            </eventmanager>
        </routers>
        <layout>
            <updates>
                <eventmanager>
                    <file>bfr/eventmanager.xml</file>
                </eventmanager>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bfr_EventManager>
                    <files>
                        <default>Bfr_EventManager.csv</default>
                    </files>
                </Bfr_EventManager>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bfr_EventManager_Adminhtml after="Mage_Adminhtml">Bfr_EventManager_Adminhtml</Bfr_EventManager_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <bfr_eventmanager module="eventmanager">
                <title>Events</title>
                <sort_order>41</sort_order>
                <children>
                    <eventmanager_event module="eventmanager">
                        <title>Events</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/eventmanager_event</action>
                    </eventmanager_event>
                    <eventmanager_participant module="eventmanager">
                        <title>Participant</title>
                        <sort_order>20</sort_order>
                        <action>adminhtml/eventmanager_participant</action>
                    </eventmanager_participant>
                    <eventmanager_options module="eventmanager">
                        <title>Options</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/eventmanager_options</action>
                    </eventmanager_options>
                    <eventmanager_lookup module="eventmanager">
                        <title>Lookup</title>
                        <sort_order>30</sort_order>
                        <action>adminhtml/eventmanager_lookup</action>
                    </eventmanager_lookup>
                    <eventmanager_translate module="eventmanager">
                        <title>Translate</title>
                        <sort_order>40</sort_order>
                        <action>adminhtml/eventmanager_translate</action>
                    </eventmanager_translate>
                </children>
            </bfr_eventmanager>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <bfr_eventmanager>
                            <title>EventManager</title>
                            <sort_order>10</sort_order>
                            <children>
                                <eventmanager_event module="eventmanager">
                                    <title>Manage EventManager Event</title>
                                    <sort_order>10</sort_order>
                                </eventmanager_event>
                                <eventmanager_participant module="eventmanager">
                                    <title>Participant</title>
                                    <sort_order>20</sort_order>
                                </eventmanager_participant>
                                <eventmanager_lookup module="eventmanager">
                                    <title>Lookup</title>
                                    <sort_order>30</sort_order>
                                </eventmanager_lookup>
                                <eventmanager_translate module="eventmanager">
                                    <title>Translate</title>
                                    <sort_order>40</sort_order>

                                </eventmanager_translate>
                            </children>
                        </bfr_eventmanager>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <eventmanager>
                                            <title>Event Manager Section</title>
                                        </eventmanager>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <eventmanager>
                    <file>bfr/eventmanager.xml</file>
                </eventmanager>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bfr_EventManager>
                    <files>
                        <default>Bfr_EventManager.csv</default>
                    </files>
                </Bfr_EventManager>
            </modules>
        </translate>
        <events>
            <eventbundle_create_after>
                <observers>
                    <eventmanager_eventbundle_create_after>
                        <type>singleton</type>
                        <class>eventmanager/observer</class>
                        <method>onEventbundleCreateAfter</method>
                    </eventmanager_eventbundle_create_after>
                </observers>
            </eventbundle_create_after>
            <adminhtml_block_customer_edit_tab_addresses_init_after>
                <observers>
                    <eventmanager_customer_edit_tab_addresses_init_after>
                        <type>singleton</type>
                        <class>eventmanager/observer</class>
                        <method>onAddressFormInitAfter</method>
                    </eventmanager_customer_edit_tab_addresses_init_after>
                </observers>
            </adminhtml_block_customer_edit_tab_addresses_init_after>
        </events>
    </adminhtml>
    <global>
        <models>
            <eventmanager>
                <class>Bfr_EventManager_Model</class>
                <resourceModel>eventmanager_resource</resourceModel>
            </eventmanager>
            <eventmanager_resource>
                <class>Bfr_EventManager_Model_Resource</class>
                <entities>
                    <event>
                        <table>eventmanager_event</table>
                    </event>
                    <lookup>
                        <table>eventmanager_lookup</table>
                    </lookup>
                    <participant>
                        <table>eventmanager_participant</table>
                    </participant>
                    <participant_attribute>
                        <table>eventmanager_participant_attribute</table>
                    </participant_attribute>
                    <translate>
                        <table>eventmanager_translate</table>
                    </translate>
                    <event_pdftemplate>
                        <table>eventmanager_event_pdftemplate</table>
                    </event_pdftemplate>
                </entities>
            </eventmanager_resource>
        </models>
        <resources>
            <eventmanager_setup>
                <setup>
                    <module>Bfr_EventManager</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </eventmanager_setup>
            <eventmanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eventmanager_write>
            <eventmanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eventmanager_read>
        </resources>
        <blocks>
            <eventmanager>
                <class>Bfr_EventManager_Block</class>
            </eventmanager>
        </blocks>
        <helpers>
            <eventmanager>
                <class>Bfr_EventManager_Helper</class>
            </eventmanager>
        </helpers>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <eventmanager_save_order>
                        <type>singleton</type>
                        <class>eventmanager/observer</class>
                        <method>onCheckoutSubmitAllAfter</method>
                    </eventmanager_save_order>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
        <eventbundle_personal>
            <fields>
                <academic_titel>
                    <label>Academic Title</label>
                </academic_titel>
                <position>
                    <label>Occupation</label>
                </position>
            </fields>
        </eventbundle_personal>
        <pdftemplate>
            <types>
                <participation_certificate>Participation Certificate</participation_certificate>
            </types>
        </pdftemplate>
        <fieldsets>
            <sales_convert_quote_item>
                <use4_participation_certificate>
                    <to_order_item>*</to_order_item>
                </use4_participation_certificate>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <use4_participation_certificate>
                    <to_quote_item>*</to_quote_item>
                    <to_invoice_item>*</to_invoice_item>
                </use4_participation_certificate>
            </sales_convert_order_item>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <use4_participation_certificate/>
                    </product_attributes>
                </item>
            </quote>
        </sales>

        <template>
            <email>
                <!-- see Mage_Adminhtml_Model_System_Config_Source_Email_Template line 58
                    Default Template-Name wird aus Config-Node-Path gebildet!
                -->
                <eventmanager_participation_certificate_email_template translate="label" module="eventmanager">
                    <label>Your Participation Certificate</label>
                    <file>bfr/eventmanager/participation_certificate.html</file>
                    <type>html</type>
                </eventmanager_participation_certificate_email_template>
            </email>
        </template>
    </global>
    <default>
        <eventmanager>
            <participation_certificate_email>
                <template>eventmanager_participation_certificate_email_template</template>
            </participation_certificate_email>
        </eventmanager>
    </default>
</config>
