<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Bkg_VirtualAccess>
            <version>0.0.1.0</version>
        </Bkg_VirtualAccess>
    </modules>
    <adminhtml>
    	<menu>
			<sales>           
				<children>
					<purchased module="virtualaccess">
						<title>Credential</title>
						<sort_order>100</sort_order>
						<action>adminhtml/virtualaccess_purchased</action>
					</purchased>
				</children>
			</sales>
		</menu>
        <translate>
            <modules>
                <Bkg_VirtualAccess>
                    <files>
                        <default>Bkg_VirtualAccess.csv</default>
                    </files>
                </Bkg_VirtualAccess>
            </modules>
        </translate>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <virtualaccess/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <layout>
            <updates>
                <virtualaccess>
                    <file>bkg/virtualaccess.xml</file>
                </virtualaccess>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <virtualaccess_observer>
                        <class>virtualaccess/product_observer</class>
                        <method>prepareProductSave</method>
                    </virtualaccess_observer>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_edit_action>
                <observers>
                    <virtualaccess_observer>
                        <class>virtualaccess/product_observer</class>
                        <method>prepareProductEdit</method>
                    </virtualaccess_observer>
                </observers>
            </catalog_product_edit_action>
        </events>
        		<acl>			
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
					    <sales>
					        <children>
					            <purchased translate="title" module="virtualaccess">
					                <title>Credential</title>
					            </purchased>
					        </children>
					    </sales>
					  <system>
                            <children>
                                <config>
                                    <children>
                                        <virtualaccess translate="title" module="virtualaccess">
                                            <title>Configuarable Virtual Product Section</title>
                                        </virtualaccess>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
                   
    </adminhtml>
    
    <global>
        <fieldsets>
            <virtualaccess_sales_copy_order>
                <entity_id>
                    <to_virtualaccess>order_id</to_virtualaccess>
                </entity_id>
                <increment_id>
                    <to_virtualaccess>order_increment_id</to_virtualaccess>
                </increment_id>
                <created_at>
                    <to_virtualaccess>*</to_virtualaccess>
                </created_at>
                <updated_at>
                    <to_virtualaccess>*</to_virtualaccess>
                </updated_at>
                <customer_id>
                    <to_virtualaccess>*</to_virtualaccess>
                </customer_id>
            </virtualaccess_sales_copy_order>
            <virtualaccess_sales_copy_order_item>
                <item_id>
                    <to_virtualaccess>order_item_id</to_virtualaccess>
                </item_id>
                <name>
                    <to_virtualaccess>product_name</to_virtualaccess>
                </name>
                <sku>
                    <to_virtualaccess>product_sku</to_virtualaccess>
                </sku>
                <period>
                    <to_virtualaccess>period</to_virtualaccess>
                </period>
            </virtualaccess_sales_copy_order_item>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <virtualaccess_base_url/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <catalog>
            <product>
                <type>
                    <virtualaccess translate="label" module="virtualaccess">
                        <label>Virtual Access Product</label>
                        <model>virtualaccess/product_type</model>
                        <composite>0</composite>
                        <price_model>virtualaccess/product_price</price_model>
                        <is_qty>1</is_qty>
                    </virtualaccess>
                    <configurable>
                    <allow_product_types>
                        <virtualaccess/>
                    </allow_product_types>
                </configurable>
                </type>
                
                
                <grouped>
                    <allow_product_types>
                        <virtualaccess/>
                    </allow_product_types>
                </grouped>
            </product>
        </catalog>
        <blocks>
            <virtualaccess>
                <class>Bkg_VirtualAccess_Block</class>
            </virtualaccess>
        </blocks>
        <helpers>
            <virtualaccess>
                <class>Bkg_VirtualAccess_Helper</class>
            </virtualaccess>
        </helpers>
        <models>
            <virtualaccess>
                <class>Bkg_VirtualAccess_Model</class>
                <resourceModel>virtualaccess_resource</resourceModel>
            </virtualaccess>
            <virtualaccess_resource>
                <class>Bkg_VirtualAccess_Model_Resource</class>
                <entities>                    
                    <purchased>
                        <table>bkg_virtualaccess_purchased</table>
                    </purchased>
                    <periodical_abo>
                        <table>bkg_virtualaccess_periodical_abo</table>
                    </periodical_abo>
                    <service_log>
                        <table>bkg_virtualaccess_service_log</table>
                    </service_log>
                </entities>
            </virtualaccess_resource>
        </models>
        <resources>
            <bkg_virtualaccess_setup>
                <setup>
                    <module>Bkg_VirtualAccess</module>
                    <class>Bkg_VirtualAccess_Model_Resource_Setup</class>
                </setup>
            </bkg_virtualaccess_setup>
        </resources>
    <events>   
        <!--
            <sales_order_item_save_commit_after>
                <observers>
                    <virtualaccess_product_observer>
                        <class>virtualaccess/product_observer</class>
                        <method>saveOrderItem</method>
                    </virtualaccess_product_observer>
                </observers>
            </sales_order_item_save_commit_after>  
            -->
            <!--
            <sales_order_item_save_before>
              <observers>
                    <virtualaccess_product_save_orderitem_before>
                        <class>virtualaccess/product_observer</class>
                        <method>onBeforeSaveOrderItem</method>
                    </virtualaccess_product_save_orderitem_before>
                </observers>
            </sales_order_item_save_before>
            -->
        <!--
            <sales_quote_item_set_product>
                <observers>
                    <virtualaccess_product_observer>
                        <class>virtualaccess/product_observer</class>
                        <method>onSalesQuoteItemSetProduct</method>
                    </virtualaccess_product_observer>
                </observers>
            </sales_quote_item_set_product>
            -->
            <sales_order_save_after>
            <observers>
                <virtualaccess_product_save_order>
                    <class>virtualaccess/product_observer</class>
                    <method>onSalesOrderSaveAfter</method>
                </virtualaccess_product_save_order>
            </observers>
        </sales_order_save_after>
        </events>
       
    </global>
    <crontab>
        <jobs>
            <bkg_account_sync>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>virtualaccess/cron::runSync</model>
                </run>
            </bkg_account_sync>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <virtualaccess>
                <use>standard</use>
                <args>
                    <module>Bkg_VirtualAccess</module>
                    <frontName>virtualaccess</frontName>
                </args>
            </virtualaccess>
        </routers>
        <secure_url>
            <virtualaccess>/virtualaccess/customer/</virtualaccess>
        </secure_url>
        <translate>
            <modules>
                <Bkg_VirtualAccess>
                    <files>
                        <default>Bkg_VirtualAccess.csv</default>
                    </files>
                </Bkg_VirtualAccess>
            </modules>
        </translate>
        <layout>
            <updates>
                <virtualaccess module="Bkg_VirtualAccess">
                    <file>bkg/virtualaccess.xml</file>
                </virtualaccess>
            </updates>
        </layout>
        
    </frontend>
    
    <admin>
        <fieldsets>
            <catalog_product_dataflow>
                <qty>
                    <product_type>
                        <virtualaccess/>
                    </product_type>
                </qty>
                <min_qty>
                    <product_type>
                        <virtualaccess/>
                    </product_type>
                </min_qty>
                <is_qty_decimal>
                    <product_type>
                        <virtualaccess/>
                    </product_type>
                </is_qty_decimal>
                <backorders>
                    <product_type>
                        <virtualaccess/>
                    </product_type>
                </backorders>
                <min_sale_qty>
                    <product_type>
                        <virtualaccess/>
                    </product_type>
                </min_sale_qty>
                <max_sale_qty>
                    <product_type>
                        <virtualaccess/>
                    </product_type>
                </max_sale_qty>
                <is_in_stock>
                    <product_type>
                        <virtualaccess/>
                    </product_type>
                </is_in_stock>
                <notify_stock_qty>
                    <product_type>
                        <virtualaccess/>
                    </product_type>
                </notify_stock_qty>
                <manage_stock>
                    <product_type>
                        <virtualaccess/>
                    </product_type>
                </manage_stock>
            </catalog_product_dataflow>
        </fieldsets>      
        <routers>
		<adminhtml>	
			<args>
				<modules>
					<Bkg_VirtualAccess_Adminhtml after="Mage_Adminhtml">Bkg_VirtualAccess_Adminhtml</Bkg_VirtualAccess_Adminhtml>
				</modules>
			</args>
		</adminhtml>
	</routers>        
    </admin>
</config>