@charset "UTF-8";
#loading-mask .loader {
    background: #FFFFFF repeat scroll 0 0;
    border: 2px solid #F1AF73;
    color: #D85909;
    -ms-filter: "Alpha(Opacity=100)"; /* ie 8 */
    font-weight: bold;
    left: 50%;
    margin-left: -60px;
    padding: 15px 60px;
    position: fixed;
    text-align: center;
    top: 45%;
    width: 120px;
    z-index: 9999;
}

#loading-mask {
	font-size: 1.1em;
    background-color: #000000;
    -ms-filter: "Alpha(Opacity=65)"; /* ie 8 */
    border: 0 none;
    height: 100%;
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}