<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_Doc>
            <version>0.1.0</version>
        </Egovs_Doc>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Egovs_Doc_Adminhtml after="Mage_Adminhtml">Egovs_Doc_Adminhtml</Egovs_Doc_Adminhtml>
					          </modules>
				        </args>
			      </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		    <menu>
		        <egovs_doc module="egovs_doc">
		    	    <title>Documentation</title>
		    		<sort_order>10000</sort_order>
		    		<children>
		    		    <egovs_doc_manager module="egovs_doc">
		    				<title>View Documentation</title>
		    				<sort_order>0</sort_order>
		    				<action>adminhtml/doc_doc</action>
		    		    </egovs_doc_manager>
		    		</children>
		        </egovs_doc>
		    </menu>
		    <translate>
		        <modules>
		            <Egovs_Doc>
		                <files>
		                    <default>Egovs_Doc.csv</default>
                    	</files>
                	</Egovs_Doc>
            	</modules>
		    </translate>
		    <acl>
		        <resources>
		            <all>
		                <title>Allow Everything</title>
		    		    </all>
		    		    <admin>
		    		        <children>
		    		            <egovs_doc>
		    		                <title>View Documentation</title>
		    		                <sort_order>10</sort_order>
		    		                <children>
		    		                    <egovs_doc_manager translate="title" module="egovs_doc">
		    		                        <title>View</title>
		    		                        <sort_order>20</sort_order>
		    		                        <children>
		    		                            <view translate="title" module="egovs_doc">
		    		                                <title>View</title>
		    		                                <sort_order>10</sort_order>
		    		                            </view>
		    		                            <edit translate="title" module="egovs_doc">
		    		                                <title>Edit</title>
		    		                                <sort_order>20</sort_order>
		    		                            </edit>
		    				                    </children>
		    				                </egovs_doc_manager>
		    				            </children>
		    				        </egovs_doc>
		    			      </children>
		    		    </admin>
		    	  </resources>
		    </acl>
		    <layout>
		        <updates>
		            <egovs_doc>
		                <file>egovs_doc.xml</file>
		    		    </egovs_doc>
		    	  </updates>
		    </layout>
		<translate>
			<modules>
				<Egovs_Doc>
					<files>
						<default>Egovs_Doc.csv</default>
					</files>
				</Egovs_Doc>
			</modules>
		</translate>
    </adminhtml>
    <global>
        <models>
            <egovs_doc>
                <class>Egovs_Doc_Model</class>
                <resourceModel>egovs_doc_mysql4</resourceModel>
            </egovs_doc>
            <egovs_doc_mysql4>
                <class>Egovs_Doc_Model_Mysql4</class>
                <entities>
                    <doc>
                        <table>egovs_doc</table>
                    </doc>
                </entities>
            </egovs_doc_mysql4>
        </models>
        <resources>
            <egovs_doc_setup>
                <setup>
                    <module>Egovs_Doc</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </egovs_doc_setup>
            <doc_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </doc_write>
            <doc_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </doc_read>
        </resources>
        <blocks>
            <egovs_doc>
                <class>Egovs_Doc_Block</class>
            </egovs_doc>
        </blocks>
        <helpers>
            <egovs_doc>
                <class>Egovs_Doc_Helper</class>
            </egovs_doc>
        </helpers>

        <egovs_doc>
            <categories>
                <Einfuehrung>
                    <label>Einführung</label>
                </Einfuehrung>
                <Handbuecher>
                    <label>Handbücher</label>
                </Handbuecher>
                <DWDModule>
                    <label>DWD-Module</label>
                </DWDModule>
                <PolarionTesttool>
                    <label>Polarion-Testtool</label>
                </PolarionTesttool>
                <Preislisten>
                    <label>Preislisten</label>
                </Preislisten>
                <SpezielleUebersichten>
                    <label>Spezielle Übersichten</label>
                </SpezielleUebersichten>
            </categories>
        </egovs_doc>
    </global>
</config>
