<h3>Herausgeber</h3>
<p>
	<strong>{{block type="egovsready/imprint_field" value="shop_name"}}</strong><br />
	{{block type="egovsready/imprint_field" value="company_first"}} {{block type="egovsready/imprint_field" value="company_second"}}<br />
	{{block type="egovsready/imprint_field" value="street"}}<br />
	{{block type="egovsready/imprint_field" value="zip"}} {{block type="egovsready/imprint_field" value="city"}}
</p>
<p>
	<strong>
		Vertretungsberechtigte Vorstandsmitglieder des
		{{block type="egovsready/imprint_field" value="company_first"}} {{block type="egovsready/imprint_field" value="company_second"}}
		sind:
	</strong><br />
	{{block type="egovsready/imprint_field" value="ceo"}}
</p>
<p>
	{{block type="egovsready/imprint_content" template="egovs/ready/imprint/communication.phtml"}}
</p>
<p>
	<strong>Verantwortlich:</strong><br />{{block type="egovsready/imprint_field" value="ceo"}}
</p>
<p>
	Steuernummer: {{block type="egovsready/imprint_field" value="tax_number"}}<br />
	USt-ID: {{block type="egovsready/imprint_field" value="vat_id"}}<br />
	Zust&auml;ndiges Finanzamt: {{block type="egovsready/imprint_field" value="financial_office"}}<br />
	Zust&auml;ndiges Gericht: {{block type="egovsready/imprint_field" value="court"}}
</p>
<p>
	Sie erreichen unseren Kundendienst f&uuml;r Fragen Reklamationen und
	Beanstandungen unter Telefon: {{block type="egovsready/imprint_field" value="telephone"}}
	sowie per Email unter <a href="mailto:{{block type="egovsready/imprint_field" value="email"}}">
	{{block type="egovsready/imprint_field" value="email"}}</a>.
	F&uuml;r Anfragen k&ouml;nnen Sie auch das Kontaktformular auf unserer Internetseite nutzen.
</p>
<h3>Copyright Information</h3>
<p>
	Der Inhalt der Seiten ist urheberrechtlich gesch&uuml;tzt.
	Vervielf&auml;ltigung, &Auml;nderung, Verbreitung, Nutzung oder
	&ouml;ffentliche Wiedergabe der Informationen oder Daten, insbesondere
	von Texten, Bild- oder Tonmaterial ist nur mit ausdr&uuml;cklicher
	Zustimmung gestattet.
</p>
<p>
	Der {{block type="egovsready/imprint_field" value="company_first"}} {{block type="egovsready/imprint_field" value="company_second"}}
	ist nicht verantwortlich f&uuml;r die Inhalte fremder
	Seiten, die &uuml;ber einen Link erreicht werden. Die auf den
	verlinkten Seiten wiedergegebenen Meinungs&auml;u&szlig;erungen
	und/oder Tatsachenbehauptungen liegen allein in der Verantwortung des
	jeweiligen Autors und spiegeln nicht die Meinung des
	{{block type="egovsready/imprint_field" value="company_first"}} {{block type="egovsready/imprint_field" value="company_second"}}
	wider.
</p>
<p>
	Inhaltlich verantwortlich gem&auml;&szlig; &sect; 5 TMG ist
	{{block type="egovsready/imprint_field" value="ceo"}}, Kontaktdaten siehe oben.
</p>
<h3>Bankverbindung</h3>
<p>
	{{block type="egovsready/imprint_content" template="egovs/ready/imprint/bank.phtml"}}
</p>