<p>
                                <strong>{{block type="imprint/field" value="shop_name"}}</strong><br>
                                {{block type="imprint/field" value="company_first"}}
                            </p>
                            <p>
								{{block type="imprint/field" value="street"}}<br>
                                {{block type="imprint/field" value="zip"}} {{block type="imprint/field" value="city"}}
							</p>
                            <p>
                                Telefon: {{block type="imprint/field" value="telephone"}}<br>
                                Fax: {{block type="imprint/field" value="fax"}}
                            </p>
                            <p>
                                E-Mail: <a href="mailto:{{block type='imprint/field' value='email'}}" style="color:#1E7EC8;">{{block type="imprint/field" value="email"}}</a><br>
                                Internet: <a href="{{store url=''}}" style="color:#1E7EC8;">{{block type="imprint/field" value="web"}}</a>
                            </p>