.widget-static-block {
    margin-bottom: 15px;
}

.widget-credit-cards .block-content {
	background-color: $grundfarbe-blgr;
}

#widget_credit_cards, .widget_credit_cards,
#widget-credit-cards, .widget-credit-cards,
#credit_cards, .credit_cards {
    border: 0 none;
    height: 100%;
    width: 100%;
    
    .block-content {
        text-align: center;
    }
    
    @include bp(max-width, $bp-mobil) {
        position: relative;
        top: -8px;
    }
    
    h4 {
        position: relative;
        top: 7px;
        left: 10px;
    }

    img {
        border: 0 none;
        margin-top: 3px;
        width: 23%;
        display: inline-block;
        max-height: 45px;
        
        @include bp(max-width, $bp-mobil) {
            width: auto;
        }
    }
}

#credit_cards, .credit_cards {
    float: left;
    height: 27px;
    margin: -20px -10px 0 0;
    width: 120px;
}

#widget_logo_master_card {
}

#widget_logo_master_card_secure {
}

#widget_logo_visa {
}

#widget_logo_visa_verified {
}

#pay-logo-before {
	@extend .fa;
	@extend .fa-credit-card;
	color: $zusatzfarbe-blau;
}
#pay-logo-two {
	@extend .fa;
	@extend .fa-eur;
    font-size: 1.6rem;
    left: -15%;
    position: relative;
    top: 10%;
    color: $grundfarbe-blau
}