<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Dwd_Ibewi>
            <version>0.1.3</version>
        </Dwd_Ibewi>
    </modules>
    <admin>
		<routers>
			<adminhtml>	
				<args>
					<modules>
						<Dwd_Ibewi_Adminhtml after="Mage_Adminhtml">Dwd_Ibewi_Adminhtml</Dwd_Ibewi_Adminhtml>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Dwd_Ibewi>
                    <files>
                        <default>Dwd_Ibewi.csv</default>
                    </files>
                </Dwd_Ibewi>
            </modules>
        </translate>
        <menu>
            <report>
                <children>
                    <ibewi module="ibewi">
                        <title>Ibewi</title>
                        <sort_order>71</sort_order>
                        <children>
                            <access module="ibewi">
                                <title>zeige Zugriff</title>
                                <sort_order>10</sort_order>
                                <action>adminhtml/ibewi_access</action>
                            </access>
                            <customer module="ibewi">
                                <title>Kunden</title>
                                <sort_order>20</sort_order>
                                <action>adminhtml/ibewi_customer</action>
                            </customer>
                            <order module="ibewi">
                                <title>Rechnungen</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/ibewi_order</action>
                            </order>
                        </children>
                    </ibewi>
                    <products>
                        <children>
                            <ibewi_report_attribute module="ibewi">
                                <title>Kontierung</title>
                                <sort_order>10</sort_order>
                                <action>adminhtml/ibewi_report_attribute</action>
                            </ibewi_report_attribute>
                        </children>
                    </products>
                </children>
            </report>
			<catalog>
				<children>
					<attributes>
							<children>
								<dwdibewi_kostentraeger_attribute module="ibewi">
									<title>Cost Unit</title>
									<sort_order>10</sort_order>
									<action>adminhtml/ibewi_kostentraeger_attribute/index</action>
								</dwdibewi_kostentraeger_attribute>
							</children>
					</attributes>
				</children>
			</catalog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <report>
                            <children>
                                <ibewi module="ibewi">
                                    <title>Ibewi Report</title>
                                    <sort_order>10</sort_order>
                                    <children>
                                        <access module="ibewi">
                                            <title>zeige Zugriff</title>
                                            <sort_order>10</sort_order>
                                        </access>
                                        <customer module="ibewi">
                                            <title>Kunden</title>
                                            <sort_order>20</sort_order>
                                        </customer>
                                        <order module="ibewi">
                                            <title>Rechnungen</title>
                                            <sort_order>30</sort_order>
                                        </order>
                                    </children>
                                </ibewi>
                                <products>
	                                <children>
		                                <ibewi_report_attribute>
		                                        <title>Kontierung</title>
		                                        <sort_order>20</sort_order>
		                                </ibewi_report_attribute>
	                                </children>
                                </products>
                            </children>
                        </report>
						<catalog>
							<children>
								<attributes>
									<children>
										<dwdibewi_kostentraeger_attribute
											module="ibewi">
											<title>Cost Unit</title>
											<sort_order>10</sort_order>
										</dwdibewi_kostentraeger_attribute>
									</children>
								</attributes>
							</children>
						</catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ibewi>
                    <file>dwd/ibewi.xml</file>
                </ibewi>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <ibewi>
                <class>Dwd_Ibewi_Model</class>
                <resourceModel>ibewi_mysql4</resourceModel>
            </ibewi>
            <ibewi_mysql4>
                <class>Dwd_Ibewi_Model_Mysql4</class>
                <entities>
                    <access>
                        <table>ibewi_access</table>
                    </access>
                    <kostentraeger_attribute>
                        <table>ibewi_kostentraeger_attribute</table>
                    </kostentraeger_attribute>
                </entities>
            </ibewi_mysql4>
        </models>
        <resources>
            <dwd_ibewi_setup>
                <setup>
                    <module>Dwd_Ibewi</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dwd_ibewi_setup>
            <ibewi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ibewi_write>
            <ibewi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ibewi_read>
        </resources>
        <blocks>
            <ibewi>
                <class>Dwd_Ibewi_Block</class>
            </ibewi>
        </blocks>
        <helpers>
            <ibewi>
                <class>Dwd_Ibewi_Helper</class>
            </ibewi>
        </helpers>
        <ibewi>
        	<einheiten>
	        	<VHS>
					<label>pro Vorhersage</label>
				</VHS>
				<EPU>
					<label>pro ECOMET-Produkteinheit</label>
				</EPU>
				<TAG>
					<label>pro Tag</label>
				</TAG>
				<MON>
					<label>pro Monat</label>
				</MON>
				<JAH>
					<label>pro Jahr</label>
				</JAH>
				<LIZ>
					<label>pro Lizenz</label>
				</LIZ>
				<STU>
					<label>pro Stück</label>
				</STU>
				<WOC>
					<label>pro Woche</label>
				</WOC>
				<ABR>
					<label>pro Abruf</label>
				</ABR>
				<RÜK>
					<label>pro Rückblick</label>
				</RÜK>
				<STK>
					<label>pro Statistik</label>
				</STK>
				<EIN>
					<label>pro Einheit</label>
				</EIN>
        	</einheiten>
        	<report>
        		<konto1>53100</konto1>
        		<konto2>58600</konto2>
        		<kostenstelle_versand>320200</kostenstelle_versand>
        		<ibewi_maszeinheit_versand>EIN</ibewi_maszeinheit_versand>
        		<vesand_sku>
        			<case0>
        				<value>0</value>
        				<label>99-07-01-010009</label>
        			</case0>
        		    <case7>
        				<value>7</value>
        				<label>99-07-01-010001</label>
        			</case7>
        			<case19>
        				<value>19</value>
        				<label>99-07-01-010099</label>
        			</case19>
        		</vesand_sku>
        	</report>
        </ibewi>
        <fieldsets>
        	<sales_convert_quote_item>
                <ibewi_maszeinheit>
                    <to_order_item>*</to_order_item>
                </ibewi_maszeinheit>
                <kostentraeger>
                    <to_order_item>*</to_order_item>
                </kostentraeger>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <ibewi_maszeinheit>
                    <to_quote_item>*</to_quote_item>
                    <to_invoice_item>*</to_invoice_item>
                </ibewi_maszeinheit>
                <kostentraeger>
                    <to_quote_item>*</to_quote_item>
                    <to_invoice_item>*</to_invoice_item>
                </kostentraeger>
           </sales_convert_order_item>
        </fieldsets>
        <sales>
        	<quote>
        		<item>
        			<product_attributes>
                        <ibewi_maszeinheit/>
                        <kostentraeger/>
                    </product_attributes>
        		</item>
        	</quote>
        </sales>
           <events>
            <sales_quote_product_add_after>
                <observers>
                    <sales_quote_item_set_product>
                        <class>ibewi/observer</class>
                        <method>onQuoteItemSetProduct</method>
                    </sales_quote_item_set_product>
                </observers>
            </sales_quote_product_add_after>
            <sales_quote_add_item>
                <observers>
                    <ibewi_quote_item_add>
                        <type>singleton</type>
                        <class>Dwd_Ibewi_Model_Observer</class>
                        <method>onSalesQuoteAddItem</method>
                    </ibewi_quote_item_add>
                </observers>
            </sales_quote_add_item>
             </events>
    </global>
</config>