<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Gka_InternalPayId>
            <version>0.0.1.0</version>
        </Gka_InternalPayId>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <Gka_InternalPayId>
                    <files>
                        <default>Gka_InternalPayId.csv</default>
                    </files>
                </Gka_InternalPayId>
            </modules>
        </translate>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <internalpayid/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <layout>
            <updates>
                <internalpayid>
                    <file>gka/internalpayid.xml</file>
                </internalpayid>
            </updates>
        </layout>
        <menu>
            <system>
                <children>
                    <gka_internalPayId_SpecializedProcedure module="internalpayid">
                        <title>Specialized Procedure</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/internalpayid_epaybl_client/index</action>
                    </gka_internalPayId_SpecializedProcedure>

                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system module="internalpayid">
                            <title>Specialized Procedure</title>
                            <sort_order>10</sort_order>
                            <children>
                                <gka_internalPayId_SpecializedProcedure module="internalpayid">
                                    <title>Specialized Procedure</title>
                                    <sort_order>10</sort_order>
                                </gka_internalPayId_SpecializedProcedure>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <global>
        <fieldsets>
            <configvirtual_sales_copy_order>
                <entity_id>
                    <to_configvirtual>order_id</to_configvirtual>
                </entity_id>
                <increment_id>
                    <to_configvirtual>order_increment_id</to_configvirtual>
                </increment_id>
                <created_at>
                    <to_configvirtual>*</to_configvirtual>
                </created_at>
                <updated_at>
                    <to_configvirtual>*</to_configvirtual>
                </updated_at>
                <customer_id>
                    <to_configvirtual>*</to_configvirtual>
                </customer_id>
            </configvirtual_sales_copy_order>
            <configvirtual_sales_copy_order_item>
                <item_id>
                    <to_configvirtual>order_item_id</to_configvirtual>
                </item_id>
                <name>
                    <to_configvirtual>product_name</to_configvirtual>
                </name>
                <sku>
                    <to_configvirtual>product_sku</to_configvirtual>
                </sku>
            </configvirtual_sales_copy_order_item>
            <sales_convert_quote_item>
                <internal_payid>
                    <to_order_item>*</to_order_item>
                </internal_payid>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <internal_payid>
                    <to_quote_item>*</to_quote_item>
                    <to_invoice_item>*</to_invoice_item>
                </internal_payid>

            </sales_convert_order_item>
        </fieldsets>

        <catalog>
            <product>
                <type>
                    <internalpayid translate="label" module="internalpayid">
                        <label>Internal Payment Ident</label>
                        <model>internalpayid/product_type_internalpayid</model>
                        <composite>0</composite>
                        <price_model>internalpayid/product_price</price_model>
                        <is_qty>1</is_qty>
                    </internalpayid>
                    <configurable>
                        <allow_product_types>
                            <internalpayid/>
                        </allow_product_types>
                    </configurable>
                </type>
                <grouped>
                    <allow_product_types>
                        <internalpayid/>
                    </allow_product_types>
                </grouped>
            </product>
        </catalog>
        <blocks>
            <internalpayid>
                <class>Gka_InternalPayId_Block</class>
            </internalpayid>
        </blocks>
        <helpers>
            <internalpayid>
                <class>Gka_InternalPayId_Helper</class>
            </internalpayid>
        </helpers>
        <models>
            <internalpayid>
                <class>Gka_InternalPayId_Model</class>
                <resourceModel>internalpayid_resource</resourceModel>
            </internalpayid>
            <internalpayid_resource>
                <class>Gka_InternalPayId_Model_Resource</class>
                <entities>
                    <payid>
                        <table>gka_internal_payid</table>
                    </payid>
                    <specialized_procedure_client>
                        <table>gka_internal_payid_specialized_procedure_client</table>
                    </specialized_procedure_client>

                </entities>
            </internalpayid_resource>
        </models>
        <resources>
            <internalpayid_setup>
                <setup>
                    <module>Gka_InternalPayId</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </internalpayid_setup>
        </resources>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <virtual_pay_id>
                        <type>singleton</type>
                        <class>Gka_InternalPayId_Model_Product_Observer</class>
                        <method>onSalesOrderSaveAfter</method>
                    </virtual_pay_id>
                </observers>
            </checkout_type_onepage_save_order_after>
            <sales_quote_item_set_product>
                <observers>
                    <internalpayid_product_observer_item_save_commit_after>
                        <class>Gka_InternalPayId_Model_Product_Observer</class>
                        <method>onSalesQuoteItemSetProduct</method>
                    </internalpayid_product_observer_item_save_commit_after>
                </observers>
            </sales_quote_item_set_product>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <Gka_InternalPayId>
                    <files>
                        <default>Gka_InternalPayId.csv</default>
                    </files>
                </Gka_InternalPayId>
            </modules>
        </translate>
        <layout>
            <updates>
                <internalpayid module="Gka_InternalPayId">
                    <file>gka/internalpayid.xml</file>
                </internalpayid>
            </updates>
        </layout>
        <routers>
            <internalpayid>
                <use>standard</use>
                <args>
                    <module>Gka_InternalPayId</module>
                    <frontName>internalpayid</frontName>
                </args>
            </internalpayid>
        </routers>
    </frontend>
    <admin>
        <fieldsets>
            <catalog_product_dataflow>
                <qty>
                    <product_type>
                        <internalpayid/>
                    </product_type>
                </qty>
                <min_qty>
                    <product_type>
                        <internalpayid/>
                    </product_type>
                </min_qty>
                <is_qty_decimal>
                    <product_type>
                        <internalpayid/>
                    </product_type>
                </is_qty_decimal>
                <backorders>
                    <product_type>
                        <internalpayid/>
                    </product_type>
                </backorders>
                <min_sale_qty>
                    <product_type>
                        <internalpayid/>
                    </product_type>
                </min_sale_qty>
                <max_sale_qty>
                    <product_type>
                        <internalpayid/>
                    </product_type>
                </max_sale_qty>
                <is_in_stock>
                    <product_type>
                        <internalpayid/>
                    </product_type>
                </is_in_stock>
                <notify_stock_qty>
                    <product_type>
                        <internalpayid/>
                    </product_type>
                </notify_stock_qty>
                <manage_stock>
                    <product_type>
                        <internalpayid/>
                    </product_type>
                </manage_stock>
            </catalog_product_dataflow>
        </fieldsets>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Gka_InternalPayId before="Mage_Adminhtml">Gka_InternalPayId_Adminhtml</Gka_InternalPayId>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <gka_checkout>
           <internal_payid>
                <buchungsliste_key>extKZ</buchungsliste_key>
           </internal_payid>
        </gka_checkout>
    </default>
</config>