<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE config>
<config>
   <sections>
       <gka_checkout>
           <groups>
               <internal_payid>
                   <label>Internal Payid</label>
                   <sort_order>1100</sort_order>
                   <show_in_default>1</show_in_default>
                   <show_in_website>0</show_in_website>
                   <show_in_store>0</show_in_store>
                   <fields>
                       <buchungsliste_key translate="label">
                           <label>Buchungsliste Schlüssel f. internes Kassenzeichen</label>
                           <sort_order>10</sort_order>
                           <backend_model>internalpayid/system_config_backend_ident</backend_model>
                           <show_in_default>1</show_in_default>
                           <show_in_website>0</show_in_website>
                           <show_in_store>0</show_in_store>
                           <comment>[a-z A-Z]</comment>
                       </buchungsliste_key>

                   </fields>
               </internal_payid>
           </groups>
       </gka_checkout>
    </sections>
</config>
