<IfModule mod_authz_host.c>
	<IfModule !mod_authz_core.c>
	    #Apache 2.2
	    order allow,deny
	    deny from all
    </IfModule>
    <IfModule mod_authz_core.c>
        #Apache 2.3+
		Require all denied
	</IfModule>
</IfModule>
<IfModule ssl_module>
        SSLRequireSSL
</IfModule>

AuthUserFile /home/users/nhempel/.passwd_tools

AuthName "eGovs - System-Tools"
AuthType Basic
require valid-user