<?xml version="1.0"?>
<config>
    <modules>
        <Gka_Ready>
            <version>0.1.0</version>
        </Gka_Ready>
    </modules>
    <global>
        <resources>
            <ready_setup>
                <setup>
                    <module>Gka_Ready</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ready_setup>
            <ready_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ready_write>
            <ready_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ready_read>
        </resources>
        <helpers>
            <ready>
                <class>Gka_Ready_Helper</class>
            </ready>
        </helpers>
    </global>
</config>