<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_Captcha>
            <version>0.0.1.0</version>
        </Egovs_Captcha>
    </modules>
    <default>
        <admin>
            <captcha>
                <iconcaptcha_theme>light</iconcaptcha_theme>
                <iconcaptcha_fontfamily><![CDATA[Arial]]></iconcaptcha_fontfamily>
                <iconcaptcha_clickdelay>100</iconcaptcha_clickdelay>
                <iconcaptcha_hoverdetection>1</iconcaptcha_hoverdetection>
                <iconcaptcha_loadinganimation>1</iconcaptcha_loadinganimation>
                <iconcaptcha_animationdelay>100</iconcaptcha_animationdelay>
                <iconcaptcha_requesticonsdelay>100</iconcaptcha_requesticonsdelay>
                <iconcaptcha_requestfaildelay>3000</iconcaptcha_requestfaildelay>
                <iconcaptcha_captchamessages>0</iconcaptcha_captchamessages>
                <iconcaptcha_captchaheader><![CDATA[Bitte wählen Sie das abweichende Symbol aus.]]></iconcaptcha_captchaheader>
                <iconcaptcha_correcttitle><![CDATA[Ihre Auswahl ist richtig.]]></iconcaptcha_correcttitle>
                <iconcaptcha_correctsubtitle><![CDATA[Sie scheinen kein Roboter zu sein.]]></iconcaptcha_correctsubtitle>
                <iconcaptcha_incorrecttitle><![CDATA[Ihre Auswahl ist falsch.]]></iconcaptcha_incorrecttitle>
                <iconcaptcha_incorrectsubtitle><![CDATA[Sie haben das falsche Bild ausgewählt.]]></iconcaptcha_incorrectsubtitle>
                <googlecaptcha_apiurl><![CDATA[https://www.google.com/recaptcha/api.js]]></googlecaptcha_apiurl>
                <googlecaptcha_apiparams><![CDATA[?onload=onloadCallback&render=explicit]]></googlecaptcha_apiparams>
                <googlecaptcha_language>0</googlecaptcha_language>
                <googlecaptcha_theme>light</googlecaptcha_theme>
                <googlecaptcha_size>normal</googlecaptcha_size>
            </captcha>
        </admin>
        <customer>
            <captcha>
                <iconcaptcha_theme>light</iconcaptcha_theme>
                <iconcaptcha_fontfamily><![CDATA[Arial]]></iconcaptcha_fontfamily>
                <iconcaptcha_clickdelay>100</iconcaptcha_clickdelay>
                <iconcaptcha_hoverdetection>1</iconcaptcha_hoverdetection>
                <iconcaptcha_loadinganimation>1</iconcaptcha_loadinganimation>
                <iconcaptcha_animationdelay>100</iconcaptcha_animationdelay>
                <iconcaptcha_requesticonsdelay>100</iconcaptcha_requesticonsdelay>
                <iconcaptcha_requestfaildelay>3000</iconcaptcha_requestfaildelay>
                <iconcaptcha_captchamessages>0</iconcaptcha_captchamessages>
                <iconcaptcha_captchaheader><![CDATA[Bitte wählen Sie das abweichende Symbol aus.]]></iconcaptcha_captchaheader>
                <iconcaptcha_correcttitle><![CDATA[Ihre Auswahl ist richtig.]]></iconcaptcha_correcttitle>
                <iconcaptcha_correctsubtitle><![CDATA[Sie scheinen kein Roboter zu sein.]]></iconcaptcha_correctsubtitle>
                <iconcaptcha_incorrecttitle><![CDATA[Ihre Auswahl ist falsch.]]></iconcaptcha_incorrecttitle>
                <iconcaptcha_incorrectsubtitle><![CDATA[Sie haben das falsche Bild ausgewählt.]]></iconcaptcha_incorrectsubtitle>
                <googlecaptcha_apiurl><![CDATA[https://www.google.com/recaptcha/api.js]]></googlecaptcha_apiurl>
                <googlecaptcha_apiparams><![CDATA[?onload=onloadCallback&render=explicit]]></googlecaptcha_apiparams>
                <googlecaptcha_language>0</googlecaptcha_language>
                <googlecaptcha_theme>light</googlecaptcha_theme>
                <googlecaptcha_size>normal</googlecaptcha_size>
                <enable_honeypot>1</enable_honeypot>
                <honeypot_field_name>email_confirmation</honeypot_field_name>
                <enable_regex_filter>1</enable_regex_filter>
                <regex_filter><![CDATA[(?:(?:https?|ftp|file):\/\/|www\.|ftp\.)(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[-A-Z0-9+&@#\/%=~_|$?!:,.])*(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[A-Z0-9+&@#\/%=~_|$])]]></regex_filter>
            </captcha>
        </customer>
    </default>
    <global>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <Egovs_Captcha_Observer>
                        <class>egovscaptcha/observer</class>
                        <method>headBeforeHtmlforCaptcha</method>
                    </Egovs_Captcha_Observer>
                </observers>
            </core_block_abstract_to_html_before>

            <controller_action_predispatch_customer_account_loginpost>
                <observers>
                    <captcha>
                        <class>egovscaptcha/observer</class>
                        <method>checkUserLogin</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_customer_account_loginpost>
            <controller_action_predispatch_wishlist_index_send>
                <observers>
                    <captcha>
                        <class>egovscaptcha/observer</class>
                        <method>checkWishlistSharing</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_wishlist_index_send>
            <controller_action_predispatch_customer_account_forgotpasswordpost>
                <observers>
                    <captcha>
                        <class>egovscaptcha/observer</class>
                        <method>checkForgotPassword</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_customer_account_forgotpasswordpost>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <captcha>
                        <class>egovscaptcha/observer</class>
                        <method>checkUserCreate</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_adminhtml_index_forgotpassword>
                <observers>
                    <captcha>
                        <class>egovscaptcha/observer</class>
                        <method>checkUserForgotPasswordBackend</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_adminhtml_index_forgotpassword>
            <controller_action_predispatch_sendfriend_product_sendmail>
                <observers>
                    <captcha>
                        <class>egovscaptcha/observer</class>
                        <method>checkSendfriendSend</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_sendfriend_product_sendmail>
            <admin_user_authenticate_before>
                <observers>
                    <captcha>
                        <class>egovscaptcha/observer</class>
                        <method>checkUserLoginBackend</method>
                    </captcha>
                </observers>
            </admin_user_authenticate_before>
        </events>
        <blocks>
            <egovscaptcha>
                <class>Egovs_Captcha_Block</class>
            </egovscaptcha>
        </blocks>
        <models>
            <egovscaptcha>
                <class>Egovs_Captcha_Model</class>
                <resourceModel>egovscaptcha_resource</resourceModel>
            </egovscaptcha>
            <egovscaptcha_resource>
                <class>Egovs_Captcha_Model_Resource</class>
            </egovscaptcha_resource>
        </models>
        <helpers>
            <egovscaptcha>
                <class>Egovs_Captcha_Helper</class>
            </egovscaptcha>
        </helpers>
    </global>
    <frontend>
        <routers>
            <captcha>
                <use>standard</use>
                <args>
                    <module>Egovs_Captcha</module>
                    <frontName>egovscaptcha</frontName>
                </args>
            </captcha>
        </routers>
        <translate>
            <modules>
                <Egovs_Captcha>
                    <files>
                        <default>Egovs/Captcha.csv</default>
                    </files>
                </Egovs_Captcha>
            </modules>
        </translate>
        <layout>
            <updates>
                <egovscaptcha>
                    <file>egovs/captcha.xml</file>
                </egovscaptcha>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Egovs_Captcha>
                    <files>
                        <default>Egovs/Captcha.csv</default>
                    </files>
                </Egovs_Captcha>
            </modules>
        </translate>
        <layout>
            <updates>
                <captcha>
                    <file>egovs/captcha.xml</file>
                </captcha>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Egovs_Captcha before="Mage_Adminhtml">Egovs_Captcha_Adminhtml</Egovs_Captcha>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>