<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_Captcha>
            <version>0.0.1</version>
        </Egovs_Captcha>
    </modules>
    <default>
        <customer>
            <icon_captcha>
                <enable>0</enable>
                <theme>light</theme>
                <fontfamily></fontfamily>
                <clickdelay>100</clickdelay>
                <hoverdetection>1</hoverdetection>
                <loadinganimation>1</loadinganimation>
                <animationdelay>100</animationdelay>
                <requesticonsdelay>100</requesticonsdelay>
                <captchamessages>0</captchamessages>
            </icon_captcha>
            <google_captcha>
                <enable>0</enable>
            </google_captcha>
        </customer>
    </default>
    <global>
    </global>
    <frontend>
        <translate>
            <modules>
                <Egovs_Captcha>
                    <files>
                        <default>Egovs_Captcha.csv</default>
                    </files>
                </Egovs_Captcha>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Egovs_Captcha>
                    <files>
                        <default>Egovs_Captcha.csv</default>
                    </files>
                </Egovs_Captcha>
            </modules>
        </translate>
    </adminhtml>
</config>