<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_Captcha>
            <version>0.0.1</version>
        </Egovs_Captcha>
    </modules>
    <default>
        <customer>
            <captcha>
                <iconcaptcha_theme>light</iconcaptcha_theme>
                <iconcaptcha_fontfamily><![CDATA[Arial]]></iconcaptcha_fontfamily>
                <iconcaptcha_clickdelay>100</iconcaptcha_clickdelay>
                <iconcaptcha_hoverdetection>1</iconcaptcha_hoverdetection>
                <iconcaptcha_loadinganimation>1</iconcaptcha_loadinganimation>
                <iconcaptcha_animationdelay>100</iconcaptcha_animationdelay>
                <iconcaptcha_requesticonsdelay>100</iconcaptcha_requesticonsdelay>
                <iconcaptcha_captchamessages>0</iconcaptcha_captchamessages>
                <iconcaptcha_captchaheader><![CDATA[Wählen Sie das Symbol aus, das nicht in die Zeile gehört.]]></iconcaptcha_captchaheader>
                <iconcaptcha_correcttitle><![CDATA[Ihre Auswahl ist richtig.]]></iconcaptcha_correcttitle>
                <iconcaptcha_correctsubtitle><![CDATA[Sie scheinen kein Roboter zu sein.]]></iconcaptcha_correctsubtitle>
                <iconcaptcha_incorrecttitle><![CDATA[Ihre Auswahl ist falsch.]]></iconcaptcha_incorrecttitle>
                <iconcaptcha_incorrectsubtitle><![CDATA[Sie haben das falsche Bild ausgewählt.]]></iconcaptcha_incorrectsubtitle>
                <googlecaptcha_apiurl><![CDATA[https://www.google.com/recaptcha/api.js]]></googlecaptcha_apiurl>
                <googlecaptcha_apiparams><![CDATA[?onload=onloadCallback&render=explicit]]></googlecaptcha_apiparams>
                <googlecaptcha_language>0</googlecaptcha_language>
            </captcha>
        </customer>
    </default>
    <global>
        <models>
            <egovscaptcha>
                <class>Egovs_Captcha_Model</class>
                <resourceModel>egovscaptcha_resource</resourceModel>
            </egovscaptcha>
            <egovscaptcha_resource>
                <class>Egovs_Captcha_Model_Resource</class>
            </egovscaptcha_resource>
        </models>
        <helpers>
            <egovscaptcha>
                <class>Egovs_Captcha_Helper</class>
            </egovscaptcha>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Egovs_Captcha>
                    <files>
                        <default>Egovs_Captcha.csv</default>
                    </files>
                </Egovs_Captcha>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Egovs_Captcha>
                    <files>
                        <default>Egovs_Captcha.csv</default>
                    </files>
                </Egovs_Captcha>
            </modules>
        </translate>
    </adminhtml>
</config>