<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <sections>
        <b3it_subscription translate="label" module="b3it_subscription">
            <label>Subscription Settings</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <general translate="label">
                <label>General Subscription Settings</label>
                <sort_order>1000</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>0</show_in_website>
                <show_in_store>0</show_in_store>
                    <fields>
                        <shippingmethod translate="label">
                            <label>Shippingmethod</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <source_model>adminhtml/system_config_source_shipping_allowedmethods</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </shippingmethod>
                    </fields>
                </general>
                <email translate="label">
                    <label>Subscription E-Mail Settings</label>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <subscription_email_sender translate="label">
                            <label>Sender Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <backend_model>adminhtml/system_config_backend_email_sender</backend_model>
                            <validate>validate-emailSender</validate>
                        </subscription_email_sender>
                        <subscription_email_address translate="label">
                            <label>Sender E-Mail Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <backend_model>adminhtml/system_config_backend_email_address</backend_model>
                            <validate>validate-email</validate>
                        </subscription_email_address>
                        <cancel_subscription_template translate="label">
                            <label>Cancellation Template</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>30</sort_order>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cancel_subscription_template>
                        <notavailable_subscription_template translate="label">
                            <label>Subscription product is no longer available template</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>40</sort_order>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </notavailable_subscription_template>
                        <renewal_subscription_template translate="label">
                            <label>Subscription renewal template</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>50</sort_order>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </renewal_subscription_template>
                        <cancel_subscription_denied_template translate="label">
                            <label>Termination denied template</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>60</sort_order>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cancel_subscription_denied_template>
                     </fields>
                </email>
         </groups>
        </b3it_subscription>

    </sections>
</config>
