{{template config_path="design/email/header"}}

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
	<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
	<tr>
	    <td align="center" valign="top">

	        <table style="width:650px;">
	        <tr>
	            <td valign="top" align="right">
  <a href="{{store url=''}}">
    <img width="{{if logo_width}}{{var logo_width}}{{else}}165{{/if}}"
		 height="{{if logo_height}}{{var logo_height}}{{else}}48{{/if}}"
		 src="{{var logo_url}}"
		 alt="{{var logo_alt}}"
		 border="0" />
  </a>
</td>
	        </tr>
	        </table>


	        <table style="width:650px;">
	        <tr>
	            <td valign="top">
	                <p><strong>Hallo {{htmlescape var=$billing.getName()}}</strong>,</p>
	                <p>Ihre Gutschrift Nr. {{var order.increment_id}} wurde atkualisiert. Neuer Status: <strong>{{var order.getStatusLabel()}}</strong>.</p>
	                <p>{{var comment}}</p>
	                <p>
	                    Sollten Sie Fragen haben,
	                    senden Sie uns eine E-Mail an <a href="mailto:{{block type='imprint/field' value='email'}}" style="color:#1E7EC8;">{{block type='imprint/field' value='email'}}</a>.
	                </p>
	            </td>
	        </tr>
            <tr>
                <td>
                    {{template config_path="design/email/support"}}
                </td>
            </tr>
            <tr><td style="border-bottom:2px solid #eee;">&nbsp;</td></tr>
            <tr>
                <td>
                      {{block type="cms/block" block_id="mrg_business_terms"}}
                </td>
            </tr>
	        </table>
	    </td>
	</tr>
	</table>
</div>

{{template config_path="design/email/footer"}}