<?xml version="1.0" encoding="UTF-8"?>

<config>
	<modules>
		<Egovs_Maintenance>
			<version>1.6.0.0</version>
		</Egovs_Maintenance>
	</modules>
	<admin>
        <routers>
           <adminhtml>	
				<args>
					<modules>
						<Egovs_Maintenance_Adminhtml after="Mage_Adminhtml">Egovs_Maintenance_Adminhtml</Egovs_Maintenance_Adminhtml>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
	<adminhtml>
		<translate>
			<modules>
				<Egovs_Maintenance>
					<files>
						<default>Egovs_Maintenance.csv</default>
					</files>
				</Egovs_Maintenance>
			</modules>
		</translate>
			<menu>
		        <report>
		    		<children>
		    		    <maintenance module="egovs_maintenance">
		    				<title>Show Offline Stores</title>
		    				<sort_order>100</sort_order>
		    				<action>adminhtml/maintenance_offline</action>
		    			</maintenance>
		    		</children>
		        </report>	        
		    </menu>
		    <layout>
            <updates>
                <maintenance>
                    <file>egovs/maintenance.xml</file>
                </maintenance>
            </updates>
        </layout>
	</adminhtml>
	 
	<global>
		
		<helpers>
			<egovs_maintenance>
				<class>Egovs_Maintenance_Helper</class>
			</egovs_maintenance>
		</helpers>
		<blocks>
            <maintenance>
                <class>Egovs_Maintenance_Block</class>
            </maintenance>
        </blocks>
		<models>
			<maintenance>
				<class>Egovs_Maintenance_Model</class>
				<resourceModel>maintenance_resource</resourceModel>
			</maintenance>
			<maintenance_resource>
				 <class>Egovs_Maintenance_Model_Resource</class>
				 <entities>
					  <log>
							<table>maintenance_log</table>
					  </log>
					  <offline>
							<table>maintenance_offline</table>
					  </offline>
				 </entities>
			</maintenance_resource>
		</models>
		  
		<resources>
			<maintenance_setup>
         	<setup>
				<module>Egovs_Maintenance</module>
			</setup>
            <connection>
            	<use>core_setup</use>
            </connection>
         </maintenance_setup>
			<maintenance_read>
				<connection>
					<use>core_read</use>
				</connection>
			</maintenance_read>
			<maintenance_write>
				<connection>
					<use>core_write</use>
				</connection>
			</maintenance_write>
		</resources>
	
		<events>
			<controller_front_init_before>
				<observers>
					<maintenance>
						<class>Egovs_Maintenance_Controller_OfflineRouter</class>
						<method>addOfflineRouter</method>
					</maintenance>
				</observers>
			</controller_front_init_before>
		</events>
	</global>

</config>