<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <Slpb_Verteiler>
            <version>0.1.0</version>
        </Slpb_Verteiler>
    </modules>
    <admin>
        <routers>
			<adminhtml>	
				<args>
					<modules>
						<Slpb_Verteiler_Adminhtml after="Mage_Adminhtml">Slpb_Verteiler_Adminhtml</Slpb_Verteiler_Adminhtml>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Slpb_Verteiler>
                    <files>
                        <default>Slpb_Verteiler.csv</default>
                    </files>
                </Slpb_Verteiler>
            </modules>
        </translate>
		<menu>
			<customer>
				<children>
					<items module="verteiler">
						<title>Verteiler bearbeiten</title>
						<!-- 2014-12-15 - Auf Wunsch von Frau Kluge an 2. Stelle verlegt -->
						<sort_order>5</sort_order>
						<action>adminhtml/slpbverteiler_verteiler</action>
					</items>
				</children>
			</customer>
			<sales>
				<children>
					<items module="verteiler">
						<title>Verteiler Bestellungen</title>
						<sort_order>0</sort_order>
						<action>adminhtml/slpbverteiler_order</action>
					</items>
				</children>
			</sales>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<slpb_verteiler>
							<title>Verteiler Module</title>
							<sort_order>10</sort_order>
						</slpb_verteiler>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<verteiler>
					<file>slpb/verteiler.xml</file>
				</verteiler>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
            <verteiler>
                <class>Slpb_Verteiler_Model</class>
                <resourceModel>verteiler_mysql4</resourceModel>
            </verteiler>
            <verteiler_mysql4>
                <class>Slpb_Verteiler_Model_Mysql4</class>
                <entities>
                    <verteiler>
                        <table>verteiler_verteiler</table>
                    </verteiler>
                    <verteiler_customer>
                        <table>verteiler_customer</table>
                    </verteiler_customer>
                </entities>
            </verteiler_mysql4>
        </models>
        <resources>
            <verteiler_setup>
                <setup>
                    <module>Slpb_Verteiler</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </verteiler_setup>
            <verteiler_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </verteiler_write>
            <verteiler_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </verteiler_read>
        </resources>
        <blocks>
            <verteiler>
                <class>Slpb_Verteiler_Block</class>
            </verteiler>
        </blocks>
        <helpers>
            <verteiler>
                <class>Slpb_Verteiler_Helper</class>
            </verteiler>
        </helpers>
    </global>
</config>