<?xml version="1.0"?>
<config>
    <modules>
        <Sid_ExportOrder>
            <version>0.1.0</version>
        </Sid_ExportOrder>
    </modules>
    <frontend>
        <routers>
            <exportorder>
                <use>standard</use>
                <args>
                    <module>Sid_ExportOrder</module>
                    <frontName>exportorder</frontName>
                </args>
            </exportorder>
        </routers>
        <layout>
            <updates>
                <exportorder>
                    <file>exportorder.xml</file>
                </exportorder>
            </updates>
        </layout>
    </frontend>
    <admin>
         <routers>
			<adminhtml>	
				<args>
					<modules>
						<Sid_ExportOrder_Adminhtml after="Mage_Adminhtml">Sid_ExportOrder_Adminhtml</Sid_ExportOrder_Adminhtml>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <exportorder>
                <class>Sid_ExportOrder_Model</class>
                <resourceModel>exportorder_mysql4</resourceModel>
            </exportorder>
            <exportorder_mysql4>
                <class>Sid_ExportOrder_Model_Mysql4</class>
                <entities>
                    <exportorder>
                        <table>exportorder</table>
                    </exportorder>
                </entities>
            </exportorder_mysql4>
        </models>
        <resources>
            <exportorder_setup>
                <setup>
                    <module>Sid_ExportOrder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </exportorder_setup>
            <exportorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </exportorder_write>
            <exportorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </exportorder_read>
        </resources>
        <blocks>
            <sid_exportorder>
                <class>Sid_ExportOrder_Block</class>
            </sid_exportorder>
        </blocks>
        <helpers>
            <exportorder>
                <class>Sid_ExportOrder_Helper</class>
            </exportorder>
        </helpers>
    </global>
    <sid_exportorder>
    	<format>
    		<plain>
	    		<label>Plain</label>
	    		<typ>plain</typ>
    		</plain>
    		<transdoc>
	    		<label>Transdoc</label>
	    		<typ>transdoc</typ>
    		</transdoc>
    		<csv></csv>
    		<transdoc></transdoc>
    	</format>
    	<transfer>
    		<email>
    			<label>Email</label>
	    		<typ>email</typ>
    		</email>
    		<post>
    			<label>Post</label>
	    		<typ>post</typ>
	    	</post>
    	</transfer>
    </sid_exportorder>
</config>