<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <Sid_ExportOrder>
            <version>0.1.3</version>
        </Sid_ExportOrder>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Sid_ExportOrder_Adminhtml after="Mage_Adminhtml">Sid_ExportOrder_Adminhtml</Sid_ExportOrder_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <exportorder>
                <use>standard</use>
                <args>
                    <module>Sid_ExportOrder</module>
                    <frontName>exportorder</frontName>
                </args>
            </exportorder>
        </routers>
    </frontend>
    <global>
        <models>
            <exportorder>
                <class>Sid_ExportOrder_Model</class>
                <resourceModel>exportorder_resource</resourceModel>
            </exportorder>
            <exportorder_resource>
                <class>Sid_ExportOrder_Model_Resource</class>
                <entities>
                    <order>
                        <table>sidexport_order</table>
                    </order>
                    <transfer_email>
                        <table>sidexportorder_transfer_email</table>
                    </transfer_email>
                    <transfer_post>
                        <table>sidexportorder_transfer_post</table>
                    </transfer_post>
                    <transfer_link>
                        <table>sidexportorder_transfer_link</table>
                    </transfer_link>
                    <format_plain>
                        <table>sidexportorder_format_plain</table>
                    </format_plain>
                    <format_transdoc>
                        <table>sidexportorder_format_transdoc</table>
                    </format_transdoc>
                    <format_opentrans>
                        <table>sidexportorder_format_opentrans</table>
                    </format_opentrans>
                    <history>
                        <table>sidexportorder_history</table>
                    </history>
                    <link>
                        <table>sidexportorder_link</table>
                    </link>
                    <link_order>
                        <table>sidexportorder_link_order</table>
                    </link_order>
                </entities>
            </exportorder_resource>
        </models>
        <resources>
            <sidexportorder_setup>
                <setup>
                    <module>Sid_ExportOrder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sidexportorder_setup>
            <exportorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </exportorder_write>
            <exportorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </exportorder_read>
        </resources>
        <blocks>
            <sid_exportorder>
                <class>Sid_ExportOrder_Block</class>
            </sid_exportorder>
        </blocks>
        <helpers>
            <exportorder>
                <class>Sid_ExportOrder_Helper</class>
            </exportorder>
        </helpers>
        <template>
            <email>
                <exportorder_vendor_order_plain translate="label" module="exportorder">
                    <label>Lieferantenbestellung Einfach</label>
                    <file>sid/exportorder/order_plain.html</file>
                    <type>html</type>
                </exportorder_vendor_order_plain>
                <exportorder_vendor_order_attachment translate="label" module="exportorder">
                    <label>Lieferantenbestellung mit Anhang</label>
                    <file>sid/exportorder/order_attachment.html</file>
                    <type>html</type>
                </exportorder_vendor_order_attachment>
                <exportorder_vendor_order_link translate="label" module="exportorder">
                    <label>Lieferantenbestellung Link</label>
                    <file>sid/exportorder/order_link.html</file>
                    <type>html</type>
                </exportorder_vendor_order_link>
                <framecontract_email_exportorder_error_template translate="label" module="exportorder">
                    <label>Lieferantenbestellung Fehlerinformation</label>
                    <file>sid/exportorder/error.html</file>
                    <type>html</type>
                </framecontract_email_exportorder_error_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <events>
            <framecontract_vendor_save_after>
                <observers>
                    <exportorder_vendor_save_observer>
                        <class>exportorder/observer</class>
                        <method>onVendorSaveAfter</method>
                    </exportorder_vendor_save_observer>
                </observers>
            </framecontract_vendor_save_after>
        </events>
        <menu>
            <framecontract>
                <children>
                    <export translate='title' module="exportorder">
                        <title>Vendor Order</title>
                        <sort_order>50</sort_order>
                        <action>adminhtml/exportOrder_export</action>
                    </export>
                </children>
            </framecontract>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sid_exportorder translate="title" module="exportorder">
                                            <title>PlainText Export Order</title>
                                        </sid_exportorder>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <framecontract>
                            <children>
                                <export module="exportorder">
                                    <title>Export Order</title>
                                    <sort_order>20</sort_order>
                                </export>
                            </children>
                        </framecontract>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <exportorder>
                    <file>sid/exportorder.xml</file>
                </exportorder>
            </updates>
        </layout>
        <translate>
            <modules>
                <Sid_ExportOrder>
                    <files>
                        <default>Sid_Exportorder.csv</default>
                    </files>
                </Sid_ExportOrder>
            </modules>
        </translate>
    </adminhtml>
    <sid_exportorder>
        <format>
            <plain>
                <label>Plain</label>
                <typ>plain</typ>
            </plain>
            <opentrans>
                <label>Opentrans</label>
                <typ>opentrans</typ>
            </opentrans>
        </format>
        <transfer>
            <email>
                <label>Email</label>
                <typ>email</typ>
            </email>
            <email_attachment>
                <label>Email Attachment</label>
                <typ>email_attachment</typ>
            </email_attachment>
            <post>
                <label>Post</label>
                <typ>post</typ>
            </post>
            <link>
                <label>Link</label>
                <typ>link</typ>
            </link>
        </transfer>
        <delete_old_links>
            <days>14</days>
        </delete_old_links>
    </sid_exportorder>
    <crontab>
        <jobs>
            <exportorder>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>exportorder/cron::runCron</model>
                </run>
            </exportorder>
        </jobs>
    </crontab>
    <default>
        <sid_exportorder>
            <sid_exportorder_plaintext>
                <plaintext_template><![CDATA[-- KUNDENADRESSE --
{{CustomerAddress}}


-- RECHNUNGSADRESSE --
{{InvoiceAddress}}


-- LIEFERADRESSE --
{{ShippingAddress}}


{{OrderItems}}]]></plaintext_template>
                </sid_exportorder_plaintext>
            </sid_exportorder>
            <exportorder>
                <email>
                    <vendor_order_plain>exportorder_vendor_order_plain</vendor_order_plain>
                    <error>exportorder_vendor_error</error>
                </email>
            </exportorder>
            <framecontract>
                <email>
                    <exportorder_error_template>framecontract_email_exportorder_error_template</exportorder_error_template>
                </email>
            </framecontract>
        </default>
    </config>
