SetEnvIf Request_URI "(egovs/)$" allow

<IfModule !mod_authz_core.c>
    #Apache 2.2
    Order deny,allow
	Allow from env=allow
</IfModule>
<IfModule mod_authz_core.c>
    #Apache 2.3+
	Require env env-var
</IfModule>