a {color: #7c7f84;}
body {background-color: #FFFFFF;}
h1, h2 {color: #447B80;}
.page { width:78em; margin:auto; padding:0px 0; text-align:left; position: relative; background-color:#ffffff;}
.page-title a.egovsbutton {display: inline;}
.hiddenForSighted{position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;}
#menuesprung a:active, #menuesprung a:focus { top:131px; left:5px; padding-left: 5px;}
.welcome-msg {z-index:100;position: absolute; top:490px; font-size: 1.5em; color: #447B80;padding-left: 10px;}
.dashboard .welcome-msg {position: inherit;}
.dashboard .welcome-msg h3 {margin-left: 0;}
#jumptargetaddress_book .col2-set .col-1 ol li {margin-left: 10px;}
.col2-left-layout .col-main .my-account .dashboard .welcome-msg p {padding-left: 0; font-size: 0.70em; font-weight: normal; line-height: 1.5em; color: #000000;}
.main {position: relative; top: 35px;}
.col-main {background-color: #FFFFFF;}
.col-right {padding:5px 7px 0 3px;}
.col2-left-layout .col-main { float:right;  width:75.0%; margin: 5px 10px 0px 0px; padding-bottom:10px; border: 1px solid #cbccce; -moz-border-radius: 8px 8px 8px 8px; -webkit-border-radius: 8px;}
.col2-left-layout .col-main p, .col2-left-layout .col-main ul,
.col2-left-layout .col-main h4 {padding-left: 10px;}
.col2-left-layout .col-main .col2-set .col-1 h3 {margin-left: 10px;}
.col2-left-layout .col-main .col2-set .col-1 address {margin-left: 10px; margin-bottom : 10px;}
.col2-left-layout .col-main .messages li {margin:10px;}
.col2-left-layout .col-main div.buttons-set {margin-left: 10px; margin-right: 10px;}
.col2-left-layout .col-main .multiple-checkout div.buttons-set {margin: 10px 0px 5px 0px;}
#multishipping-billing-form div.buttons-set {margin: 10px 10px 5px 10px;}
.col2-right-layout .col-main {margin-left: 10px;  width:75.0%; border: 1px solid #cbccce; -moz-border-radius: 8px 8px 8px 8px; -webkit-border-radius: 8px;}
.col3-layout .col-main { width:54.5%; margin-left:0px; border: 1px solid #cbccce; margin-top: 5px; -moz-border-radius: 8px 8px 8px 8px; -webkit-border-radius: 8px; padding-bottom: 10px;}
.col3-layout .col-main h1 {padding: 0 10px 10px 10px;}
.col3-layout .col-main h2, .col3-layout .col-main p,
.col3-layout .col-main h3, .col3-layout .col-main h4 {padding: 0 10px;}
.col3-layout .col-main ul, .col3-layout .col-main ol {margin-left: 10px;}
.col-main dt {padding: 0 10px;}
.col3-layout .col-main h2 {margin-bottom: 1em; line-height:0.8em;}
.col2-set .col-1 { float:left; width:45%; }
.col2-set .col-2 { float:right; width:48%; margin-right: 10px; }
.col2-set .narrow { width:33%; }
.col2-set .wide { width:65%; }
.col3-set .col-1 { float:left; width:32%; }
.col3-set .col-2 { float:left; width:32%; margin-left:2%; }
.col3-set .col-3 { float:right; width:32%; }
.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }
.subtitle {font-size: 0.8em; font-weight: normal;}
a.egovsbutton {padding: 6px 5px 0px 5px; padding-left: 5px !important; overflow:visible; width:auto; height: 24px; display: block; cursor:pointer; -webkit-border-fit:lines; border-top: 1px solid #ed6502; border-bottom: 2px solid #a04300; border-right: 2px solid #a04300; border-left: 1px solid #ed6502; color: #FFFFFF; font-size: 14px; margin: 5px !important; -moz-border-radius: 8px; -webkit-border-radius: 8px;}
.buttons-set a.egovsbutton {padding: 6px 5px 0px 5px; padding-left: 5px !important; overflow:visible; width:auto; height: 24px; display: block; cursor:pointer; -webkit-border-fit:lines; border-top: 1px solid #ed6502; border-bottom: 2px solid #a04300; border-right: 2px solid #a04300; border-left: 1px solid #ed6502; color: #FFFFFF; font-size: 14px; margin: 5px !important; -moz-border-radius: 8px; -webkit-border-radius: 8px;}
.flr { float: right;}
#jumptargetsales.order.history{margin-top: 15px;}
a.egovsbutton:hover { text-decoration: none; }
a.egovsbutton span { font-weight: bold; display: block; text-align: center; width: 100%;}
a.egovslistbutton {padding: 2px 5px; overflow:visible; width:auto; display: block;font-weight: bold; border-top: 1px solid #ed6502; border-bottom: 2px solid #a04300; border-right: 2px solid #a04300; border-left: 1px solid #ed6502; border-style: solid; -moz-border-radius: 8px; -webkit-border-radius: 8px; cursor:pointer; -webkit-border-fit:lines;}
a.totalsorderbutton {padding: 5px 5px; overflow:visible; width:auto; margin-left: 25px; margin-bottom: 5px; display: block; text-align: center; font-size: 1.1em; line-height: 1.1em; font-weight: bold; border-top: 1px solid #ed6502; border-bottom: 2px solid #a04300; border-right: 2px solid #a04300; border-left: 1px solid #ed6502; -moz-border-radius: 8px; -webkit-border-radius: 8px; color: #FFFFFF; cursor:pointer; -webkit-border-fit:lines;}
a.totalsorderbutton .subtitle {display:none;}
input,select,textarea,button { font:12px Arial, Helvetica, sans-serif; vertical-align:middle; color:#000; }
input.input-text,select,textarea { border:1px solid #cbccce; }
input.input-text,textarea { padding:2px; }
input#search { width: 121px;}
#newsletter.input-text {margin: 2px 0 3px; 0}
select { padding:1px; }
select#billing-address-select {width: 692px;}
select option { padding-right:10px; }
textarea { overflow:auto; }
input.radio { margin-right:3px; }
input.checkbox { margin-right:3px; }
input.qty { width:2.5em !important; }
button.button::-moz-focus-inner { padding:0; border:0; }
button.button, button.form-button-alt {overflow:visible; width:auto; border-top: 1px solid #ed6502; border-bottom: 2px solid #a04300; border-right: 2px solid #a04300; border-left: 1px solid #ed6502; padding:0px 10px 0px 10px; cursor:pointer; -webkit-border-fit:lines; -moz-border-radius: 8px; -webkit-border-radius: 8px;}
@media screen and (-webkit-min-device-pixel-ratio:0) { button.button {padding:0px 10px 0px 3px;} }
button.button span, button.form-button-alt span { float:left; padding:0 0 0 0; font:12px/21px Arial, Helvetica, sans-serif; text-align:center; white-space:nowrap; color:#FFFFFF; }
button.form-button-alt span {font-weight: bold;}
a.egovslistbutton span { color:#FFFFFF; font-weight: bold;}
.form-list li { margin:0 0 5px; }
.form-list label { font-weight:bold; }
.form-list .input-box { float:left; width:260px; }
.form-list input.input-text,
.form-list textarea { width:250px; }
.form-list select { width:256px; }
.form-list li.add-row { border-top:1px solid #ddd; margin-top:10px; }
.form-list li.add-row .btn-remove { font-size:0; line-height:0; padding:5px 5px 0 0; text-align:right; }
.form-list .range input.input-text { width:96px; }
.group-select li { margin:0 0 5px; }
.group-select .input-box { float:left; width:260px; }
.group-select input.input-text,
.group-select textarea {width:490px; }
.group-select select { width:516px; }
.group-select .input-box input.input-text,
.group-select .input-box textarea { width:250px; }
.input-box input#year, .input-box input#month, .input-box input#day{ width:100px; }
.group-select .dob-day, .group-select .dob-month, .group-select .dob-year {width:110px;}
.group-select .input-box select { width:256px; }
.buttons-set { clear:both; margin:5px 0 0; padding:5px; border:1px solid #BCD2E6; }
.buttons-set .back-link { float:left; line-height:1.5em; }
.buttons-set .break-link { float:left; margin-left:15px; line-height:1.5em; }
.buttons-set button.button { float:right; margin-top: 2px;}
.buttons-set2 { clear:both; margin:5px 0 0; padding:5px; border:1px solid #ddd; text-align:right; }
p.required { font-size:10px; text-align:left; margin:0px; }
.col2-left-layout .col-main .messages li {margin: 0 10px 10px 10px;}
.col2-left-layout .col-main .messages li li{margin:0px;}
.breadcrumbs { padding: 8px 10px 5px 10px; margin:0px 0px 10px 0px; border-bottom: 2px solid #CBCCCE;}
.breadcrumbs li { display:inline; color: #447B80;}
.breadcrumbs li.product {color: #447B80;}
.page-title { border-bottom:0px solid #cbccce; padding:0 0 0px; margin:0 0 10px; }
.page-head-alt { border-bottom:1px solid #cbccce; padding:0 0 0px; margin:0 0 10px; height: 2.7em;}
.page-title h2 {line-height:1.0em; padding-left: 10px; color: #447B80;}
.page-head-alt h3 {line-height:1.8em; padding-left: 10px; color: #007AD6;}
.page-title h3 { line-height:2em;}
.title-buttons { text-align:right; }
.title-buttons h2, .title-buttons h3, .title-buttons h4, .title-buttons h5, .title-buttons h6 { float:left; padding-left: 10px;}
.title-buttons a, .order-info li a {margin-right:10px; border-top: 1px solid #ed6502; border-bottom: 2px solid #a04300; border-right: 2px solid #a04300; border-left: 1px solid #ed6502; color: #FFFFFF; cursor: pointer; padding: 3px 10px; position: relative; top: 5px;}
.order-info li a {top: 0px;}
.order-info dd ul{display:none;}
.pager { border:1px solid #CBD2E6; padding:5px; margin:15px 10px 5px 10px; text-align:center; }
.sorter { border:1px solid #CBD2E6; padding:5px; margin:5px 0; }
table#shopping-cart-table {margin: 0 10px 0 10px; width: 97%;}
#shopping-cart-table thead {color: #447B80; border-color: #cbccce;border-style: solid;border-width: 1px 1px 2px !important;}
table#my-orders-table {margin: 0 10px 0 10px; width: 97.3%;}
table#my-orders-table tfoot {display:none;}
table#my-orders-table a {padding-left: 15px;}
.dashboard table#my-orders-table {margin: 0; width: 100%;}
.data-table th { padding:5px; border:1px solid #CBD2E6; font-weight:bold; white-space:nowrap; }
.data-table td { padding:5px; border:1px solid #CBD2E6; }
.data-table thead {color: #FFFFFF;}
.data-table tbody.odd tr.border td, .data-table tbody.even tr.border td { border-bottom-width:1px; }
.data-table td.label, .data-table th.label { font-weight:bold; background-color:#f6f6f6; }
tr.tax-details td {}
.tax-details {display:none;}
.bitv-cartfooter {margin: 0 11px 10px 10px; padding: 8px 10px; border: 1px solid #cbccce; border-top: none; position: relative; height: 24px; }
.bitv-cart-delete-all {float: left; margin-right: 10px;}
.bitv-cart-continue {float: left; }
.bitv-cart-update {float: right; margin-right: 10px;}
.std, .std ul, .std ol, .std dl, .std p, .std address, .std blockquote { margin:0 0 1em; padding:0; }
.product-shop > .std {margin-top: 20px;}
.noscript {font-size:12px;}
.demo-notice {font-size:12px;}
#titel { display: none;font-size: 0.8em;font-weight: normal; height: 35px;width: 76px;margin: 0;overflow: hidden; padding: 2px 2px 2px 2px; position: absolute; top: 45px; left: 807px;}
#logo {height: 83px; position: absolute; top: 15px;left: 805px;width: 81px;z-index: 100;}
.header-container {height: 475px; background-color: #0571b1;}
.header {border-width:0px; position:relative; width: 100%; height: 121px; margin-bottom: 40px;}
.header .welcome-msg {font-weight:bold; text-align:left; color: #324a92; margin-top:5px; margin-left: 42px; font-size: 14px; padding-left: 10px; position: absolute; top: 87px; left: 10px;}
.header .links {text-align: left; line-height: 35px; padding-left: 20px; margin-top:0px;}
.header .links a {text-decoration: none; color: #447B80; font-size: 15px; font-weight: bold;}
.header .links a.top-link-checkout {float: right; margin-right: 130px; color: #447B80; padding-top:7px;}
.header .links a.top-link-wishlist {display: none;}
.header ul.links li{ display:inline; padding:0 5px 0 5px;}
.header ul.links li.last{ border-right: 0px solid #2d4b9b;}
.header ul.links li.last a{color: #447B80; float: right; position: relative; left: 250px; padding-top:7px;}
.header .form-search {text-align:center; display: inline; padding-top: 3px;}
fieldset.form-search {margin-bottom: 5px;}
.header .form-search div {display: inline}
.header .head-top_row{ position: relative; height: 108px;}
.header .head-function_row	{position: relative; top: 48px; height: 327px; text-align:right; margin-right:0px; margin-top:0px; z-index: 2;}
.header .head-link_row {position: relative; top: -314px; height: 35px; text-align: right; margin-bottom: 0px; width:100%;}
.header .form-language {display: inline; text-align:center; position: relative; top: -39px; right: 200px;}
.header .form-language label {color: #ffffff;}
#nav { display: block;font-size:12px; border:1px solid #008444; padding:5px 0; margin:10px 0;}
.block {border-width:0px; border-style: solid; border-color: #cbccce; margin:0 0 10px;}
.block .block-title {border-width: 1px 1px 2px 1px !important; -moz-border-radius: 8px 8px 0px 0px; -webkit-border-radius: 8px 8px 0px 0px; padding:0 10px; border-color: #cbccce; border-style: solid; height: 32px;}
.block .block-title h2 {font-size:13px; font-weight:bold; line-height:25px; color: #447B80;}
.block .block-title a {color: #FFFFFF;}
.block h3 { font-size:14px; line-height:1.5; }
.block .block-title h3 {color: #447B80;}
.block .block-content {padding:10px; border: 1px solid #cbccce; -moz-border-radius: 0px 0px 8px 8px; -webkit-border-radius: 0px 0px 8px 8px; color: rgb(0,0,0);}
.block .block-content a {padding-left: 15px;}
.block .block-content .active > a {font-weight: bold !important;}
.block .block-content li.current { padding-left: 15px; font-weight: bold !important; color: #003366;}
.block-cart .subtotal { text-align:center; }
.btn-remove, .product-image { background-image: none !important; }
#cartbox {padding: 0 0 10px;}
#cartbox  .block-content {padding: 10px 10px 20px 10px;}
#cartbox .sidebarButton {float: none; margin: 5px 0 20px 0px;}
#cartbox a.egovsbutton { border-top: 0px; border-bottom: 2px; border-right: 2px; border-left: 0px; border-style: solid; border-color: #c6c6c4; padding: 3px 10px; height: auto; -moz-border-radius: 8px; -webkit-border-radius: 8px;}
#cartbox a.egovsbutton span {font-weight: normal; font-size: 12px;}
#cart-sidebar .product-image {display: inline;}
.block-cart #cartbox{padding:5px 5px 20px; border: 1px solid #cbccce;}
.mini-products-list .product-image {border: 1px solid #447B80;}
.mini-products-list .product-details { margin-left:75px; }
.block-compare a { background-image: none !important; }
.category-title {border-bottom:0px;}
.category-title h2 {padding: 0;}
.col-main .category-title h2 {padding: 0; margin-bottom: 0;}
.category-description { padding: 0 10px 0 10px; margin:0 0 10px; }
.category-products {margin: 20px 10px 0 10px;}
.category-products .pager {display:none;}
.category-products .sorter {display:none;}
#products-grid-table tr {margin-top:10px;}
.products-grid td { width:33%; border-right:1px solid #cbccce; padding:5px; text-align: center;}
.products-grid td.last {/*border-right: 0px;*/}
.products-grid .add-to-links {display:none;}
.products-grid .std {display:none;}
h3.product-grid-name a { color: #447B80;}
.products-list li.item { border:1px solid #CBD2E6; padding:5px; margin:0 0 5px; }
.products-list .product-descriptor a { padding-left: 15px;}
.col3-layout .product-view .product-img-box { float:right; width:37.5%; margin-right: 10px; position:relative; top:35px; }
.product-view .product-img-box .product-image { border:0px solid #CBD2E6; }
.col3-layout .product-view .product-img-box .product-image-zoom { width:180px; height: 180px;}
.col3-layout .product-view .product-img-box .product-image { width:180px; height: 180px;}
.col3-layout .product-view .product-img-box .product-image img { width:180px; height: 180px;}
.product-view .product-shop { float:left; width:57%; margin-left: 10px; padding-left: 10px; }
.col3-layout .product-view .product-shop {width:56%;}
.product-view .product-name {margin-bottom: 8px;}
.col3-layout .product-view .product-name h2 {margin-bottom: 0; margin-top:0px; padding: 0;color:#447B80;font-weight:bold;}
.col3-layout .col-main .product-view .product-shop p {padding: 0;}
.col3-layout .col-main .product-view .product-shop h3 {padding: 0;}
.product-view .short-description {margin: 1em 0 1em 0;}
.col3-layout .col-main .product-view .product-collateral h3 {padding: 0;}
.price { white-space:nowrap !important; color:#447B80; font-size: 120%;}
#checkout-review-totals-table .price {color: #447B80;}
#checkout-review-totals-table {display:none;}
#shopping-cart-totals-table {display:none;}
.shopping-cart-totals tfoot span.price {color: #447B80;}
.shopping-cart-totals ul {display:none;}
.price-box {font-size: 18px;padding:5px 0;}
.old-price .price-label { font-size: 16px; }
.special-price .price-label { font-size: 16px; }
ul.add-to-links a {padding-left: 15px; text-align: left;}
.add-to-box {margin-top:10px;}
.add-to-box .or {display:none;}
ul.add-to-links {display:none;}
.add-to-cart button.button {float:left; margin-left:5px; padding: 5px 10px 5px 10px;border-top: 1px solid #ed6502; border-bottom: 2px solid #a04300; border-right: 2px solid #a04300; border-left: 1px solid #ed6502;}
.add-to-cart button.button span {font-size: 18px;}
.product-options { padding:10px; margin: 10px; border:1px solid #CBD2E6; background-color:#EEF3F7; }
.product-options-bottom { padding:5px 10px 15px 270px; border-bottom: 1px solid #cbccce; border-top:0; text-align: center; }
.product-options-bottom input.qty {display: none;}
.product-view .description {margin: 15px 10px 15px 10px; padding: 0 10px 0 10px;}
.product-view .description p {padding: 0;}
.product-view .additional {display:none;}
.product-name { font-size:1em; font-weight:bold; line-height:1.5; }
.cart-table .item-msg { font-size:10px; }
#shopping-cart-table tfoot { background-color:#EEF3F7;}
#shopping-cart-table .product-name { text-align: left;}
.shopping-cart-totals {text-align: right; border: 1px solid #BCD2E6; background-color: #EEF3F7; padding: 10px 5px;}
.shopping-cart-collaterals {margin-top: 10px;}
.shopping-cart-collaterals .col-1 {border: 0px solid #BCD2E6; margin-left: 10px;}
.discount {display: none;}
.col-right {border-width: 0px;}
.checkout-progress { padding:0 50px; margin:10px 0; }
.checkout { position:relative; margin:6px 2px; padding:18px 2px 2px 2px; zoom:1; }
.checkout-progress li { float:left; width:14%; border-top:5px solid #BCd2E6; text-align:center; color:#ccc; padding-top:15px; }
.checkout-progress li.active { border-top-color:#447B80; color:#000; }
.multiple-checkout { position:relative; padding: 0 10px;}
.sp-methods .price { font-weight:bold; }
#checkout-review-table {margin-bottom: 5px;}
.certimage {float:right; padding:0 20px 20px 0px; position: relative; top: -20px; left: 20px;}
#login-form .col-1 {padding-left: 10px;}
#login-form .col-1 a.egovsbutton {position: relative; top: 20px; border-top: 0px; border-bottom: 2px; border-right: 2px; border-left: 0px; border-style: solid; border-color: #c6c6c4; padding: 4px; -moz-border-radius: 8px; -webkit-border-radius: 8px;}
#login-form .col-1 a.egovsbutton span{font-weight: normal;}
#form-validate h3 {margin-left: 10px;}
.dashboard h3, .dashboard h5, .dashboard a, .dashboard address {margin-left: 10px;}
.dashboard p a {margin-left: 0px;}
.dashboard a {padding-left: 15px;}
.dashboard address a, .dashboard p a {margin-left: 0px;}
.dashboard .col2-set {margin-bottom: 10px;}
.dashboard .recent-orders .title-buttons h3{ margin:0px; padding: 0px; }
.order-info { border:1px solid #ddd; padding:5px 0; margin: 0 10px 5px; }
.order-info li a {display:none;}
.order-info dd, .order-info ul, .order-info li { display:inline; margin-right: 10px; }
a.f-right {margin-right:10px; border-color: #C6C6C4; border-style: solid; border-width: 0 2px 2px 0; color: #FFFFFF; cursor: pointer; padding: 3px 10px; display: block; width: 145px; text-align: right;}
.page-print .print-head address { float:right; margin-left:15px; }
.print-head  h1.logo {float:right; margin-left:15px;}
.page-print .price-incl-tax { display:block; white-space:nowrap; }
.page-print .cart-price, .page-print .price-excl-tax .label, .page-print .price-incl-tax .label, .page-print .price-excl-tax .price, .page-print .price-incl-tax .price { display:inline; }
a.back-button {display: block; background-color: #0571b1; width: auto; border: 1px solid #cbccce; -moz-border-radius: 8px; -webkit-border-radius: 8px; padding: 5px 8px 5px 8px; margin-bottom: 10px;}
a.back-button:hover {text-decoration: none;}
span.backbuttonhead {display: block; color: #FFFFFF; font-size: 18px; text-align: center;}
span.backbuttonlink {display: block; color: #05dcf9; font-size: 12px; text-align: center;}
.footer {border-width:2px 0px 0px 0px; border-style: solid; border-color: #CBD2E6; color: #000; padding:10px; position: relative; top: 35px; width:76.5em; margin:auto;}
.footer ul {margin-left:130px;}
.footer a { color: #FFFFFF; text-decoration: underline;}
.footer fieldset { text-align: left; margin-left: 5px; }
.footer label {display: inline; color: #FFFFFF;}
.footer p a, .footer p { text-align:right; color: rgb(200,200,200); font-size: 12px; margin-top: 15px; }
.footer ul {display:block; text-align: right;}
.footer ul a {color: rgb(200,200,200);}
.footer ul li {display: inline; margin-right: 5px;}
#search_mini_form {display:none;}
#review-button span {font-weight: bold;}
.more-views {display:none;}