<?xml version="1.0"?>
<!DOCTYPE config>
<config>
	<modules>
		<Sid_Cms>
			<version>0.1.0</version>
		</Sid_Cms>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Sid_Cms_Adminhtml after="Mage_Adminhtml">Sid_Cms_Adminhtml</Sid_Cms_Adminhtml>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<events>
			<adminhtml_cms_page_edit_tab_main_prepare_form>
				<observers>
					<Sid_Cms>
						<type>singleton</type>
						<class>Sid_Cms_Model_Observer</class>
						<method>onAdminhtmlCmsPageEditTabMainPrepareForm</method>
					</Sid_Cms>
				</observers>
			</adminhtml_cms_page_edit_tab_main_prepare_form>
			<cms_page_save_before>
				<observers>
					<Sid_Cms>
						<type>singleton</type>
						<class>Sid_Cms_Model_Observer</class>
						<method>onCmsPageSaveBefore</method>
					</Sid_Cms>
				</observers>
			</cms_page_save_before>
			<cms_page_save_after>
				<observers>
					<Sid_Cms_After>
						<type>singleton</type>
						<class>Sid_Cms_Model_Observer</class>
						<method>onCmsPageSaveAfter</method>
					</Sid_Cms_After>
				</observers>
			</cms_page_save_after>
		</events>
		<menu>
			<cms>
				<children>
					<cms_navi module="cms">
						<title>Navigation</title>
						<sort_order>100</sort_order>
						<action>adminhtml/cms_navi</action>
					</cms_navi>
				</children>
			</cms>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<cms>
							<title>Cms Module</title>
							<sort_order>10</sort_order>
							<children>
								<cms_navi module="cms">
									<title>Manage Cms Navi</title>
									<sort_order>0</sort_order>
								</cms_navi>
							</children>
						</cms>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<sidcms>
					<file>sid/cms.xml</file>
				</sidcms>
			</updates>
		</layout>
		<cms>
			<browser>
				<extensions>
					<image_allowed>
						<pdf>1</pdf>
						<xml>1</xml>
						<doc>1</doc>
						<docx>1</docx>
						<xlsx>1</xlsx>
					</image_allowed>
					<allowed>
						<pdf>1</pdf>
						<xml>1</xml>
						<doc>1</doc>
						<docx>1</docx>
						<xlsx>1</xlsx>
					</allowed>
				</extensions>
			</browser>
		</cms>
		<translate>
			<modules>
				<Sid_Cms>
					<files>
						<default>Sid_Cms.csv</default>
					</files>
				</Sid_Cms>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Sid_Cms>
					<files>
						<default>Sid_Cms.csv</default>
					</files>
				</Sid_Cms>
			</modules>
		</translate>
		<layout>
			<updates>
				<sidcms>
					<file>sid/cms.xml</file>
				</sidcms>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
			<sidcms>
				<class>Sid_Cms_Model</class>
				<resourceModel>sidcms_resource</resourceModel>
			</sidcms>
			<sidcms_resource>
				<class>Sid_Cms_Model_Resource</class>
				<entities>
					<navigation>
						<table>sidcms_navigation</table>
					</navigation>
					<navigation_page>
						<table>sidcms_navigation_page</table>
					</navigation_page>
					<navigation_node>
						<table>sidcms_navigation_node</table>
					</navigation_node>
				</entities>
			</sidcms_resource>
		</models>
		<resources>
			<sidcms_setup>
				<setup>
					<module>Sid_Cms</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</sidcms_setup>
			<cms_write>
				<connection>
					<use>core_write</use>
				</connection>
			</cms_write>
			<cms_read>
				<connection>
					<use>core_read</use>
				</connection>
			</cms_read>
		</resources>
		<blocks>
			<sidcms>
				<class>Sid_Cms_Block</class>
			</sidcms>
		</blocks>
		<helpers>
			<sidcms>
				<class>Sid_Cms_Helper</class>
			</sidcms>
			<cms>
				<rewrite>
					<page>Sid_Cms_Helper_Page</page>
				</rewrite>
			</cms>
		</helpers>
		<events>
			<cms_page_load_after>
				<observers>
					<Sid_Cms>
						<type>singleton</type>
						<class>Sid_Cms_Model_Observer</class>
						<method>onCmsPageLoadAfter</method>
					</Sid_Cms>
				</observers>
			</cms_page_load_after>
			<cms_page_save_before>
				<observers>
					<Sid_Cms>
						<type>singleton</type>
						<class>Sid_Cms_Model_Observer</class>
						<method>onCmsPageSaveBefore</method>
					</Sid_Cms>
				</observers>
			</cms_page_save_before>
		</events>
	</global>
	<crontab>
		<jobs>
			<sid_cms>
				<schedule>
					<cron_expr>*/9 * * * *</cron_expr>
				</schedule>
				<run>
					<model>sidcms/cron::runCron</model>
				</run>
			</sid_cms>
		</jobs>
	</crontab>
</config>
