<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!DOCTYPE config>
<config>
    <modules>
        <Bkg_Shapefile>
            <version>0.1.1.0</version>
        </Bkg_Shapefile>
    </modules>
	<global>
        <models>
            <bkg_shapefile>
                <class>Bkg_Shapefile_Model</class>
            	<resourceModel>bkg_shapefile_resource</resourceModel>
            </bkg_shapefile>
        	<bkg_shapefile_resource>
                <class>Bkg_Shapefile_Model_Resource</class>
                <entities>
                    <file>
                        <table>bkg_shapefile_shapefile</table>
                    </file>
                    <shape>
                        <table>bkg_shapefile_shape</table>
                    </shape>
                </entities>
            </bkg_shapefile_resource>
        </models>
    	<resources>
            <bkg_shapefile_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bkg_shapefile_read>
            <bkg_shapefile_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bkg_shapefile_write>
        	<bkg_shapefile_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                <setup>
                    <module>Bkg_Shapefile</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </bkg_shapefile_setup>
        </resources>
    	<blocks>
            <bkg_shapefile>
                <class>Bkg_Shapefile_Block</class>
            </bkg_shapefile>
        </blocks>
    	<helpers>
            <bkg_shapefile>
                <class>Bkg_Shapefile_Helper</class>
            </bkg_shapefile>
        </helpers>
    </global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Bkg_Shapefile_Adminhtml after="Mage_Adminhtml">Bkg_Shapefile_Adminhtml</Bkg_Shapefile_Adminhtml>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <adminhtml>
    	<menu>
			<bkgviewer>
				<children>
					<bkgshapefile_file>
						<title>Shape</title>
						<sort_order>50</sort_order>
						<action>adminhtml/shapefile_file/index</action>
					</bkgshapefile_file>
				</children>
			</bkgviewer>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<bkgviewer>
							<title>Bkg Viewer</title>
							<sort_order>10</sort_order>
							<children>
								<bkgshapefile_file>
									<title>Shape</title>
									<sort_order>50</sort_order>
								</bkgshapefile_file>
							</children>
						</bkgviewer>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bkgshapefile>
					<file>bkg/shapefile.xml</file>
				</bkgshapefile>
			</updates>
		</layout>
    </adminhtml>
    <frontend>
        <routers>
            <shapefile>
                <use>standard</use>
                <args>
                    <module>Bkg_Shapefile</module>
                    <frontName>shapefile</frontName>
                </args>
            </shapefile>
        </routers>
        
        <layout>
            <updates>
                <bkg_shapefile module="Bkg_Shapefile">
                    <file>shapefile.xml</file>
                </bkg_shapefile>
            </updates>
        </layout>
    </frontend>
</config>
