<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Dwd_Stationen>
            <version>0.1.5</version>
        </Dwd_Stationen>
    </modules>
    <frontend>
        <routers>
            <stationen_front>
                <use>standard</use>
                <args>
                    <module>Dwd_Stationen</module>
                    <frontName>fstationen</frontName>
                </args>
            </stationen_front>
        </routers>
        <layout>
            <updates>
                <stationen>
                    <file>dwd/stationen.xml</file>
                </stationen>
            </updates>
        </layout>
        <translate>
            <modules>
                <Dwd_Stationen>
                    <files>
                        <default>Dwd_Stationen.csv</default>
                    </files>
                </Dwd_Stationen>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<adminhtml>	
				<args>
					<modules>
						<Dwd_Stationen_Adminhtml after="Mage_Adminhtml">Dwd_Stationen_Adminhtml</Dwd_Stationen_Adminhtml>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<stationen module="stationen">
				<title>Stationen</title>
				<sort_order>71</sort_order>               
				<children>
					<stationen module="stationen">
						<title>Manage Stations</title>
						<sort_order>0</sort_order>
						<action>adminhtml/stationen_stationen</action>
					</stationen>
					<sets module="stationen">
						<title>Manage Sets</title>
						<sort_order>1</sort_order>
						<action>adminhtml/stationen_set</action>
					</sets>
					<import module="stationen">
						<title>Import Stationen</title>
						<sort_order>10</sort_order>
						<action>adminhtml/stationen_import</action>
					</import>
				</children>
			</stationen>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<stationen>
							<title>Stationen Modul</title>
							<sort_order>10</sort_order>
							<children>
								<stationen>
									<title>Stationen</title>
									<sort_order>10</sort_order>
								</stationen>
								<sets>
									<title>Sets</title>
									<sort_order>20</sort_order>
								</sets>
								<import>
									<title>Import</title>
									<sort_order>30</sort_order>
								</import>
							</children>
						</stationen>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<stationen>
					<file>dwd/stationen.xml</file>
				</stationen>
			</updates>
		</layout>
	    <translate>
            <modules>
                <Dwd_Stationen>
                    <files>
                        <default>Dwd_Stationen.csv</default>
                    </files>
                </Dwd_Stationen>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <stationen>
                <class>Dwd_Stationen_Model</class>
                <resourceModel>stationen_resource</resourceModel>
            </stationen>
            <stationen_resource>
                <class>Dwd_Stationen_Model_Resource</class>
                <entities>
                    <stationen>
                        <table>stationen_entity</table>
                    </stationen>
                    <stationen_entity_varchar>
                        <table>stationen_entity_varchar</table>
                    </stationen_entity_varchar>
                    <stationen_entity_int>
                        <table>stationen_entity_int</table>
                    </stationen_entity_int>
                    <set>
                        <table>stationen_set_entity</table>
                    </set>
                    <set_entity_varchar>
                        <table>stationen_set_entity_varchar</table>
                    </set_entity_varchar>
                    <derivation>
                        <table>stationen_derivation_entity</table>
                    </derivation>
                    <derivation_entity_varchar>
                        <table>stationen_derivation_entity_varchar</table>
                    </derivation_entity_varchar>
                	<stationen_set_relation>
                		<table>stationen_set_relation</table>
                	</stationen_set_relation>
                	<stationen_derivation_category_relation>
                		<table>stationen_derivation_category_relation</table>
                	</stationen_derivation_category_relation>
                </entities>
                
            </stationen_resource>
        </models>
        <resources>
            <stationen_setup>
                <setup>
                    <module>Dwd_Stationen</module>
                    <class>Dwd_Stationen_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </stationen_setup>
            <stationen_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </stationen_write>
            <stationen_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </stationen_read>
        </resources>
        <blocks>
            <stationen>
                <class>Dwd_Stationen_Block</class>
            </stationen>
        </blocks>
        <helpers>
            <stationen>
                <class>Dwd_Stationen_Helper</class>
            </stationen>
        </helpers>
               <events>
           
        </events>
        <fieldsets>

            <sales_convert_quote_item>
                <station_id>
                    <to_order_item>*</to_order_item>
                </station_id>
            </sales_convert_quote_item>

            <sales_convert_order_item>
                <station_id>
                    <to_quote_item>*</to_quote_item>
                </station_id>
            </sales_convert_order_item>
        </fieldsets>
         <stationen>
        	<messnetz>
	        	<AE>
					<label>AE</label>
					<value>AE</value>
				</AE>
				<EB>
					<label>EB</label>
					<value>EB</value>
				</EB>
				<KL>
					<label>KL</label>
					<value>KL</value>
				</KL>
				<RR>
					<label>RR</label>
					<value>RR</value>
				</RR>
				<SO>
					<label>SO</label>
					<value>SO</value>
				</SO>
				<TU>
					<label>TU</label>
					<value>TU</value>
				</TU>
	        	<SY>
					<label>SY</label>
					<value>SY</value>
				</SY>
				<FF>
					<label>FF</label>
					<value>FF</value>
				</FF>
				<SWIS>
					<label>SWIS</label>
					<value>SWIS</value>
				</SWIS>
				<BL>
					<label>BL</label>
					<value>BL</value>
				</BL>
				<SEE>
					<label>SEE</label>
					<value>SEE</value>
				</SEE>
				<GAFOR>
					<label>GAFOR</label>
					<value>GAFOR</value>
				</GAFOR>
        	</messnetz>
        	<ktyp>
	        	<CCCC>
					<label>C'C'C'C'</label>
					<value>C'C'C'C'</value>
				</CCCC>
				<DWD_Klima>
					<label>DWD_Klima</label>
					<value>DWD_Klima</value>
				</DWD_Klima>
				<WMO_Nummer>
					<label>WMO_Nummer</label>
					<value>WMO_Nummer</value>
				</WMO_Nummer>
				<Gebiet>
					<label>Gebiet</label>
					<value>Gebiet</value>
				</Gebiet>
        	</ktyp>
        	<styp>
	        	<AAest>
	        		<label>AAest</label>
	        		<value>AAest</value>
	        	</AAest>
				<AKKst>
					<label>AKKst</label>
					<value>AKKst</value>
				</AKKst>
				<Fww>
					<label>Fww</label>
					<value>Fww</value>
				</Fww>
				<FwwREF>
					<label>Fww REF</label>
					<value>Fww REF</value>
				</FwwREF>
				<InterneMst>
					<label>InterneMst</label>
					<value>InterneMst</value>
				</InterneMst>
				<Kst>
					<label>Kst</label>
					<value>Kst</value>
				</Kst>
				<MWst>
					<label>MWst</label>
					<value>MWst</value>
				</MWst>
				<NstA>
					<label>Nst (A)</label>
					<value>Nst (A)</value>
				</NstA>
				<Nstk>
					<label>Nst (k)</label>
					<value>Nst (k)</value>
				</Nstk>
				<Wmst>
					<label>Wmst</label>
					<value>Wmst</value>
				</Wmst>
				<WstI>
					<label>Wst I</label>
					<value>Wst I</value>
				</WstI>
				<WstIREF>
					<label>Wst I REF</label>
					<value>Wst I REF</value>
				</WstIREF>
				<WstII>
					<label>Wst II</label>
					<value>Wst II</value>
				</WstII>
				<WstIII>
					<label>Wst III</label>
					<value>Wst III</value>
				</WstIII>
				<Gebiet>
					<label>Gebiet</label>
					<value>Gebiet</value>
				</Gebiet>
        	</styp>
        </stationen>
        
    </global>
</config>