<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Egovs_Ready>
            <version>0.1.3.0</version>
        </Egovs_Ready>
    </modules>

    <global>
        <blocks>
            <egovsready>
                <class>Egovs_Ready_Block</class>
            </egovsready>
            <imprint>
                <class>Egovs_Ready_Block_Imprint</class>
            </imprint>
        </blocks>
        <helpers>
            <egovsready>
                <class>Egovs_Ready_Helper</class>
            </egovsready>
        </helpers>
        <models>
            <egovsready>
                <class>Egovs_Ready_Model</class>
            </egovsready>
        </models>
        <resources>
            <egovsready_setup>
                <setup>
                    <module>Egovs_Ready</module>
                    <class>Egovs_Ready_Model_Setup</class>
                </setup>
            </egovsready_setup>
        </resources>
        <events>
            <catalog_product_save_before>
                <observers>
                    <magesetup_observer>
                        <class>egovsready/observer</class>
                        <type>model</type>
                        <method>onCatalogProductSaveBefore</method>
                    </magesetup_observer>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
	  <adminhtml>
	      <translate>
	          <modules>
	              <Egovs_Ready>
	                  <files>
	                      <default>Egovs_Ready.csv</default>
	  				        </files>
	  			      </Egovs_Ready>
	  		    </modules>
	  	  </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <egovsready>
                    <file>egovs/ready.xml</file>
                </egovsready>
            </updates>
        </layout>
    </frontend>
    <default>
        <customer>
            <address_templates>
                <html><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{depend company}}{{var company}}<br />{{/depend}}
{{if street1}}{{var street1}}<br />{{/if}}
{{depend street2}}{{var street2}}<br />{{/depend}}
{{depend street3}}{{var street3}}<br />{{/depend}}
{{depend street4}}{{var street4}}<br />{{/depend}}
{{if city}}{{var city}},  {{/if}}{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}<br/>
{{var country}}<br/>
{{depend telephone}}<span class="egov-phone"> </span> {{var telephone}}<br/>{{/depend}}
{{depend fax}}<span class="egov-fax"> </span> {{var fax}}<br/>{{/depend}}
{{depend vat_id}}VAT: {{var vat_id}}{{/depend}}]]></html>
            </address_templates>
        </customer>
        <general>
            <country>
                <default>DE</default>
            </country>
        </general>
        <sendfriend>
        	<email>
        	   <enabled>false</enabled>
        	</email>
        </sendfriend>
        <tax>
            <calculation>
                <algorithm>UNIT_BASE_CALCULATION</algorithm>
                <apply_after_discount>1</apply_after_discount>
                <based_on>shipping</based_on>
                <price_includes_tax>0</price_includes_tax>
                <shipping_includes_tax>0</shipping_includes_tax>
            </calculation>
            <defaults>
                <country>DE</country>
            </defaults>
        </tax>
    </default>
</config>