<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
   <sections>
        <payment>
            <groups>
                <payplacegiropay translate="label" module="payplacegiropay">
                    <label>Payplace Giropay</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1020</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <description translate="label">
                            <label>Description</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </description>
                        <additional_note translate="label">
                            <label>Hinweis für Käufer</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Geben Sie hier den Hinweis für den Käufer ein (additionalNote), z. B. [www.slpb.de][Dresden]. Beachten Sie bitte dazu die Dokumentation (Special Features).</comment>
                        </additional_note>
                        <order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paymentbase/system_config_source_order_status_pending</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
                        <merchant_sub_id translate="label">
                            <label>Payplace Merchant Sub ID</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <depends>
                                <active>1</active>
                            </depends>
                            <validate>required-entry validate-length minimum-length-4 maximum-length-4 validate-digits</validate>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Your Payplace Merchant Sub ID (4 Numbers)</comment>
                        </merchant_sub_id>
                        <debug translate="label">
                            <label>Debug Flag</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>270</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug>
                        <allowspecific translate="label">
                            <label>Payment from applicable countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>90</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label>Payment from Specific countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>100</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </specificcountry>
                        <sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                        <min_order_total translate="label">
                            <label>Mindestbestellwert</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>980</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min_order_total>
                        <max_order_total translate="label">
                            <label>Höchstbestellwert</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>981</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_order_total>
                        <cancel_order_after_active translate="label" module="paymentbase">
                            <label>Cancel order after active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>985</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Activates the automatic cancelling of the order after a timeout</comment>
                        </cancel_order_after_active>
                        <cancel_order_after translate="label" module="paymentbase">
                            <label>Cancel order after</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>986</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The timeout for automatic cancelling in minutes (Range: 10 - 120; Default: 30)</comment>
                            <depends>
                                <cancel_order_after_active>1</cancel_order_after_active>
                            </depends>
                            <validate>required-entry validate-digits validate-digits-range digits-range-10-120</validate>
                        </cancel_order_after>
                        <delete_customer_after_transaction translate="label" module="paymentbase">
                            <label>Delete customer after payment transaction</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>999</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>If active the customer will be deleted after every payment transaction on the ePayBL server</comment>
                        </delete_customer_after_transaction>
                        <include_personal_data translate="label">
                            <label>Include personal data</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1000</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Send personal data to ePayBL</comment>
                        </include_personal_data>
                   </fields>
                </payplacegiropay>
            </groups>
        </payment>
    </sections>
</config>