<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Bfr_EventRequest>
            <version>0.1.2</version>
        </Bfr_EventRequest>
    </modules>
    <frontend>
        <routers>
            <eventrequest>
                <use>standard</use>
                <args>
                    <module>Bfr_EventRequest</module>
                    <frontName>eventrequest</frontName>
                </args>
            </eventrequest>
        </routers>
        <layout>
            <updates>
                <eventrequest>
                    <file>bfr/eventrequest.xml</file>
                </eventrequest>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bfr_EventRequest>
                    <files>
                        <default>Bfr_EventRequest.csv</default>
                    </files>
                </Bfr_EventRequest>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bfr_EventRequest_Adminhtml after="Mage_Adminhtml">Bfr_EventRequest_Adminhtml</Bfr_EventRequest_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <bfr_eventmanager module="eventrequest">
               
                <children>
                    <eventrequest_request module="eventrequest">
                        <title>Application</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/eventrequest_request</action>
                    </eventrequest_request>
                </children>
            </bfr_eventmanager>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <bfr_eventmanager>
                           
                            <children>
                                <eventrequest_request module="eventrequest">
                                    <title>Manage Application</title>
                                    <sort_order>0</sort_order>
                                </eventrequest_request>
                            </children>
                        </bfr_eventmanager>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <event_request translate="title" module="eventrequest">
                                            <title>Event Request Section</title>
                                        </event_request>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <eventrequest>
                    <file>bfr/eventrequest.xml</file>
                </eventrequest>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bfr_EventRequest>
                    <files>
                        <default>Bfr_EventRequest.csv</default>
                    </files>
                </Bfr_EventRequest>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <eventrequest>
                <class>Bfr_EventRequest_Model</class>
                <resourceModel>eventrequest_resource</resourceModel>
            </eventrequest>
            <eventrequest_resource>
                <class>Bfr_EventRequest_Model_Resource</class>
                <entities>
                    <request>
                        <table>eventrequest_request</table>
                    </request>
                </entities>
            </eventrequest_resource>
        </models>
        <resources>
            <bfr_eventrequest_setup>
                <setup>
                    <module>Bfr_EventRequest</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bfr_eventrequest_setup>
            <eventrequest_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </eventrequest_write>
            <eventrequest_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </eventrequest_read>
        </resources>
        <blocks>
            <eventrequest>
                <class>Bfr_EventRequest_Block</class>
            </eventrequest>
        </blocks>
        <helpers>
            <eventrequest>
                <class>Bfr_EventRequest_Helper</class>
            </eventrequest>
        </helpers>
        <events>
            <clear_expired_quotes_before>
                <observers>
                    <bfr_eventrequest_clear_expired_quotes_before>
                        <type>singleton</type>
                        <class>Bfr_EventRequest_Model_Observer</class>
                        <method>onClearExpiredQuotesBefore</method>
                    </bfr_eventrequest_clear_expired_quotes_before>
                </observers>
            </clear_expired_quotes_before>
            <sales_quote_add_item>
                <observers>
                    <bfr_eventrequest_add_item>
                        <type>singleton</type>
                        <class>Bfr_EventRequest_Model_Observer</class>
                        <method>onQuoteItemAdd</method>
                    </bfr_eventrequest_add_item>
                </observers>
            </sales_quote_add_item>
            <checkout_entry_before>
                <observers>
                    <productlimit>
                        <type>singleton</type>
                        <class>Bfr_EventRequest_Model_Observer</class>
                        <method>onCheckoutEntryBefore</method>
                    </productlimit>
                </observers>
            </checkout_entry_before>
            <sales_order_save_commit_after>
                <observers>
                    <invoice_pay_tuc_tan>
                        <type>singleton</type>
                        <class>Bfr_EventRequest_Model_Observer</class>
                        <method>onSalesOrderSaveCommitAfter</method>
                    </invoice_pay_tuc_tan>
                </observers>
            </sales_order_save_commit_after>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <eventrequest />
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <default>
        <event_request>
            <email>
                <eventrequest_accept_template>eventrequest/email/eventrequest_accept_template</eventrequest_accept_template>
                <eventrequest_reject_template>eventrequest/email/eventrequest_reject_template</eventrequest_reject_template>
            </email>
        </event_request>
    </default>
</config>
