<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <Stala_Abo>
            <version>0.1.5</version>
        </Stala_Abo>
    </modules>
    <admin>
		<routers>
			<adminhtml>	
				<args>
					<modules>
						<Stala_Abo_Adminhtml after="Mage_Adminhtml">Stala_Abo_Adminhtml</Stala_Abo_Adminhtml>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <frontend>
        <events>
        	<egovs_base_frontend_customer_reject_address_editing>
				<observers>
					<stala_abo_customer_reject_address_editing>
						<type>singleton</type>
						<class>stalaabo/customer_observer</class>
						<method>rejectAddressEditing</method>
					</stala_abo_customer_reject_address_editing>
				</observers>
			</egovs_base_frontend_customer_reject_address_editing>
        </events>
        <layout>
            <updates>
                <stalaabo>
                    <file>stalaabo.xml</file>
                </stalaabo>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
    	<events>	
			<catalog_product_edit_prepare_layout>
				<observers>
					<stala_abo_catalog_product_edit>
						<type>singleton</type>
						<class>stalaabo/catalog_product_observer</class>
						<method>injectButton</method>
					</stala_abo_catalog_product_edit>
				</observers>
			</catalog_product_edit_prepare_layout>
			<catalog_product_save_before>
				<observers>
					<stala_abo_catalog_product_save>
						<type>singleton</type>
						<class>stalaabo/catalog_product_observer</class>
						<method>catalogProductSaveBefore</method>
					</stala_abo_catalog_product_save>
				</observers>
			</catalog_product_save_before>
			<catalog_product_delete_before>
				<observers>
					<stala_abo_catalog_product_save>
						<type>singleton</type>
						<class>stalaabo/catalog_product_observer</class>
						<method>catalogProductDeleteBefore</method>
					</stala_abo_catalog_product_save>
				</observers>
			</catalog_product_delete_before>
    	</events>
    	<translate>
			<modules>
				<Stala_Abo>
					<files>
						<default>Stala_Abo.csv</default>
					</files>
				</Stala_Abo>
			</modules>
		</translate>
		<menu>
			<stalaabo module="stalaabo">
				<title>Subscribe</title>
				<sort_order>71</sort_order>               
				<children>
					<contract module="stalaabo">
						<title>Subscribtion Contract</title>
						<sort_order>0</sort_order>
						<action>adminhtml/stalaabo_contract</action>
						<sort_order>10</sort_order>  
					</contract>
					<deliver module="stalaabo">
						<title>Deliver Subscribtion</title>
						<sort_order>1</sort_order>
						<action>adminhtml/stalaabo_deliver</action>
						<sort_order>20</sort_order>  
					</deliver>
					<delivered module="stalaabo">
						<title>Invoice Subscribtion</title>
						<sort_order>1</sort_order>
						<action>adminhtml/stalaabo_delivered</action>
						<sort_order>30</sort_order>  
					</delivered>
				</children>
			</stalaabo>
		</menu>
		<acl>
		<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
					  <system>
                            <children>
                                <config>
                                    <children>
                                        <stalaabo translate="title" module="stalaabo">
                                            <title>Abo</title>
                                        </stalaabo>
                                    </children>
                                </config>
                            </children>
                        </system>
						<stalaabo translate="title" module="stalaabo">
							<title>Subscribe</title>
							<sort_order>10</sort_order>
						        <children>
						            <contract module="stalaabo">
											<title>Subscribtion Contract</title>
											<sort_order>0</sort_order>
									</contract>
									<deliver module="stalaabo">
										<title>Deliver Subscribtion</title>
										<sort_order>10</sort_order>
										
									</deliver>
									<delivered module="stalaabo">
										<title>Invoice Subscribtion</title>
										<sort_order>20</sort_order>
										
									</delivered>
	                            </children>
	                    </stalaabo>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<stalaabo>
					<file>stala/abo.xml</file>
				</stalaabo>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <stalaabo>
                <class>Stala_Abo_Model</class>
                <resourceModel>stalaabo_mysql4</resourceModel>
            </stalaabo>
            <stalaabo_mysql4>
                <class>Stala_Abo_Model_Mysql4</class>
                <entities>
                    <contract>
                        <table>stala_abo_contract</table>
                    </contract>
                    <delivered>
                        <table>stala_abo_delivered</table>
                    </delivered>
                </entities>
            </stalaabo_mysql4>
            <extstock_mysql4>
            	<rewrite>
            	<extstock_collection>Stala_Abo_Model_Extstock_Mysql4_Collection</extstock_collection>
            	</rewrite>
            </extstock_mysql4>
        </models>
        <resources>
            <stalaabo_setup>
                <setup>
                    <module>Stala_Abo</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </stalaabo_setup>
            <stalaabo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </stalaabo_write>
            <stalaabo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </stalaabo_read>
        </resources>
        <blocks>
 			<egovsacl>
		      <rewrite>
		         <adminhtml_catalog_product_edit>Stala_Abo_Block_Adminhtml_Catalog_Product_Edit</adminhtml_catalog_product_edit>
		      </rewrite>
		    </egovsacl>
            <stalaabo>
                <class>Stala_Abo_Block</class>
            </stalaabo>
    		<extstock>
	    		<rewrite>
	    			<adminhtml_extstock_grid>Stala_Abo_Block_Adminhtml_Extstock_Grid</adminhtml_extstock_grid>
	    		</rewrite>
    		</extstock>	
        </blocks>
        <helpers>
            <stalaabo>
                <class>Stala_Abo_Helper</class>
            </stalaabo>
        </helpers>
                <!-- Wird beim konvertieren von Quote-Item zu Order-Item benötigt -->
        <fieldsets>
        	<sales_convert_quote_item>
        		<stala_abo_shipping_address_id><to_order_item>*</to_order_item></stala_abo_shipping_address_id>
        	</sales_convert_quote_item>
        </fieldsets>
    </global>
    <default>
 		<informationservicex>
        	<price>
         		<price_per_time>25</price_per_time>
         	</price>
        </informationservicex>
        <stalaabo>
        	<invoice>
        		<abo_invoice_store>1</abo_invoice_store>
        		<abo_invoice_paymentmethod>openaccount</abo_invoice_paymentmethod>
        		<abo_invoice_shippingmethod>freeshipping_freeshipping</abo_invoice_shippingmethod>
        	</invoice>
        </stalaabo>
	</default>
</config>