.slpb_col2 {
    width: 50%;
    border-right: 1px solid #aeaeae;
    float: left;
    margin-right: 5px
}

.slpb_edit_2col{
    width: 38px ;
    background: none repeat scroll 0 0 #fff;
    border-color: #aaa #c8c8c8 #c8c8c8 #aaa;
    border-style: solid;
    border-width: 1px;
    font: 12px arial,helvetica,sans-serif;
}

#framecontract_los_0, #framecontract_los {
	width: 48%;
	display: inline-block;
}

#framecontract_los {
	margin-left: 10px;
}
#framecontract_los_0 {
    margin-right: 10px;
}

#sid-lose-grid {
	margin-top:10px;
}
#sid-lose-grid .type-status, #sid-lose-grid .type-link,
#sid-lose-grid  .type-send, #sid-lose-grid  .type-button {
	width: 80px;
}

#sid-lose-grid input.input-text {
    width: 98%;
}

div.sidcms-side-col, div.sidcms-main-col {
	display: inline-block;
	min-height: 450px;
}

div.sidcms-side-col{
	float: left;
    padding-bottom: 25px;
    min-width: 40px;
    width: 40%;
}

div.sidcms-main-col{
    padding: 0 0 25px 25px;
    width: 58%;
}
.sidcms-columns{
    background: rgba(0, 0, 0, 0) url("images/side_col_bg.gif") repeat-y scroll 417px 0;
}
del {
    color: red;
    background: #fdd;
    text-decoration: none;
}
ins {
    color: green;
    background: #dfd;
    text-decoration: none;
}

.col_diff_small
{
	height:50px; 
	overflow:hidden;
}