<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Gka_Tkonnektpay>
            <version>1.0.0.0</version>
            <depends>Egovs_Paymentbase</depends>
        </Gka_Tkonnektpay>
    </modules>
    <global>
        <models>
            <gka_tkonnektpay>
                <class>Gka_Tkonnektpay_Model</class>
            </gka_tkonnektpay>
        </models>
        <helpers>
            <gka_tkonnektpay>
                <class>Gka_Tkonnektpay_Helper</class>
            </gka_tkonnektpay>
            <gka_tkonnektpay_debitcard>
                <class>Gka_Tkonnektpay_Helper</class>
            </gka_tkonnektpay_debitcard>
        </helpers>
        <resources>
            <gka_tkonnektpay_setup>
                <setup>
                    <module>Gka_Tkonnektpay</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gka_tkonnektpay_setup>
            <gka_tkonnektpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gka_tkonnektpay_write>
            <gka_tkonnektpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gka_tkonnektpay_read>
        </resources>
        <blocks>
            <gka_tkonnektpay><class>Gka_Tkonnektpay_Block</class></gka_tkonnektpay>
        </blocks>
    </global>
    <frontend>
    	<secure_url>
            <gka_tkonnektpay>/tkonnekt</gka_tkonnektpay>
        </secure_url>
        <routers>
            <gka_tkonnektpay>
                <use>standard</use>
                <args>
                    <module>Gka_Tkonnektpay</module>
                    <frontName>tkonnekt</frontName>
                </args>
            </gka_tkonnektpay>
        </routers>
        <translate>
            <modules>
                <Gka_Tkonnektpay>
                    <files>
                        <default>Gka_Tkonnektpay.csv</default>
                    </files>
                </Gka_Tkonnektpay>
            </modules>
        </translate>
        <events>
            <payment_method_is_active>
                <observers>
                    <gka_tkonnektpay_payment_method_is_active>
                        <type>singleton</type>
                        <class>gka_tkonnektpay/observer</class>
                        <method>paymentMethodIsActive</method>
                    </gka_tkonnektpay_payment_method_is_active>
                </observers>
            </payment_method_is_active>
        </events>
        <layout>
            <updates>
                <gka_tkonnektpay>
                    <file>gka/tkonnekt.xml</file>
                </gka_tkonnektpay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Gka_Tkonnektpay>
                    <files>
                        <default>Gka_Tkonnektpay.csv</default>
                    </files>
                </Gka_Tkonnektpay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <gka_tkonnektpay_debitcard>
                <currency>EUR</currency>
                <model>gka_tkonnektpay/payment_debitcard</model>
                <payment_action>authorize</payment_action>
                <use_pseudo>1</use_pseudo>
                <title>Terminalzahlung per TKonnekt</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <autoclose>0</autoclose>
                <cancel_order_after_active>1</cancel_order_after_active>
                <cancel_order_after>30</cancel_order_after>
                <!-- Der Kunde soll nach jeder Zahlung gelöscht werden -->
                <delete_customer_after_transaction>1</delete_customer_after_transaction>
                <group>epaybl</group>
            </gka_tkonnektpay_debitcard>
        </payment>
    </default>
</config>
