<?xml version="1.0" ?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_CreditWorth>
            <version>0.0.1.0</version>
        </Egovs_CreditWorth>
    </modules>
    <global>
        <models>
            <egovs_creditworth>
                <class>Egovs_CreditWorth_Model</class>
            </egovs_creditworth>
        </models>
        <resources>
            <egovs_creditworth_setup>
                <setup>
                    <module>Egovs_CreditWorth</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </egovs_creditworth_setup>
        </resources>
        <helpers>
            <egovs_creditworth>
                <class>Egovs_CreditWorth_Helper</class>
            </egovs_creditworth>
        </helpers>
        <events>
            <payment_method_is_active>
                <observers>
                    <egovs_creditworth_payment_method_is_active>
                        <type>singleton</type>
                        <class>egovs_creditworth/observer</class>
                        <method>paymentMethodIsActive</method>
                    </egovs_creditworth_payment_method_is_active>
                </observers>
            </payment_method_is_active>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Egovs_CreditWorth>
                    <files>
                        <default>Egovs/CreditWorth.csv</default>
                    </files>
                </Egovs_CreditWorth>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <!--
                creditcard = Kreditkarte
                debit      = Lastschrift
                debit_auth = Lastschrift mit Einzugsermächtigung
                giro       = Überweisung
             -->
            <checkmo>
                <creditworth_type>giro</creditworth_type>
            </checkmo>
            <purchaseorder>
               <creditworth_type></creditworth_type>
            </purchaseorder>
               <!--
            <free>
                <creditworth_type></creditworth_type>
            </free>
             -->
            <banktransfer>
               <creditworth_type>giro</creditworth_type>
            </banktransfer>
            <cashondelivery>
               <creditworth_type></creditworth_type>
            </cashondelivery>
            <bankpayment>
               <creditworth_type>giro</creditworth_type>
            </bankpayment>
            <!--
               <debit>
                   <creditworth_type>debit_auth</creditworth_type>
               </debit>
               <debitpin>
                   <creditworth_type>debit_auth</creditworth_type>
               </debitpin>
             -->
            <giropay>
                <creditworth_type>giro</creditworth_type>
            </giropay>
            <saferpay>
                <creditworth_type>creditcard</creditworth_type>
            </saferpay>
            <openaccount>
                <creditworth_type>giro</creditworth_type>
            </openaccount>
            <egovs_girosolution_giropay>
                <creditworth_type>giro</creditworth_type>
            </egovs_girosolution_giropay>
            <egovs_girosolution_creditcard>
                <creditworth_type>creditcard</creditworth_type>
            </egovs_girosolution_creditcard>
            <sepadebitbund>
                <creditworth_type>debit_auth</creditworth_type>
            </sepadebitbund>
            <sepadebitsax>
                <creditworth_type>debit_auth</creditworth_type>
            </sepadebitsax>
            <payplacegiropay>
                <creditworth_type>giro</creditworth_type>
            </payplacegiropay>
            <payplacepaypage>
                <creditworth_type></creditworth_type>
            </payplacepaypage>
            <epaybl_cashpayment>
                <creditworth_type></creditworth_type>
            </epaybl_cashpayment>
            <gka_tkonnektpay_debitcard>
                <creditworth_type>debit</creditworth_type>
            </gka_tkonnektpay_debitcard>
        </payment>
    </default>
</config>