<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_DesignFeatures>
            <version>0.1.0</version>
        </Egovs_DesignFeatures>
    </modules>
    <global>
        <models>
            <egovsdesignfeatures>
                <class>Egovs_DesignFeatures_Model</class>
            </egovsdesignfeatures>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Egovs_DesignFeatures>
                    <files>
                        <default>Egovs/DesignFeatures.csv</default>
                    </files>
                </Egovs_DesignFeatures>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
       	<translate>
            <modules>
                <Egovs_Bitv>
                    <files>
                        <default>Egovs/DesignFeatures.csv</default>
                    </files>
                </Egovs_Bitv>
            </modules>
        </translate>
    </frontend>
    <default>
        <design>
            <language_switcher_settings>
                <language_switcher_use_image>0</language_switcher_use_image>
                <language_switcher_flags>1</language_switcher_flags>
                <language_switcher_button_caption>1</language_switcher_button_caption>
                <language_switcher_button_row>0</language_switcher_button_row>
            </language_switcher_settings>
        </design>
    </default>
</config>