<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_Sitemap>
            <version>0.1.0</version>
		    </Egovs_Sitemap>
	  </modules>
	  <global>
	      <blocks>
	          <egovssitemap>
	              <class>Egovs_Sitemap_Block</class>
			      </egovssitemap>
		    </blocks>
		    <models>
		        <egovssitemap>
		            <class>Egovs_Sitemap_Model</class>
		            <resourceModel>egovssitemap_mysql4</resourceModel>
		        </egovssitemap>
		        <egovssitemap_mysql4>
		            <class>Egovs_Sitemap_Model_Mysql4</class>
		            <entities>
		                <sitemap>
		                    <table>sitemap</table>
		                </sitemap>
		            </entities>
		        </egovssitemap_mysql4>
		    </models>
	  </global>
    <frontend>
        <layout>
            <updates>
                <egovssitemap>
                    <file>egovs/sitemap.xml</file>
                </egovssitemap>
            </updates>
        </layout>
    </frontend>
</config>