<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Gka_Flexprice>
            <version>0.0.2.0</version>
        </Gka_Flexprice>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <Gka_Flexprice>
                    <files>
                        <default>Gka_Flexprice.csv</default>
                    </files>
                </Gka_Flexprice>
            </modules>
        </translate>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <flexprice/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <layout>
            <updates>
                <flexprice>
                    <file>gka/flexprice.xml</file>
                </flexprice>
            </updates>
        </layout>

    </adminhtml>

    <global>
        <sales>
             <quote>
                 <item>
                     <product_attributes>
                         <allow_price_zero />
                         <can_change_qty />
                       </product_attributes>
                 </item>
             </quote>
         </sales>

        <fieldsets>
            <configvirtual_sales_copy_order>
                <entity_id>
                    <to_configvirtual>order_id</to_configvirtual>
                </entity_id>
                <increment_id>
                    <to_configvirtual>order_increment_id</to_configvirtual>
                </increment_id>
                <created_at>
                    <to_configvirtual>*</to_configvirtual>
                </created_at>
                <updated_at>
                    <to_configvirtual>*</to_configvirtual>
                </updated_at>
                <customer_id>
                    <to_configvirtual>*</to_configvirtual>
                </customer_id>
            </configvirtual_sales_copy_order>
            <configvirtual_sales_copy_order_item>
                <item_id>
                    <to_configvirtual>order_item_id</to_configvirtual>
                </item_id>
                <name>
                    <to_configvirtual>product_name</to_configvirtual>
                </name>
                <sku>
                    <to_configvirtual>product_sku</to_configvirtual>
                </sku>
            </configvirtual_sales_copy_order_item>

        </fieldsets>

        <catalog>
            <product>
                <type>
                    <flexprice translate="label" module="flexprice">
                        <label>Flexible Price</label>
                        <model>flexprice/product_type</model>
                        <composite>0</composite>
                        <price_model>flexprice/product_price</price_model>
                        <is_qty>1</is_qty>
                    </flexprice>
                    <configurable>
                        <allow_product_types>
                            <flexprice/>
                        </allow_product_types>
                    </configurable>
                </type>
                <grouped>
                    <allow_product_types>
                        <flexprice/>
                    </allow_product_types>
                </grouped>
            </product>
        </catalog>
        <blocks>
            <flexprice>
                <class>Gka_Flexprice_Block</class>
            </flexprice>
        </blocks>
        <helpers>
            <flexprice>
                <class>Gka_Flexprice_Helper</class>
            </flexprice>
        </helpers>
        <models>
            <flexprice>
                <class>Gka_Flexprice_Model</class>
                <resourceModel>flexprice_resource</resourceModel>
            </flexprice>
            <flexprice_resource>
                <class>Gka_Flexprice_Model_Resource</class>
                <entities>

                </entities>
            </flexprice_resource>
        </models>
        <resources>
            <flexprice_setup>
                <setup>
                    <module>Gka_Flexprice</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </flexprice_setup>
        </resources>
        <events>
           <sales_quote_item_set_product>
                <observers>
                    <flexprice_product_observer_item_save_commit_after>
                        <class>Gka_Flexprice_Model_Product_Observer</class>
                        <method>onSalesQuoteItemSetProduct</method>
                    </flexprice_product_observer_item_save_commit_after>
                </observers>
              </sales_quote_item_set_product>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <Gka_Flexprice>
                    <files>
                        <default>Gka_Flexprice.csv</default>
                    </files>
                </Gka_Flexprice>
            </modules>
        </translate>
        <layout>
            <updates>
                <flexprice module="Gka_Flexprice">
                    <file>gka/flexprice.xml</file>
                </flexprice>
            </updates>
        </layout>
         <routers>
            <flexprice>
                <use>standard</use>
                <args>
                    <module>Gka_Flexprice</module>
                    <frontName>flexprice</frontName>
                </args>
            </flexprice>
        </routers>
    </frontend>
    <admin>
        <fieldsets>
            <catalog_product_dataflow>
                <qty>
                    <product_type>
                        <flexprice/>
                    </product_type>
                </qty>
                <min_qty>
                    <product_type>
                        <flexprice/>
                    </product_type>
                </min_qty>
                <is_qty_decimal>
                    <product_type>
                        <flexprice/>
                    </product_type>
                </is_qty_decimal>
                <backorders>
                    <product_type>
                        <flexprice/>
                    </product_type>
                </backorders>
                <min_sale_qty>
                    <product_type>
                        <flexprice/>
                    </product_type>
                </min_sale_qty>
                <max_sale_qty>
                    <product_type>
                        <flexprice/>
                    </product_type>
                </max_sale_qty>
                <is_in_stock>
                    <product_type>
                        <flexprice/>
                    </product_type>
                </is_in_stock>
                <notify_stock_qty>
                    <product_type>
                        <flexprice/>
                    </product_type>
                </notify_stock_qty>
                <manage_stock>
                    <product_type>
                        <flexprice/>
                    </product_type>
                </manage_stock>
            </catalog_product_dataflow>
        </fieldsets>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Gka_Flexprice before="Mage_Adminhtml">Gka_Flexprice_Adminhtml</Gka_Flexprice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
