<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <Dimdi_Import>
            <version>0.1.0</version>
        </Dimdi_Import>
    </modules>
    <frontend>
        <routers>
            <import>
                <use>standard</use>
                <args>
                    <module>Dimdi_Import</module>
                    <frontName>import</frontName>
                </args>
            </import>
        </routers>
        <layout>
            <updates>
                <import>
                    <file>import.xml</file>
                </import>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<import>
				<use>admin</use>
				<args>
					<module>Dimdi_Import</module>
					<frontName>import</frontName>
				</args>
			</import>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<import module="import">
				<title>Import</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="import">
						<title>os Commerce</title>
						<sort_order>0</sort_order>
						<action>import/adminhtml_import</action>
					</items>
				</children>
			</import>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Dimdi_Import>
							<title>Import Module</title>
							<sort_order>10</sort_order>
						</Dimdi_Import>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<import>
					<file>import.xml</file>
				</import>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <dimdiimport>
                <class>Dimdi_Import_Model</class>
                <resourceModel>import_mysql4</resourceModel>
            </dimdiimport>
            <import_mysql4>
                <class>Dimdi_Import_Model_Mysql4</class>
                <entities>
                    <import>
                        <table>import</table>
                    </import>
                </entities>
            </import_mysql4>
        </models>
        <resources>
        	<dimdiimport_setup>
                <setup>
                    <module>Dimdi_Import</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dimdiimport_setup>
            <import_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </import_write>
            <import_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </import_read>
        </resources>
        <blocks>
            <import>
                <class>Dimdi_Import_Block</class>
            </import>
        </blocks>
        <helpers>
            <import>
                <class>Dimdi_Import_Helper</class>
            </import>
        </helpers>
    </global>
</config>