.col-main                                {background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);}
.wrapper                                 {background: url("../images/tuc_bg_banner.gif") repeat-x;}
.header-container                        {background: url("../images/tuc_bg_banner.gif") no-repeat 0 2px;}

.buttons-set a.egovsbutton               {background: url("../images/tuc_green.gif") repeat-x scroll 0 0 #177665;}
a.egovsbutton                            {background: url("../images/tuc_green.gif") repeat-x #177665 !important;}
button.button                            {background: url("../images/tuc_green.gif") repeat-x scroll 0 0 #177665;}
button.form-button-alt                   {background: url("../images/tuc_green.gif") repeat-x scroll 0 0 #177665;}
div.col-main ul.links a                  {background: url("../images/tuc_green.gif") no-repeat 0 2px;}
.block .block-content a                  {background: url("../images/tuc_green.gif") no-repeat scroll -5px 3px transparent;}
.block .block-content .parent a          {background: url("../images/tuc_green.gif") no-repeat scroll -5px 3px transparent;}
.products-list .product-descriptor a     {background: url("../images/tuc_green.gif") no-repeat left;}
ul.add-to-links a                        {background: url("../images/tuc_green.gif") no-repeat left;}
.agree-content a                         {background: url("../images/tuc_green.gif") no-repeat scroll 0 -1px transparent;}
.sitemapegovs a                          {background: url("../images/tuc_green.gif") no-repeat scroll 0 -1px transparent;}

.block .block-content .active > a        {background: url("../images/tuc_green1.gif") no-repeat scroll -5px 2px transparent !important;}
.block .block-content ul li.current span {background: url("../images/tuc_green1.gif") no-repeat scroll -5px 3px transparent;}

#content_fix                             {background: url("../images/contentfix_hintergrund.png") repeat-y;}
#tuc_unishop_default                     {background: url("../images/tuc_logo_default.png") no-repeat;}
.breadcrumbs_arrow                       {background: url("../images/tuc_nav.png");}
#logo                                    {background: url("../images/tuc_logo.png") no-repeat 0 0 transparent;}
#logo_right                              {background: url("../images/tuc_nhsg.jpg") no-repeat transparent;}
.logo_facebook                           {background: url("../images/tuc_facebook.png") no-repeat transparent;}
.logo_twitter                            {background: url("../images/tuc_twitter.png") no-repeat transparent;}
.logo_xing                               {background: url("../images/tuc_xing.png") no-repeat transparent;}
.logo_youtube                            {background: url("../images/tuc_youtube.png") no-repeat transparent;}
