<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_Isolation>
            <version>0.1.2</version>
        </Egovs_Isolation>
    </modules>

    <adminhtml>
        <layout>
            <updates>
                <isolation>
                    <file>egovs_isolation.xml</file>
                </isolation>
            </updates>
        </layout>
        <translate>
            <modules>
                <Egovs_Isolation>
                    <files>
                        <default>Egovs_Isolation.csv</default>
                    </files>
                </Egovs_Isolation>
            </modules>
        </translate>
        <events>
            <admin_user_save_after>
                <observers>
                    <isolation_save_observer>
                        <class>isolation/observer_user</class>
                        <method>onUserSave</method>
                    </isolation_save_observer>
                </observers>
            </admin_user_save_after>
            <admin_user_load_after>
                <observers>
                    <isolation_load_observer>
                        <class>isolation/observer_user</class>
                        <method>onUserLoad</method>
                    </isolation_load_observer>
                </observers>
            </admin_user_load_after>
            <customer_customer_collection_use_before>
                <observers>
                    <isolation_customercollectionload_observer>
                        <class>isolation/observer_customer</class>
                        <method>onCustomerCollectionLoad</method>
                    </isolation_customercollectionload_observer>
                </observers>
            </customer_customer_collection_use_before>
            <customer_load_after>
                <observers>
                    <isolation_customerload_observer>
                        <class>isolation/observer_customer</class>
                        <method>onCustomerLoad</method>
                    </isolation_customerload_observer>
                </observers>
            </customer_load_after>
            <catalog_product_edit_prepare_layout>
                <observers>
                    <isolation_productedit_observer>
                        <class>isolation/observer_product</class>
                        <method>onProductEditLayout</method>
                    </isolation_productedit_observer>
                </observers>
            </catalog_product_edit_prepare_layout>
            <catalog_product_save_before>
                <observers>
                    <isolation_productnew_observer>
                        <class>isolation/observer_product</class>
                        <method>onProductNew</method>
                    </isolation_productnew_observer>
                </observers>
            </catalog_product_save_before>

            <catalog_product_collection_load_before>
                <observers>
                    <isolation_productcollectionload_observer>
                        <class>isolation/observer_product</class>
                        <method>onProductCollectionLoad</method>
                    </isolation_productcollectionload_observer>
                </observers>
            </catalog_product_collection_load_before>
            <catalog_product_load_after>
                <observers>
                    <isolation_productload_observer>
                        <class>isolation/observer_product</class>
                        <method>onProductLoad</method>
                    </isolation_productload_observer>
                </observers>
            </catalog_product_load_after>

            <catalog_category_collection_load_before>
                <observers>
                    <isolation_categorycollectionload_observer>
                        <class>isolation/observer_category</class>
                        <method>onCategoryCollectionLoad</method>
                    </isolation_categorycollectionload_observer>
                </observers>
            </catalog_category_collection_load_before>
            <adminhtml_catalog_category_tree_can_not_add_root_category>
                <observers>
                    <isolation_categorycollectionload_observer>
                        <class>isolation/observer_category</class>
                        <method>onRootCategoryEdit</method>
                    </isolation_categorycollectionload_observer>
                </observers>
            </adminhtml_catalog_category_tree_can_not_add_root_category>

            <sales_order_grid_collection_load_before>
                <observers>
                    <isolation_ordercollectionload_observer>
                        <class>isolation/observer_order</class>
                        <method>onOrderCollectionLoad</method>
                    </isolation_ordercollectionload_observer>
                </observers>
            </sales_order_grid_collection_load_before>
            <sales_quote_item_collection_load_before>
                <observers>
                    <isolation_quotecollectionload_observer>
                        <class>isolation/observer_order</class>
                        <method>onQuoteItemCollectionLoad</method>
                    </isolation_quotecollectionload_observer>
                </observers>
            </sales_quote_item_collection_load_before>
            <sales_order_load_after>
                <observers>
                    <isolation_orderload_observer>
                        <class>isolation/observer_order</class>
                        <method>onOrderLoad</method>
                    </isolation_orderload_observer>
                </observers>
            </sales_order_load_after>
            <sales_order_invoice_collection_load_before>
                <observers>
                    <isolation_orderinvoicecollectionload_observer>
                        <class>isolation/observer_order</class>
                        <method>onOrderInvoiceCollectionLoad</method>
                    </isolation_orderinvoicecollectionload_observer>
                </observers>
            </sales_order_invoice_collection_load_before>
            <sales_order_invoice_grid_collection_load_before>
                <observers>
                    <isolation_orderinvoicecollectionload_observer>
                        <class>isolation/observer_order</class>
                        <method>onOrderInvoiceGridCollectionLoad</method>
                    </isolation_orderinvoicecollectionload_observer>
                </observers>
            </sales_order_invoice_grid_collection_load_before>
            <sales_order_invoice_load_after>
                <observers>
                    <isolation_orderinvoiceload_observer>
                        <class>isolation/observer_order</class>
                        <method>onOrderInvoiceLoad</method>
                    </isolation_orderinvoiceload_observer>
                </observers>
            </sales_order_invoice_load_after>
            <sales_order_shipment_grid_collection_load_before>
                <observers>
                    <isolation_ordershipmentcollectionload_observer>
                        <class>isolation/observer_order</class>
                        <method>onOrderShipmentCollectionLoad</method>
                    </isolation_ordershipmentcollectionload_observer>
                </observers>
            </sales_order_shipment_grid_collection_load_before>
            <sales_order_shipment_load_after>
                <observers>
                    <isolation_ordershipmentload_observer>
                        <class>isolation/observer_order</class>
                        <method>onOrderShipmentLoad</method>
                    </isolation_ordershipmentload_observer>
                </observers>
            </sales_order_shipment_load_after>
            <sales_order_creditmemo_grid_collection_load_before>
                <observers>
                    <isolation_ordercollectionload_observer>
                        <class>isolation/observer_order</class>
                        <method>onOrderCreditmemoCollectionLoad</method>
                    </isolation_ordercollectionload_observer>
                </observers>
            </sales_order_creditmemo_grid_collection_load_before>
            <sales_order_creditmemo_load_after>
                <observers>
                    <isolation_ordercollectionload_observer>
                        <class>isolation/observer_order</class>
                        <method>onOrderCreditmemoLoad</method>
                    </isolation_ordercollectionload_observer>
                </observers>
            </sales_order_creditmemo_load_after>
            <wishlist_item_collection_load_before>
                <observers>
                    <isolation_wishlistcollectionload_observer>
                        <class>isolation/observer_customer</class>
                        <method>onCustomerWishlistLoad</method>
                    </isolation_wishlistcollectionload_observer>
                </observers>
            </wishlist_item_collection_load_before>

            <extstock_collection_load_before>
                <observers>
                    <isolation_wishlistcollectionload_observer>
                        <class>isolation/observer_extstock</class>
                        <method>onExtstockCollectionLoad</method>
                    </isolation_wishlistcollectionload_observer>
                </observers>
            </extstock_collection_load_before>
            <extstock_list_collection_load_before>
                <observers>
                    <isolation_wishlistcollectionload_observer>
                        <class>isolation/observer_extstock</class>
                        <method>onExtstockListCollectionLoad</method>
                    </isolation_wishlistcollectionload_observer>
                </observers>
            </extstock_list_collection_load_before>
            <extstock_overview_fetch_before>
                <observers>
                    <isolation_wishlistcollectionload_observer>
                        <class>isolation/observer_extstock</class>
                        <method>onOverviewFetchBefore</method>
                    </isolation_wishlistcollectionload_observer>
                </observers>
            </extstock_overview_fetch_before>
            <egovs_adminhtlm_block_stores_load>
                <observers>
                    <isolation_extnewsletterload_observer>
                        <class>isolation/observer_extnewsletter</class>
                        <method>onStoreBlockLoad</method>
                    </isolation_extnewsletterload_observer>
                </observers>
            </egovs_adminhtlm_block_stores_load>
            <extnewsletter_issue_collection_load_before>
                <observers>
                    <isolation_extnewsletterload_observer>
                        <class>isolation/observer_extnewsletter</class>
                        <method>onIssueCollectionLoad</method>
                    </isolation_extnewsletterload_observer>
                </observers>
            </extnewsletter_issue_collection_load_before>
            <extnewsletter_issue_load_after>
                <observers>
                    <isolation_extnewsletterload_observer>
                        <class>isolation/observer_extnewsletter</class>
                        <method>onIssueLoad</method>
                    </isolation_extnewsletterload_observer>
                </observers>
            </extnewsletter_issue_load_after>

            <newsletter_queue_collection_load_before>
                <observers>
                    <isolation_extnewsletterload_observer>
                        <class>isolation/observer_extnewsletter</class>
                        <method>onQueueCollectionLoad</method>
                    </isolation_extnewsletterload_observer>
                </observers>
            </newsletter_queue_collection_load_before>

            <newsletter_subscriber_collection_load_before>
                <observers>
                    <isolation_newsletterload_observer>
                        <class>isolation/observer_extnewsletter</class>
                        <method>onSubscriberCollectionLoad</method>
                    </isolation_newsletterload_observer>
                </observers>
            </newsletter_subscriber_collection_load_before>
            <report_order_collection_load_before>
                <observers>
                    <report_collectionload_observer>
                        <class>isolation/observer_report</class>
                        <method>onCollectionLoad</method>
                    </report_collectionload_observer>
                </observers>
            </report_order_collection_load_before>

            <report_customer_collection_load_before>
                <observers>
                    <report_customer_collectionload_observer>
                        <class>isolation/observer_report</class>
                        <method>onCustomerCollectionLoad</method>
                    </report_customer_collectionload_observer>
                </observers>
            </report_customer_collection_load_before>
            <sales_report_bestseller_collection_load_before>
                <observers>
                    <report_bestseller_collectionload_observer>
                        <class>isolation/observer_report</class>
                        <method>onBestsellerCollectionLoad</method>
                    </report_bestseller_collectionload_observer>
                </observers>
            </sales_report_bestseller_collection_load_before>
            <sales_order_collection_load_before>
                <observers>
                    <sales_order_collectionload_observer>
                        <class>isolation/observer_report</class>
                        <method>onSalesOrderCollectionLoad</method>
                    </sales_order_collectionload_observer>
                </observers>
            </sales_order_collection_load_before>
            <report_collection_add_store_filter>
                <observers>
                    <report_collection_add_store_filter_observer>
                        <class>isolation/observer_report</class>
                        <method>onReportCollectionAddStoreFilter</method>
                    </report_collection_add_store_filter_observer>
                </observers>
            </report_collection_add_store_filter>
            <sales_report_eventbundle_options_collection_load_before>
                <observers>
                    <report_eventbundle_options_collectionload_observer>
                        <class>isolation/observer_report</class>
                        <method>onEventBundleOptionsCollectionLoad</method>
                    </report_eventbundle_options_collectionload_observer>
                </observers>
            </sales_report_eventbundle_options_collection_load_before>
            <framecontract_contract_collection_load_before>
                <observers>
                    <framecontract_contract_collection_load_before_observer>
                        <class>isolation/observer_framecontract</class>
                        <method>onContractCollectionLoad</method>
                    </framecontract_contract_collection_load_before_observer>
                </observers>
            </framecontract_contract_collection_load_before>
            <framecontract_vendor_collection_load_before>
                <observers>
                    <ramecontract_vendor_collectionload_observer>
                        <class>isolation/observer_framecontract</class>
                        <method>onVendorCollectionLoad</method>
                    </ramecontract_vendor_collectionload_observer>
                </observers>
            </framecontract_vendor_collection_load_before>
            <framecontract_los_collection_load_before>
                <observers>
                    <framecontract_los_collection_load_before_observer>
                        <class>isolation/observer_framecontract</class>
                        <method>onLosCollectionLoad</method>
                    </framecontract_los_collection_load_before_observer>
                </observers>
            </framecontract_los_collection_load_before>
            <exportorder_order_load_after>
                <observers>
                    <isolation_orderload_observer>
                        <class>isolation/observer_framecontract</class>
                        <method>onOrderExportLoad</method>
                    </isolation_orderload_observer>
                </observers>
            </exportorder_order_load_after>
            <framecontract_vendor_load_after>
                <observers>
                    <isolation_framecontract_vendor_load_after_observer>
                        <class>isolation/observer_framecontract</class>
                        <method>onVendorLoad</method>
                    </isolation_framecontract_vendor_load_after_observer>
                </observers>
            </framecontract_vendor_load_after>
            <framecontract_contract_load_after>
                <observers>
                    <isolation_framecontract_contract_load_after_observer>
                        <class>isolation/observer_framecontract</class>
                        <method>onContractLoad</method>
                    </isolation_framecontract_contract_load_after_observer>
                </observers>
            </framecontract_contract_load_after>

            <cms_page_collection_load_before>
                <observers>
                    <cms_page_collectionload_observer>
                        <class>isolation/observer_cms</class>
                        <method>onPageCollectionLoad</method>
                    </cms_page_collectionload_observer>
                </observers>
            </cms_page_collection_load_before>
            <cms_block_collection_load_before>
                <observers>
                    <cms_block_collectionload_observer>
                        <class>isolation/observer_cms</class>
                        <method>onBlockCollectionLoad</method>
                    </cms_block_collectionload_observer>
                </observers>
            </cms_block_collection_load_before>
            <cms_navi_collection_load_before>
                <observers>
                    <cms_navi_collectionload_observer>
                        <class>isolation/observer_cms</class>
                        <method>onNaviCollectionLoad</method>
                    </cms_navi_collectionload_observer>
                </observers>
            </cms_navi_collection_load_before>
            <cms_navi_load_after>
                <observers>
                    <cms_navi_load_observer>
                        <class>isolation/observer_cms</class>
                        <method>onNaviLoad</method>
                    </cms_navi_load_observer>
                </observers>
            </cms_navi_load_after>
            <infoletter_queue_collection_load_before>
                <observers>
                    <infoletter_collectionload_observer>
                        <class>isolation/observer_infoletter</class>
                        <method>onInfoletterCollectionLoad</method>
                    </infoletter_collectionload_observer>
                </observers>
            </infoletter_queue_collection_load_before>
            <infoletter_queue_load_after>
                <observers>
                    <infoletter_queue_load_after_observer>
                        <class>isolation/observer_infoletter</class>
                        <method>onInfoletterLoad</method>
                    </infoletter_queue_load_after_observer>
                </observers>
            </infoletter_queue_load_after>


        </events>
    </adminhtml>

    <global>
        <models>
            <isolation>
                <class>Egovs_Isolation_Model</class>
                <resourceModel>isolation_mysql4</resourceModel>
            </isolation>
            <isolation_mysql4>
                <class>Egovs_Isolation_Model_Mysql4</class>
                <entities>
                    <store_user_relation>
                        <table>isolation_store_user_relation</table>
                    </store_user_relation>
                </entities>
            </isolation_mysql4>
            <!--
            <catalog_resource>
            <rewrite>
            <product_collection>Egovs_Isolation_Model_Resource_Catalog_Product_Collection</product_collection>
            </rewrite>
            </catalog_resource>
            -->
            <adminhtml>
                <rewrite>
                    <system_store>Egovs_Isolation_Model_System_Store</system_store>
                </rewrite>
            </adminhtml>
        </models>
        <resources>
            <egovs_isolation_setup>
                <setup>
                    <module>Egovs_Isolation</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </egovs_isolation_setup>
            <isolation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </isolation_write>
            <isolation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </isolation_read>
        </resources>
        <blocks>
            <isolation>
                <class>Egovs_Isolation_Block</class>
            </isolation>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_websites>Egovs_Isolation_Block_Adminhtml_Catalog_Product_Edit_Tab_Websites</catalog_product_edit_tab_websites>
                    <catalog_product_edit_tab_settings>Egovs_Isolation_Block_Adminhtml_Catalog_Product_Edit_Tab_Settings</catalog_product_edit_tab_settings>
                    <permissions_user_edit_tabs>Egovs_Isolation_Block_Adminhtml_Permissions_User_Edit_Tabs</permissions_user_edit_tabs>
                    <store_switcher>Egovs_Isolation_Block_Adminhtml_Store_Switcher</store_switcher>
                    <sales_order_create_store_select>Egovs_Isolation_Block_Adminhtml_Sales_Order_Create_Store_Select</sales_order_create_store_select>
                    <newsletter_template_edit_form>Egovs_Isolation_Block_Adminhtml_Newsletter_Template_Edit_Form</newsletter_template_edit_form>
                    <newsletter_template_grid>Egovs_Isolation_Block_Adminhtml_Newsletter_Template_Grid</newsletter_template_grid>
                    <customer_edit_tab_view_accordion>Egovs_Isolation_Block_Adminhtml_Customer_Edit_Tab_View_Accordion</customer_edit_tab_view_accordion>
                    <customer_edit_tab_carts>Egovs_Isolation_Block_Adminhtml_Customer_Edit_Tab_Carts</customer_edit_tab_carts>
                    <widget_grid_column_filter_store>Egovs_Isolation_Block_Adminhtml_Widget_Grid_Column_Filter_Store</widget_grid_column_filter_store>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <isolation>
                <class>Egovs_Isolation_Helper</class>
            </isolation>
        </helpers>
        <fieldsets>
            <sales_convert_quote_item>
                <store_group>
                    <to_order_item>*</to_order_item>
                </store_group>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <store_group>
                    <to_quote_item>*</to_quote_item>
                    <to_invoice_item>*</to_invoice_item>
                </store_group>
            </sales_convert_order_item>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <ibewi_maszeinheit/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <events>
            <sales_quote_product_add_after>
                <observers>
                    <sales_quote_item_set_product>
                        <class>isolation/observer_order</class>
                        <method>onQuoteItemSetProduct</method>
                    </sales_quote_item_set_product>
                </observers>
            </sales_quote_product_add_after>
        </events>
    </global>
    <default>
        <storeisolation>
            <filter>
                <show_order_within_customer_store>1</show_order_within_customer_store>
           </filter>
        </storeisolation>
    </default>
</config>
