<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @package    Egovs_Admin
 * @copyright  Copyright (c) 2014 B3 IT Systeme GmbH
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <B3it_Ids>
            <version>0.0.2.0</version>
        </B3it_Ids>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <B3it_Ids>
                    <files>
                        <default>B3it_Ids.csv</default>
                    </files>
                </B3it_Ids>
            </modules>
        </translate>
        <menu>
            <system >
                <children>
                <b3ids>
                <title>B3it Ids</title>
                <sort_order>50</sort_order>
                <children>
                    <b3itids_dos_url module="b3it_ids">
                        <title>Dos Url</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/ids_dos_url/index</action>
                    </b3itids_dos_url>
                </children>
                </b3ids>
                </children>
            </system>
        </menu>
        <layout>
            <updates>
                <b3itids>
                    <file>b3it/ids.xml</file>
                </b3itids>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <B3it_Ids_Adminhtml after="Mage_Adminhtml">B3it_Ids_Adminhtml</B3it_Ids_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
           <events>
            <controller_front_init_before>
                <observers>
                    <B3it_Ids_Observer>
                        <type>singleton</type>
                        <class>b3it_ids/observer</class>
                        <method>onFrontControllerInitBefore</method>
                    </B3it_Ids_Observer>
                </observers>
            </controller_front_init_before>
       
        </events>
        <blocks>
            <b3it_ids>
                <class>B3it_Ids_Block</class>
            </b3it_ids>
        </blocks>
        <models>
            <b3it_ids>
                <class>B3it_Ids_Model</class>
                <resourceModel>b3it_ids_resource</resourceModel>
            </b3it_ids>
            <b3it_ids_resource>
				 <class>B3it_Ids_Model_Resource</class>
				 <entities>
					  <ids_events>
							<table>ids_events</table>
					  </ids_events> 
					  <ids_events_filters>
					  	<table>ids_events_filters</table>
					  </ids_events_filters>
                     <dos_url>
                         <table>b3it_ids_dos_url</table>
                     </dos_url>
                     <dos_visit>
                         <table>b3it_ids_dos_visit</table>
                     </dos_visit>
				 </entities>
			</b3it_ids_resource>
        </models>
        	
        <resources>
            <b3itids_setup>
                <setup>
                    <module>B3it_Ids</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </b3itids_setup>
        </resources>
        <helpers>
            <b3it_ids>
                <class>B3it_Ids_Helper</class>
            </b3it_ids>
        </helpers>
    </global>
	<default>
	    	<admin>
	    		<ids>
	    			<enable_ids>0</enable_ids>
	    			<threshold_log>3</threshold_log>
	    			<threshold_email>9</threshold_email>
	    			<threshold_deny>16</threshold_deny>
	    			<die_on_deny>0</die_on_deny>
	    			<die_on_deny_message>A security problem has been detected, please contact the shop admin.</die_on_deny_message>
	    		</ids>
	    	</admin>
	</default>
</config>