<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <Stala_CustomerAddressBulks>
            <version>0.1.0</version>
            <depends>
            </depends>
        </Stala_CustomerAddressBulks>
    </modules>
    <global>
    	<blocks>
    		<adminhtml>
    			<rewrite>
    				<customer_edit_tab_addresses>Stala_CustomerAddressBulks_Block_Adminhtml_Customer_Edit_Tab_Addresses</customer_edit_tab_addresses>
    			</rewrite>
    		</adminhtml>
    	</blocks>
    	<resources></resources>
    	<helpers></helpers>
    </global>
    <adminhtml>
    	
    </adminhtml>
</config>