<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
	<modules>
		<Egovs_DebitPIN>
			<!-- declare module's version information for database updates -->
			<version>2.0.0.0</version>
		</Egovs_DebitPIN>
	</modules>
	<frontend>
	    <secure_url>
	       <debitpin>/debitpin/</debitpin>
	    </secure_url>
		<routers>
			<debitpin>
				<use>standard</use>
				<args>
					<module>Egovs_DebitPIN</module>
					<frontName>debitpin</frontName>
				</args>
			</debitpin>
		</routers>
		<layout>
			<updates>
				<debitpin>
					<file>egovs/debitpin.xml</file>
				</debitpin>
			</updates>
		</layout>
	</frontend>
	
	<global>
		<helpers>
			<debitpin>
				<class>Egovs_DebitPIN_Helper</class>
			</debitpin>
		</helpers>
		<!-- IMPORTANT: if you use your own namespace (i.e. CompanyName) you also 
			have to declare blocks group for new module. See topic: http://www.magentocommerce.com/boards/viewthread/22416/#t102732 -->
		<blocks>
			<debitpin>
				<class>Egovs_DebitPIN_Block</class>
			</debitpin>
		</blocks>
		<events>
		</events>
		<!-- declare model group for new module -->
		<models>
			<!-- model group alias to be used in Mage::getModel('debitpin/...') -->
			<debitpin>
				<!-- base class name for the model group -->
				<class>Egovs_DebitPIN_Model</class>
			</debitpin>
		</models>

		<!-- declare resource setup for new module -->
		<resources>
			<!-- resource identifier -->
			<debitpin_setup>
				<!-- specify that this resource is a setup resource and used for upgrades -->
				<setup>
					<!-- which module to look for install/upgrade files in -->
					<module>Egovs_DebitPIN</module>
				</setup>
				<!-- specify database connection for this resource -->
				<connection>
					<!-- do not create new connection, use predefined core setup connection -->
					<use>core_setup</use>
				</connection>
			</debitpin_setup>
			<debitpin_write>
				<connection>
					<use>core_write</use>
				</connection>
			</debitpin_write>
			<debitpin_read>
				<connection>
					<use>core_read</use>
				</connection>
			</debitpin_read>
		</resources>
	</global>

	<!-- declare default configuration values for this module -->
	<default>
		<!-- 'payment' configuration section (tab) -->
		<payment>
			<!-- 'newmodule' configuration group (fieldset) -->
			<debitpin>
				<!-- by default this payment method is inactive -->
				<active>0</active>
				<!-- model to handle logic for this payment method -->
				<model>debitpin/paymentLogic</model>
				<!-- order status for new orders paid by this payment method -->
				<order_status>pending</order_status>
				<!-- default title for payment checkout page and order view page -->
				<title>Lastschrift mit schriftlicher Einzugsermächtigung</title>
				<payment_action>authorize_capture</payment_action>
				<allowspecific>0</allowspecific>
			</debitpin>
		</payment>
	</default>
	
	<adminhtml>
		<translate>
			<modules>
				<Mage_Debit>
					<files>
						<default>Egovs_DebitPIN.csv</default>
					</files>
				</Mage_Debit>
			</modules>
		</translate>
	</adminhtml>
	
	<admin>
	</admin>
	
	<frontend>
		<translate>
			<modules>
				<Mage_Debit>
					<files>
						<default>Egovs_DebitPIN.csv</default>
					</files>
				</Mage_Debit>
			</modules>
		</translate>
	</frontend>
</config>