.wrapper                             { background: url("../images/dwd_head.gif") repeat-x; }
.page                                { background: url("../images/headerbild.jpg") no-repeat right 7px; }
#logo                                { background: url("../images/logo_ministerium.gif") no-repeat; }
.buttons-set a.egovsbutton           { background-image: none; }
a.egovsbutton                        { background-image: none; background-color:#2d4b9b !important; }
a.egovslistbutton                    { background-image: none; }
a.totalsorderbutton                  { background-image: none; }
button.button                        { background-image: none; }
button.form-button-alt               { background-image: none; }
div.col-main ul.links a              { background: url("../images/vanstrich.gif") no-repeat scroll 0 3px transparent; }
.block .block-content a              { background: url("../images/vanstrich.gif") no-repeat scroll 0 2px transparent; }
.block .block-content .active > a    { background: url("../images/vanstrich_active.gif") no-repeat scroll 0 1px transparent; }
.block .block-content li.current     { background: url("../images/vanstrich_active.gif") no-repeat scroll 0 1px transparent; }
.block .block-content .parent a      { background: url("../images/vanstrich.gif") no-repeat scroll 0 3px transparent; }
.products-list .product-descriptor a { background: url("../images/vanstrich.gif") no-repeat left; }
ul.add-to-links a                    { background: url("../images/vanstrich.gif") no-repeat left; }
.agree-content a                     { background: url("../images/vanstrich.gif") no-repeat scroll 0 3px transparent; }
.sitemapegovs a                      { background: url("../images/vanstrich.gif") no-repeat scroll 0 3px transparent; }