<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <TuChemnitz_Voucher>
            <version>0.0.1.2</version>
        </TuChemnitz_Voucher>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <TuChemnitz_Voucher>
                    <files>
                        <default>TuChemnitz_Voucher.csv</default>
                    </files>
                </TuChemnitz_Voucher>
            </modules>
        </translate>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <tucvoucher/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <layout>
            <updates>
                <tucvoucher>
                    <file>tuc_voucher.xml</file>
                </tucvoucher>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <tuc_voucher_observer>
                        <class>tucvoucher/product_observer</class>
                        <method>prepareProductSave</method>
                    </tuc_voucher_observer>
                </observers>
            </catalog_product_save_after>      
        </events>
        <!--
        		<acl>			
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
					  <system>
                            <children>
                                <config>
                                    <children>
                                        <tuc_voucher translate="title" module="tucvoucher">
                                            <title>Voucher</title>
                                        </tuc_voucher>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
        -->         
    </adminhtml>
    
    <global>
        <fieldsets>
            <configvirtual_sales_copy_order>
                <entity_id>
                    <to_configvirtual>order_id</to_configvirtual>
                </entity_id>
                <increment_id>
                    <to_configvirtual>order_increment_id</to_configvirtual>
                </increment_id>
                <created_at>
                    <to_configvirtual>*</to_configvirtual>
                </created_at>
                <updated_at>
                    <to_configvirtual>*</to_configvirtual>
                </updated_at>
                <customer_id>
                    <to_configvirtual>*</to_configvirtual>
                </customer_id>
            </configvirtual_sales_copy_order>
            <configvirtual_sales_copy_order_item>
                <item_id>
                    <to_configvirtual>order_item_id</to_configvirtual>
                </item_id>
                <name>
                    <to_configvirtual>product_name</to_configvirtual>
                </name>
                <sku>
                    <to_configvirtual>product_sku</to_configvirtual>
                </sku>
                <period>
                    <to_configvirtual>period</to_configvirtual>
                </period>
            </configvirtual_sales_copy_order_item>
        </fieldsets>
        
        <catalog>
            <product>
                <type>
                    <tucvoucher translate="label" module="tucvoucher">
                        <label>Voucher</label>
                        <model>tucvoucher/product_type_tucvoucher</model>
                        <composite>0</composite>
                        <price_model>tucvoucher/product_price</price_model>
                        <is_qty>1</is_qty>
                    </tucvoucher>
                    <configurable>
                        <allow_product_types>
                            <tucvoucher/>
                        </allow_product_types>
                    </configurable>
                </type>
                <grouped>
                    <allow_product_types>
                        <tucvoucher/>
                    </allow_product_types>
                </grouped>
            </product>
        </catalog>
        <blocks>
            <tucvoucher>
                <class>TuChemnitz_Voucher_Block</class>
            </tucvoucher>
        </blocks>
        <helpers>
            <tucvoucher>
                <class>TuChemnitz_Voucher_Helper</class>
            </tucvoucher>
        </helpers>
        <models>
            <tucvoucher>
                <class>TuChemnitz_Voucher_Model</class>
                <resourceModel>tucvoucher_resource</resourceModel>
            </tucvoucher>
            <tucvoucher_resource>
                <class>TuChemnitz_Voucher_Model_Resource</class>
                <entities>                    
                    <tan>
                        <table>tuc_voucher_tan</table>
                    </tan>
                    
                </entities>
            </tucvoucher_resource>
        </models>
        <resources>
            <tucvoucher_setup>
                <setup>
                    <module>TuChemnitz_Voucher</module>
                    <class>TuChemnitz_Voucher_Model_Resource_Setup</class>
                </setup>
            </tucvoucher_setup>
        </resources>
        <events>   
            <!--
            <checkout_type_onepage_save_order_after>
                <observers>
                    <checkout_tuc_tan>
                        <type>singleton</type>
                        <class>tucvoucher/product_observer</class>
                        <method>allocateTan</method>
                    </checkout_tuc_tan>
                </observers>
            </checkout_type_onepage_save_order_after>
            -->
            <sales_order_save_commit_after>
                <observers>
                    <invoice_pay_tuc_tan>
                        <type>singleton</type>
                        <class>tucvoucher/product_observer</class>
                        <method>sendVoucher</method>
                    </invoice_pay_tuc_tan>
                </observers>  
            </sales_order_save_commit_after> 
        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <tucvoucher module="tucvoucher">
                    <file>egovs/voucher.xml</file>
                </tucvoucher>
            </updates>
        </layout>
    </frontend>

    <admin>
        <fieldsets>
            <catalog_product_dataflow>
                <qty>
                    <product_type>
                        <tucvoucher/>
                    </product_type>
                </qty>
                <min_qty>
                    <product_type>
                        <tucvoucher/>
                    </product_type>
                </min_qty>
                <is_qty_decimal>
                    <product_type>
                        <tucvoucher/>
                    </product_type>
                </is_qty_decimal>
                <backorders>
                    <product_type>
                        <tucvoucher/>
                    </product_type>
                </backorders>
                <min_sale_qty>
                    <product_type>
                        <tucvoucher/>
                    </product_type>
                </min_sale_qty>
                <max_sale_qty>
                    <product_type>
                        <tucvoucher/>
                    </product_type>
                </max_sale_qty>
                <is_in_stock>
                    <product_type>
                        <tucvoucher/>
                    </product_type>
                </is_in_stock>
                <notify_stock_qty>
                    <product_type>
                        <tucvoucher/>
                    </product_type>
                </notify_stock_qty>
                <manage_stock>
                    <product_type>
                        <tucvoucher/>
                    </product_type>
                </manage_stock>
            </catalog_product_dataflow>
        </fieldsets>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <TuChemnitz_Voucher before="Mage_Adminhtml">TuChemnitz_Voucher_Adminhtml</TuChemnitz_Voucher>
                    </modules>
                </args>
            </adminhtml>            
        </routers>
    </admin>

    <crontab>
        <jobs>
            <tuc_voucher_disable>
                <schedule>
                    <cron_expr> 0 5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>tucvoucher/cron::disableOutdated</model>
                </run>
            </tuc_voucher_disable>
        </jobs>
    </crontab>
</config>