<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
        <config>
            <modules>
            <Egovs_Ldap>
                <version>0.1.0</version>
            </Egovs_Ldap>
        </modules>
        <global>
            <blocks>
                 <adminhtml>
                </adminhtml>
            </blocks>
            <models>
            <ldapauth>
            	<class>Egovs_Ldap_Model</class>
            </ldapauth>
            <admin>
            	<rewrite>
            		<user>Egovs_Ldap_Model_User</user>
            	</rewrite>
            </admin>
            </models>
            <resources>
            </resources>
        </global>
           <adminhtml>
            <acl>
                <resources>
                    <admin>
                    </admin>
                </resources>
            </acl>
            </adminhtml>
        </config>