<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Sid_PurchaseOrder>
            <!-- declare module's version information for database updates -->
            <version>0.1.0</version>
        </Sid_PurchaseOrder>
    </modules>
    
    <global>
        <!-- IMPORTANT: if you use your own namespace (i.e. CompanyName) you also have to declare blocks group for new module. See topic: http://www.magentocommerce.com/boards/viewthread/22416/#t102732 -->
        <blocks>
            <sidpurchaseorder>
                <class>Sid_PurchaseOrder_Block</class>
            </sidpurchaseorder>
        </blocks>
        
        <!-- declare model group for new module -->
        <models>
            <!-- model group alias to be used in Mage::getModel('sidpurchaseorder/...') -->
            <sidpurchaseorder>
                <!-- base class name for the model group -->
                <class>Sid_PurchaseOrder_Model</class>
            </sidpurchaseorder>
        </models>
        
        <helpers>
            <sidpurchaseorder>
                <class>Sid_PurchaseOrder_Helper</class>
            </sidpurchaseorder>
        </helpers>
        
        <!-- declare resource setup for new module -->
        <resources>
            <!-- resource identifier -->
            <sidpurchaseorder_setup>
                <!-- specify that this resource is a setup resource and used for upgrades -->
                <setup>
                    <!-- which module to look for install/upgrade files in -->
                    <module>Sid_PurchaseOrder</module>
                </setup>
                <!-- specify database connection for this resource -->
                <connection>
                    <!-- do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
            </sidpurchaseorder_setup>
            <sidpurchaseorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sidpurchaseorder_write>
            <sidpurchaseorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sidpurchaseorder_read>
        </resources>
    </global>
    
    <adminhtml>
        <translate>
            <modules>
                <Sid_PurchaseOrder>
                    <files>
                        <default>Sid_Purchaseorder.csv</default>
                    </files>
                </Sid_PurchaseOrder>
            </modules>
        </translate>
    </adminhtml>
    
    <frontend>
        <translate>
            <modules>
                <Sid_PurchaseOrder>
                    <files>
                        <default>Sid_Purchaseorder.csv</default>
                    </files>
                </Sid_PurchaseOrder>
            </modules>
        </translate>
    </frontend>
    
    <!-- declare default configuration values for this module -->
    <default>
        <!-- 'payment' configuration section (tab) -->
        <payment>
            <!-- 'sidpurchaseorder' configuration group (fieldset) -->
            <sidpurchaseorder>
                <!-- by default this payment method is inactive -->
                <active>0</active>
                <!-- model to handle logic for this payment method -->
                <model>sidpurchaseorder/purchaseorder</model>
                <!-- order status for new orders paid by this payment method -->
                <order_status>processing</order_status>
                <!-- default title for payment checkout page and order view page -->
                <title>SID Purchase Order</title>
                
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </sidpurchaseorder>
        </payment>
    </default>
</config>