<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_ProductFile>
            <version>2.0.2.0</version>
        </Egovs_ProductFile>
    </modules>
    <global>
        <blocks>
            <productfile>
                <class>Egovs_ProductFile_Block</class>
            </productfile>
        </blocks>
        <models>
            <productfile>
                <class>Egovs_ProductFile_Model</class>
            </productfile>
        </models>
        <resources>
            <productfile_setup>
                <setup>
                    <module>Egovs_ProductFile</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productfile_setup>
            <productfile_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productfile_write>
            <productfile_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productfile_read>
        </resources>
        <helpers>
            <productfile>
                <class>Egovs_ProductFile_Helper</class>
            </productfile>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <Egovs_ProductFile>
                    <files>
                        <default>Egovs_ProductFile.csv</default>
                    </files>
                </Egovs_ProductFile>
            </modules>
        </translate>
        <layout>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Egovs_ProductFile>
                    <files>
                        <default>Egovs_ProductFile.csv</default>
                    </files>
                </Egovs_ProductFile>
            </modules>
        </translate>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <ProductFile>
                        <type>singleton</type>
                        <class>Egovs_ProductFile_Model_Observer</class>
                        <method>saveTabData</method>
                    </ProductFile>
                </observers>
            </catalog_product_prepare_save>
        </events>
        <layout>
            <updates>
                <productfile>
                    <file>egovs_productfile.xml</file>
                </productfile>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <settings>
            <debug>0</debug>
            <productfile_image_size>
                <width>150</width>
            </productfile_image_size>
            <productfile_upload_directory>
                <!--  specifies upload directory in media -->
                <dir>egovs_productfile</dir>
            </productfile_upload_directory>
            <productfile_allowed_extensions>
                <ext1>pdf</ext1>
                <ext2>doc</ext2>
                <ext3>docx</ext3>
                <ext4>xls</ext4>
                <ext5>xlsx</ext5>
                <ext6>odt</ext6>
            </productfile_allowed_extensions>
            <productimage_allowed_extensions>
                <ext1>jpg</ext1>
                <ext2>jpeg</ext2>
                <ext3>gif</ext3>
                <ext4>png</ext4>
            </productimage_allowed_extensions>
        </settings>
    </default>
</config>