<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
<modules>
    <Egovs_Shipment>
        <version>0.1.0.0</version>
    </Egovs_Shipment>
</modules>
<default>
  <carriers>
   <freeshipmentbyprice>
       <active>1</active>
       <allowed_methods>freeshipment</allowed_methods>
       <methods>freeshipment</methods>
       <sallowspecific>0</sallowspecific>
       <model>egovsshipment/freeshipment</model>
       <name>freeshipmentbyprice</name>
       <price>0.00</price>
       <title>Versandkostenfrei</title>
       <specificerrmsg>Diese Versandmethode ist derzeit nicht verfügbar. Bitte kontaktieren Sie uns wenn sie diese Methode verwenden möchten.</specificerrmsg>
       <handling_type>F</handling_type>
       <rank>1</rank>
   </freeshipmentbyprice>
   <storepickup>
        <active>1</active>
        <allowed_methods>storepickup</allowed_methods>
        <methods>storepickup</methods>
        <sallowspecific>0</sallowspecific>
        <model>egovsshipment/pickup</model>
        <name>im Laden</name>
        <price>0.00</price>
        <title>Selbstabholung</title>
        <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
        <handling_type>F</handling_type>
        <!-- Nur Für sich alleine Anzeigen -->
        <rank>1000</rank>
    </storepickup>
    <bulkgoods>
        <active>1</active>
        <allowed_methods>bulkgoods</allowed_methods>
        <methods>bulkgoods</methods>
        <sallowspecific>0</sallowspecific>
        <model>egovsshipment/bulkgoods</model>
        <name></name>
        <price>0.00</price>
        <title>Sperrgut Versand</title>
        <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
        <handling_type>F</handling_type>
        <rank>1</rank>
    </bulkgoods>
  </carriers>
</default>
<global>
	<models>
		<egovsshipment>
			<class>Egovs_Shipment_Model</class>
			<resourceModel>egovsshipment_resource</resourceModel>
		</egovsshipment>
		<egovsshipment_resource>
			<class>Egovs_Shipment_Model_Resource</class>
			<entities>
				<bulkgoods>
					<table>egovs_shipment_bulkgoods</table>
				</bulkgoods>
			</entities>
		</egovsshipment_resource>
	</models>
	<resources>
		<egovs_shipment>
			<setup>
				<module>Egovs_Shipment</module>
				<class>Mage_Eav_Model_Entity_Setup</class>
			</setup>
		</egovs_shipment>

		<egovs_shipment>
			<setup>
				<module>Egovs_Shipment</module>
			</setup>
			<connection>
				<use>core_setup</use>
			</connection>
		</egovs_shipment>
	</resources>
        <sales>
	        <quote>
	            <item>
	                <product_attributes>
	                    <shipment_group/>
	                </product_attributes> 
	            </item>
	        </quote>
	    </sales>
    <helpers>
   		<freeshipmentbyprice>
       		<class>Egovs_Shipment_Helper</class>
   		</freeshipmentbyprice>
   		<egovsshipment>
            <class>Egovs_Shipment_Helper</class>
        </egovsshipment>
 	</helpers>
    <blocks>
        <egovsshipment>
            <class>Egovs_Shipment_Block</class>
        </egovsshipment> 
    </blocks>
</global>
<frontend>
       <translate>
            <modules>
                <Egovs_Shipment>
                    <files>
                        <default>Egovs_Shipment.csv</default>
                    </files>
                </Egovs_Shipment>
            </modules>
        </translate>
    <routers>
        <egovs_shipment>
            <use>standard</use>
            <args>
                <module>Egovs_Shipment</module>
                <frontName>egovs_shipment</frontName>
            </args>
        </egovs_shipment>
    </routers>	
</frontend>
<admin>
    <routers>
            <adminhtml> 
                <args>
                    <modules>
                        <Egovs_Shipment_Adminhtml after="Mage_Adminhtml">Egovs_Shipment_Adminhtml</Egovs_Shipment_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
</admin>
<adminhtml>
       <translate>
            <modules>
                <Egovs_Shipment>
                    <files>
                        <default>Egovs_Shipment.csv</default>
                    </files>
                </Egovs_Shipment>
            </modules>
        </translate>
</adminhtml>
    <default>
     	<carriers>
            <freeshipmentbyprice>
            	<amount>2</amount>
            	<ignorevirtual>0</ignorevirtual>
            	<active>false</active>
            </freeshipmentbyprice>
            <pickup>
            	<ignorevirtual>0</ignorevirtual>
            	<active>false</active>
            </pickup>
             <bulkgoods>
                <active>false</active>
            </bulkgoods>
    	</carriers>
    </default>
    <shipment_groups>
        <Bücher>Bücher</Bücher>
        <Normal>Normal</Normal>
        <Sperrgut>Sperrgut</Sperrgut>
    </shipment_groups>
</config>