<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <Sid_Haushalt>
            <version>0.1.1</version>
        </Sid_Haushalt>
    </modules>
    <admin>
 		<routers>
            <adminhtml>
                <args>
                    <modules>
                        <Sid_Haushalt_Adminhtml after="Mage_Adminhtml">Sid_Haushalt_Adminhtml</Sid_Haushalt_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <sidhaushalt>
                <use>standard</use>
                <args>
                    <module>Sid_Haushalt</module>
                    <frontName>sidhaushalt</frontName>
                </args>
            </sidhaushalt>
        </routers>
    </frontend>
    
    <adminhtml>
        <menu>
            <system>
                <children>
                    <convert>
                        <children>
                            <sidhaushalt module="sidhaushalt">
                                <title>Haushalt Export</title>
                                <sort_order>0</sort_order>
                                <action>adminhtml/sidhaushalt_haushalt</action>
                            </sidhaushalt>
                        </children>
                    </convert>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <convert>
                                    <children>
                                        <sidhaushalt translate="title" module="sidhaushalt">
                                            <title>Sidhaushalt</title>
                                        </sidhaushalt>
                                    </children>
                                </convert>
                                <!-- 
                                <config>
                                    <children>
                                        <sidhaushalt translate="title" module="sidhaushalt">
                                            <title>Sidhaushalt</title>
                                        </sidhaushalt>
                                    </children>
                                     
                                </config>
                                -->
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mach>
                    <file>sid/haushalt.xml</file>
                </mach>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bfr_Mach>
                    <files>
                        <default>Sid_Haushalt.csv</default>
                    </files>
                </Bfr_Mach>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <sidhaushalt>
                <class>Sid_Haushalt_Model</class>
                <resourceModel>sidhaushalt_mysql4</resourceModel>
            </sidhaushalt>
            <sidhaushalt_mysql4>
                <class>Sid_Haushalt_Model_Mysql4</class>
                <entities>
                    <order_info>
                        <table>sid_haushalt_order_info</table>
                    </order_info>
                    <lg04pool>
                        <table>sid_haushalt_lg04pol</table>
                    </lg04pool>
                </entities>
            </sidhaushalt_mysql4>
        </models>
        <resources>
            <sid_haushalt_setup>
                <setup>
                    <module>Sid_Haushalt</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sid_haushalt_setup>
            <haushalt_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </haushalt_write>
            <haushalt_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </haushalt_read>
        </resources>
        <blocks>
            <sidhaushalt>
                <class>Sid_Haushalt_Block</class>
            </sidhaushalt>
        </blocks>
        <helpers>
            <sidhaushalt>
                <class>Sid_Haushalt_Helper</class>
            </sidhaushalt>
        </helpers>
        <events>
           	<checkout_submit_all_after>
        		<observers>
        			<Sid_Haushalt>
        				<type>singleton</type>
        				<class>Sid_Haushalt_Model_Observer</class>
        				<method>onCreateOrder</method>
        			</Sid_Haushalt>
        		</observers>
        	</checkout_submit_all_after>
        </events>
    </global>
    <sid_haushaltsysteme>
    	<lg04>
    		<label>Agresso LG 04</label>
    		<type>lg04</type>
    		<model>sidhaushalt/export_type_lg04</model>
    		<params>
    		  <att_1_id>C1</att_1_id>
    		  <att_2_id>B0</att_2_id>
    		  <att_3_id>Z10</att_3_id>
    		  <att_6_id>NB</att_6_id>
    		  <att_7_id>Z20</att_7_id>
    		  <client>SID</client>
    		  <dim_6>SID</dim_6>
    		  <!-- dim_2 ohne 2 Stell. Jahreszahl am Ende eintragen -->
    		  <dim_2>99999999999999</dim_2>
    		  
    		  <accountable>FIKSIN</accountable>
    		  <increment_pool>
    		      <min>951600000</min>
    		      <max>959999999</max>
    		  </increment_pool>
    		</params>
    	</lg04>
    </sid_haushaltsysteme>
    <default>
        <sidhaushalt>
            <hhexport>
            <cron_expression>* 2 * * *</cron_expression>
            </hhexport>
        </sidhaushalt>
    </default>
</config>