<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
        <config>
            <modules>
            <Egovs_Downloadupdate>
                <version>0.1.0</version>
            </Egovs_Downloadupdate>
        </modules>
        <global>
            <blocks>
                 <downloadable>
                 	<rewrite>
                 		<adminhtml_catalog_product_edit_tab_downloadable_links>Egovs_Downloadupdate_Block_Adminhtml_Catalog_Product_Edit_Tab_Downloadable_Links</adminhtml_catalog_product_edit_tab_downloadable_links>
                 	</rewrite>
           		 </downloadable>	
            </blocks>
            <models>
            	<downloadupdate>
            		<class>Egovs_Downloadupdate_Model</class>
            	</downloadupdate>
            </models>
            <resources>
            </resources>
           <events>
        	<catalog_product_save_after>
        		<observers>	
        			<downloadupdate>
        				<type>singleton</type>
        				<class>Egovs_Downloadupdate_Model_Observer</class>
        				<method>onModelSaveAfter</method>
        			</downloadupdate>
        		</observers>
        	</catalog_product_save_after>
        </events>
        </global>
           <adminhtml>
               	<translate>
		            <modules>
		                <Egovs_Downloadupdate>
		                    <files>
		                        <default>Egovs_Downloadupdate.csv</default>
		                    </files>
		                </Egovs_Downloadupdate>
		            </modules>
        		</translate>
            </adminhtml>
        </config>