<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_ContextHelp>
            <version>0.0.0.1</version>
        </Egovs_ContextHelp>
    </modules>
    <global>
        <blocks>
            <contexthelp>
                <class>Egovs_ContextHelp_Block</class>
            </contexthelp>
        </blocks>
        <helpers>
            <contexthelp>
                <class>Egovs_ContextHelp_Helper</class>
            </contexthelp>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Egovs_ContextHelp_Adminhtml before="Mage_Adminhtml">Egovs_ContextHelp_Adminhtml</Egovs_ContextHelp_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <contexthelp>
                    <file>egovs/contexthelp.xml</file>
                </contexthelp>
            </updates>
        </layout>
        <translate>
            <modules>
                <Egovs_ContextHelp>
                    <files>
                        <default>Egovs/ContextHelp.csv</default>
                    </files>
                </Egovs_ContextHelp>
            </modules>
        </translate>
    </adminhtml>
</config>
