<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_ContextHelp>
            <version>0.0.0.1</version>
        </Egovs_ContextHelp>
    </modules>
    <global>
    	<models>
    		<contexthelp>
                <class>Egovs_ContextHelp_Model</class>
            </contexthelp>
    	</models>
        <blocks>
            <contexthelp>
                <class>Egovs_ContextHelp_Block</class>
            </contexthelp>
        </blocks>
        <helpers>
            <contexthelp>
                <class>Egovs_ContextHelp_Helper</class>
            </contexthelp>
        </helpers>
    </global>
    <adminhtml>
    	<events>
    		<widget_widget_instance_save_after>
    			<observers>
    				<egovs_contextHelp_observer>
    					<type>singleton</type>
                        <class>contexthelp/observer</class>
                        <method>onWidgetSaveAfter</method>
    				</egovs_contextHelp_observer>
    			</observers>
    		</widget_widget_instance_save_after>
    		<widget_widget_instance_delete_after>
    			<observers>
    				<egovs_contextHelp_observer>
    					<type>singleton</type>
                        <class>contexthelp/observer</class>
                        <method>onWidgetDeleteAfter</method>
    				</egovs_contextHelp_observer>
    			</observers>
    		</widget_widget_instance_delete_after>
    	</events>
        <layout>
            <updates>
                <contexthelp>
                    <file>egovs/contexthelp.xml</file>
                </contexthelp>
            </updates>
        </layout>
        <translate>
            <modules>
                <Egovs_ContextHelp>
                    <files>
                        <default>Egovs/ContextHelp.csv</default>
                    </files>
                </Egovs_ContextHelp>
            </modules>
        </translate>
    </adminhtml>
</config>
