<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Egovs_Search>
            <version>1.9.1.0</version>
        </Egovs_Search>
    </modules>
    <global>
        <models>
            <egovs_search>
                <class>Egovs_Search_Model</class>
            </egovs_search>
            <searchcatalog>
                <class>Egovs_Search_Catalog_Model</class>
            </searchcatalog>
            <egovssearch>
                <class>Egovs_Search_Model</class>
                <resourceModel>egovssearch_mysql4</resourceModel>
            </egovssearch>
            <egovssearch_mysql4>
                <class>Egovs_Search_Model_Mysql4</class>
                <entities>
                    <soundex>
                        <table>egovssearch_soundex</table>
                    </soundex>
                </entities>
            </egovssearch_mysql4>

            <catalogsearch_mysql4>
                <rewrite>
                    <fulltext_collection>Egovs_Search_Model_Mysql4_Fulltext_Collection</fulltext_collection>
                    <advanced_collection>Egovs_Search_Model_Mysql4_Advanced_Collection</advanced_collection>
                </rewrite>
            </catalogsearch_mysql4>
            <catalogsearch>
                <rewrite>
                    <advanced>Egovs_Search_Model_Advanced</advanced>
                    <layerx>Egovs_Search_Model_Layer</layerx>
                </rewrite>
            </catalogsearch>
        </models>
        <blocks>
            <searchcatalog>
                <class>Egovs_Search_Catalog_Block</class>
            </searchcatalog>
            <catalogsearch>
                <rewrite>
                    <layer>Egovs_Search_Catalog_Block_Layer_View</layer>
                </rewrite>
            </catalogsearch>
            <adminhtml>
            </adminhtml>
            <catalogsearch>
                <rewrite>
                    <result>Egovs_Search_Block_Result</result>
                    <advanced_result>Egovs_Search_Block_Advanced_Result</advanced_result>
                </rewrite>
            </catalogsearch>
        </blocks>
        <helpers>
            <egovssearch>
                <class>Egovs_Search_Helper</class>
            </egovssearch>
            <catalogsearch>
                <rewrite>
                    <data>Egovs_Search_Helper_Datasearch</data>
                </rewrite>
            </catalogsearch>
        </helpers>
        <events>
            <catalog_product_save_after>
                <observers>
                    <egovssearch>
                        <type>singleton</type>
                        <class>Egovs_Search_Model_Observer</class>
                        <method>onModelSaveAfter</method>
                    </egovssearch>
                </observers>
            </catalog_product_save_after>
        </events>
        <resources>
            <egovssearch_setup>
                <setup>
                    <module>Egovs_Search</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </egovssearch_setup>
            <egovssearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </egovssearch_write>
            <egovssearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </egovssearch_read>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <Egovs_Search>
                    <files>
                        <default>Egovs_Search.csv</default>
                    </files>
                </Egovs_Search>
            </modules>
        </translate>
        <layout>
            <updates>
                <egovssearch>
                    <file>egovs/search.xml</file>
                </egovssearch>
            </updates>
        </layout>
    </frontend>
</config>
