<?xml version="1.0"?>
<!DOCTYPE config>
<config>
    <modules>
        <Slpb_Base>
            <version>0.0.0.4</version>
        </Slpb_Base>
    </modules>
    <global>
        <resources>
            <slpbbase_setup>
                <setup>
                    <module>Slpb_Base</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slpbbase_setup>
        </resources>
        <models>
            <slpb_base>
                <class>Slpb_Base_Model</class>
            </slpb_base>
        </models>
    </global>
    <adminhtml>
        <events>
            <sales_order_item_collection_set_sales_order>
                <observers>
                    <slpb_base>
                        <model>slpb_base/observer</model>
                        <method>onSalesOrderItemCollectionSetSalesOrder</method>
                    </slpb_base>
                </observers>
            </sales_order_item_collection_set_sales_order>
            <sales_quote_item_collection_load_before>
                <observers>
                    <slpb_base>
                        <model>slpb_base/observer</model>
                        <method>onSalesItemCollectionLoadBefore</method>
                    </slpb_base>
                </observers>
            </sales_quote_item_collection_load_before>
            <sales_order_invoice_item_collection_load_before>
                <observers>
                    <slpb_base>
                        <model>slpb_base/observer</model>
                        <method>onSalesItemCollectionLoadBefore</method>
                    </slpb_base>
                </observers>
            </sales_order_invoice_item_collection_load_before>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <slpb_base>
                        <model>slpb_base/observer</model>
                        <method>onAdminhtmlSalesOrderCreateProcessData</method>
                    </slpb_base>
                </observers>
            </adminhtml_sales_order_create_process_data>
        </events>
    </adminhtml>
</config>