<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <sections>
        <cataloginventory translate="label" module="extstock">
            <groups>
                <lowstock_email translate="label">
                    <label>Low Stock E-Mail Settings</label>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                    	<lowstock_send_email translate="label">
                            <label>Send Low Stock E-Mail</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </lowstock_send_email>
                        <lowstock_email_sender translate="label">
                            <label>Sender Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </lowstock_email_sender>
                        <lowstock_email_address translate="label">
                            <label>Sender E-Mail Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </lowstock_email_address>
                        <lowstock_recipient_email_address translate="label">
                            <label>Recipient E-Mail Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </lowstock_recipient_email_address>
                        <lowstock_template translate="label">
                            <label>Low Stock Template</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>50</sort_order>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </lowstock_template>
                      
                     </fields>
                </lowstock_email>
         </groups>
        </cataloginventory>

    </sections>
</config>
