<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Dwd_ConfigurableVirtual>
            <version>0.0.1.4</version>
        </Dwd_ConfigurableVirtual>
    </modules>
    <adminhtml>
    	<menu>
			<sales>           
				<children>
					<credential module="configvirtual">
						<title>Credential</title>
						<sort_order>100</sort_order>
						<action>adminhtml/configvirtual_credential</action>
					</credential>
				</children>
			</sales>
		</menu>
        <translate>
            <modules>
                <Dwd_ConfigurableVirtual>
                    <files>
                        <default>Dwd_ConfigurableVirtual.csv</default>
                    </files>
                </Dwd_ConfigurableVirtual>
            </modules>
        </translate>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <configvirtual/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <layout>
            <updates>
                <configvirtual>
                    <file>dwd/configvirtual.xml</file>
                </configvirtual>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <configvirtual_observer>
                        <class>configvirtual/product_observer</class>
                        <method>prepareProductSave</method>
                    </configvirtual_observer>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_edit_action>
                <observers>
                    <configvirtual_observer>
                        <class>configvirtual/product_observer</class>
                        <method>prepareProductEdit</method>
                    </configvirtual_observer>
                </observers>
            </catalog_product_edit_action>
        </events>
        		<acl>			
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
					    <sales>
					        <children>
					            <credential translate="title" module="configvirtual">
					                <title>KVP Zugangsdaten</title>
					            </credential>
					        </children>
					    </sales>
					  <system>
                            <children>
                                <config>
                                    <children>
                                        <configvirtual translate="title" module="configvirtual">
                                            <title>Configuarable Virtual Product Section</title>
                                        </configvirtual>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
                   
    </adminhtml>
    
    <global>
        <fieldsets>
            <configvirtual_sales_copy_order>
                <entity_id>
                    <to_configvirtual>order_id</to_configvirtual>
                </entity_id>
                <increment_id>
                    <to_configvirtual>order_increment_id</to_configvirtual>
                </increment_id>
                <created_at>
                    <to_configvirtual>*</to_configvirtual>
                </created_at>
                <updated_at>
                    <to_configvirtual>*</to_configvirtual>
                </updated_at>
                <customer_id>
                    <to_configvirtual>*</to_configvirtual>
                </customer_id>
            </configvirtual_sales_copy_order>
            <configvirtual_sales_copy_order_item>
                <item_id>
                    <to_configvirtual>order_item_id</to_configvirtual>
                </item_id>
                <name>
                    <to_configvirtual>product_name</to_configvirtual>
                </name>
                <sku>
                    <to_configvirtual>product_sku</to_configvirtual>
                </sku>
                <period>
                    <to_configvirtual>period</to_configvirtual>
                </period>
            </configvirtual_sales_copy_order_item>
        </fieldsets>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <configvirtual_base_url/>
                        <always_create_new_credentials/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <catalog>
            <product>
                <type>
                    <configvirtual translate="label" module="configvirtual">
                        <label>Configurable Virtual Product</label>
                        <model>configvirtual/product_type_configurable</model>
                        <composite>0</composite>
                        <price_model>configvirtual/product_price</price_model>
                        <is_qty>1</is_qty>
                    </configvirtual>
                    <configurable>
                    <allow_product_types>
                        <configvirtual/>
                    </allow_product_types>
                </configurable>
                </type>
                
                
                <grouped>
                    <allow_product_types>
                        <configvirtual/>
                    </allow_product_types>
                </grouped>
            </product>
        </catalog>
        <blocks>
            <configvirtual>
                <class>Dwd_ConfigurableVirtual_Block</class>
            </configvirtual>
        </blocks>
        <helpers>
            <configvirtual>
                <class>Dwd_ConfigurableVirtual_Helper</class>
            </configvirtual>
        </helpers>
        <models>
            <configvirtual>
                <class>Dwd_ConfigurableVirtual_Model</class>
                <resourceModel>configvirtual_resource</resourceModel>
            </configvirtual>
            <configvirtual_resource>
                <class>Dwd_ConfigurableVirtual_Model_Resource</class>
                <entities>                    
                    <purchased>
                        <table>configvirtual_purchased</table>
                    </purchased>
                    <purchased_credential>
                        <table>configvirtual_purchased_credential</table>
                    </purchased_credential>
                    <purchased_item>
                        <table>configvirtual_purchased_item</table>
                    </purchased_item>
                </entities>
            </configvirtual_resource>
        </models>
        <resources>
            <configvirtual_setup>
                <setup>
                    <module>Dwd_ConfigurableVirtual</module>
                    <class>Dwd_ConfigurableVirtual_Model_Resource_Setup</class>
                </setup>
            </configvirtual_setup>
        </resources>
    <events>   
        <!--
            <sales_order_item_save_commit_after>
                <observers>
                    <configvirtual_product_observer>
                        <class>configvirtual/product_observer</class>
                        <method>saveOrderItem</method>
                    </configvirtual_product_observer>
                </observers>
            </sales_order_item_save_commit_after>  
            -->
            <sales_order_item_save_before>
              <observers>
                    <configvirtual_product_save_orderitem_before>
                        <class>configvirtual/product_observer</class>
                        <method>onBeforeSaveOrderItem</method>
                    </configvirtual_product_save_orderitem_before>
                </observers>
            
            </sales_order_item_save_before>
            <sales_quote_item_set_product>
                <observers>
                    <configvirtual_product_observer>
                        <class>configvirtual/product_observer</class>
                        <method>onSalesQuoteItemSetProduct</method>
                    </configvirtual_product_observer>
                </observers>
            </sales_quote_item_set_product>  
            <sales_order_save_after>
            <observers>
                <configvirtual_product_save_order>
                    <class>configvirtual/product_observer</class>
                    <method>onSalesOrderSaveAfter</method>
                </configvirtual_product_save_order>
            </observers>
        </sales_order_save_after>
        </events>
       
    </global>
    
    <frontend>
        <routers>
            <configvirtual>
                <use>standard</use>
                <args>
                    <module>Dwd_ConfigurableVirtual</module>
                    <frontName>configvirtual</frontName>
                </args>
            </configvirtual>
        </routers>
        <secure_url>
            <configvirtual>/configvirtual/customer/</configvirtual>
        </secure_url>
        <translate>
            <modules>
                <Dwd_ConfigurableVirtual>
                    <files>
                        <default>Dwd_ConfigurableVirtual.csv</default>
                    </files>
                </Dwd_ConfigurableVirtual>
            </modules>
        </translate>
        <layout>
            <updates>
                <configvirtual module="Dwd_ConfigurableVirtual">
                    <file>dwd/configvirtual.xml</file>
                </configvirtual>
            </updates>
        </layout>
        
    </frontend>
    
    <admin>
        <fieldsets>
            <catalog_product_dataflow>
                <qty>
                    <product_type>
                        <configvirtual/>
                    </product_type>
                </qty>
                <min_qty>
                    <product_type>
                        <configvirtual/>
                    </product_type>
                </min_qty>
                <is_qty_decimal>
                    <product_type>
                        <configvirtual/>
                    </product_type>
                </is_qty_decimal>
                <backorders>
                    <product_type>
                        <configvirtual/>
                    </product_type>
                </backorders>
                <min_sale_qty>
                    <product_type>
                        <configvirtual/>
                    </product_type>
                </min_sale_qty>
                <max_sale_qty>
                    <product_type>
                        <configvirtual/>
                    </product_type>
                </max_sale_qty>
                <is_in_stock>
                    <product_type>
                        <configvirtual/>
                    </product_type>
                </is_in_stock>
                <notify_stock_qty>
                    <product_type>
                        <configvirtual/>
                    </product_type>
                </notify_stock_qty>
                <manage_stock>
                    <product_type>
                        <configvirtual/>
                    </product_type>
                </manage_stock>
            </catalog_product_dataflow>
        </fieldsets>      
        <routers>
		<adminhtml>	
			<args>
				<modules>
					<Dwd_ConfigurableVirtual_Adminhtml after="Mage_Adminhtml">Dwd_ConfigurableVirtual_Adminhtml</Dwd_ConfigurableVirtual_Adminhtml>
				</modules>
			</args>
		</adminhtml>
	</routers>        
    </admin>
</config>