<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @package    
 * @copyright  Copyright (c) 2017 B3 IT Systeme GmbH
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <B3it_Modelhistory>
            <version>0.0.4.0</version>
        </B3it_Modelhistory>
    </modules>
    <default>
       <admin>
           <b3it_modelhistory_cron>
               <config_delete_days>100</config_delete_days>
               <model_delete_days>100</model_delete_days>
           </b3it_modelhistory_cron>
           <b3it_modelhistory_diff>
               <short_diff>1</short_diff>
           </b3it_modelhistory_diff>
       </admin>
    </default>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <B3it_Modelhistory_Adminhtml after="Mage_Adminhtml">B3it_Modelhistory_Adminhtml</B3it_Modelhistory_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <B3it_Modelhistory>
                    <files>
                        <default>B3it_Modelhistory.csv</default>
                    </files>
                </B3it_Modelhistory>
            </modules>
        </translate>
        <menu>
            <system>
                <children>
                    <tools translate="title">
                        <children>
                            <modelhistory translate="title" module="adminhtml">
                                <title>Change History</title>
                                <children>
                                    <modelhistory_model module="adminhtml">
                                        <title>Data</title>
                                        <sort_order>20</sort_order>
                                        <action>adminhtml/modelhistory_modelhistory</action>
                                    </modelhistory_model>
                                    <modelhistory_config module="adminhtml">
                                        <title>Config</title>
                                        <sort_order>20</sort_order>
                                        <action>adminhtml/modelhistory_config</action>
                                    </modelhistory_config>
                                </children>
                            </modelhistory>
                        </children>
                    </tools>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <tools>
                                    <children>
                                        <modelhistory translate="title">
                                            <title>Change History</title>
                                            <sort_order>10</sort_order>
                                            <children>
                                               <modelhistory_model module="adminhtml">
                                                    <title>Data</title>
                                                    <sort_order>20</sort_order>
                                                </modelhistory_model>
                                                <modelhistory_config module="adminhtml">
                                                    <title>Config</title>
                                                    <sort_order>20</sort_order>
                                                </modelhistory_config>
                                            </children>
                                        </modelhistory>
                                    </children>
                                </tools>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <model_delete_after>
                <observers>
                    <b3it_modelhistory_trace_observer>
                        <type>singleton</type>
                        <class>b3it_modelhistory/observer</class>
                        <method>doTrace</method>
                    </b3it_modelhistory_trace_observer>
                </observers>
            </model_delete_after>
            <model_save_after>
                <observers>
                    <b3it_modelhistory_trace_observer>
                        <type>singleton</type>
                        <class>b3it_modelhistory/observer</class>
                        <method>doTrace</method>
                    </b3it_modelhistory_trace_observer>
                </observers>
            </model_save_after>
            <core_config_data_save_commit_after>
                <observers>
                    <b3it_modelhistory_trace_observer>
                        <type>singleton</type>
                        <class>b3it_modelhistory/observer</class>
                        <method>doTrace</method>
                    </b3it_modelhistory_trace_observer>
                </observers>
            </core_config_data_save_commit_after>
            <b3it_modelhistory_model_save_diff>
                <observers>
                    <b3it_modelhistory_on_diff>
                        <type>singleton</type>
                        <class>b3it_modelhistory/observer</class>
                        <method>onDiff</method>
                    </b3it_modelhistory_on_diff>
                </observers>
            </b3it_modelhistory_model_save_diff>
        </events>
        <layout>
            <updates>
                <modelhistory>
                    <file>b3it/modelhistory.xml</file>
                </modelhistory>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <b3it_modelhistory>
                <class>B3it_Modelhistory_Model</class>
                <resourceModel>b3it_modelhistory_resource</resourceModel>
            </b3it_modelhistory>
            <b3it_modelhistory_resource>
                <class>B3it_Modelhistory_Model_Resource</class>
                <entities>
                    <history_entries>
                        <table>history_entries</table>
                    </history_entries>
                    <history_config>
                        <table>history_config</table>
                    </history_config>
                    <history_settings>
                        <table>history_settings</table>
                    </history_settings>
                </entities>
            </b3it_modelhistory_resource>
        </models>

        <resources>
            <b3itmodelhistory_setup>
                <setup>
                    <module>B3it_Modelhistory</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </b3itmodelhistory_setup>
        </resources>
        <blocks>
            <modelhistory>
                <class>B3it_Modelhistory_Block</class>
            </modelhistory>
        </blocks>
        <helpers>
            <b3it_modelhistory>
                <class>B3it_Modelhistory_Helper</class>
            </b3it_modelhistory>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <cleanup_config>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>b3it_modelhistory/config::cleanup</model>
                </run>
            </cleanup_config>
            <cleanup_model>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>b3it_modelhistory/history::cleanup</model>
                </run>
            </cleanup_model>
        </jobs>
    </crontab>
    <b3it_modelhistory>
        <blacklist>
            <names>
                <mage_eav_entity_store>Mage_Eav_Model_Entity_Store</mage_eav_entity_store>
                <mage_payment_info>Mage_Payment_Model_Info</mage_payment_info>
                <mage_downloadable_link>Mage_Downloadable_Model_Link_Purchased_Item</mage_downloadable_link>
                <mage_cataloginventory>Mage_CatalogInventory_Model_Stock_Item</mage_cataloginventory>
                <mage_catalogindex>Mage_CatalogIndex_Model_Catalog_Index_Flag</mage_catalogindex>
            </names>
            <matches>
                <b3it_modelhistory>B3it_ModelHistory_</b3it_modelhistory>
                <mage_sales>Mage_Sales_</mage_sales>
                <mage_index>Mage_Index_</mage_index>
                <egovs_aggreement>Egovs_Agreement_</egovs_aggreement>
                <mage_tax>Mage_Tax_</mage_tax>
            </matches>
        </blacklist>
        <ignore_attributes>
            <general>
                <class>Varien_Object</class>
                <attributes>
                    <updated_at>updated_at</updated_at>
                    <created_at>created_at</created_at>
                    <is_saved>is_saved</is_saved>
                    <form_key>form_key</form_key>
                    <cache_editable_attributes>_cache_editable_attributes</cache_editable_attributes>
                    <!-- Password stuff are for all possible objects -->
                    <current_password>current_password</current_password>
                    <password>password</password>
                    <new_password>new_password</new_password>
                    <password_confirmation>password_confirmation</password_confirmation>
                    <password_hash>password_hash</password_hash>
                </attributes>
                <matches>
                    <is_formated>_is_formated</is_formated>
                    <use_config>use_config_</use_config>
                </matches>
            </general>
            <mage_customer_customer>
                <class>Mage_Customer_Model_Customer</class>
                <attributes>
                </attributes>
            </mage_customer_customer>
            <mage_customer_address>
                <class>Mage_Customer_Model_Address</class>
                <attributes>
                    <customer_id>customer_id</customer_id>
                    <store_id>store_id</store_id>
                    <postcode_checked>postcode_checked</postcode_checked>
                    <is_default_base_address>is_default_base_address</is_default_base_address>
                    <is_default_billing>is_default_billing</is_default_billing>
                    <is_default_shipping>is_default_shipping</is_default_shipping>
                    <is_customer_save_transaction>is_customer_save_transaction</is_customer_save_transaction>
                    <post_index>post_index</post_index>
                </attributes>
            </mage_customer_address>
            <mage_catalog_product>
                <class>Mage_Catalog_Model_Product</class>
                <attributes>
                    <stock_data>stock_data</stock_data>
                    <stock_item>stock_item</stock_item>
                    <media_attributes>media_attributes</media_attributes>
                    <media_gallery>media_gallery/values</media_gallery>
                    <can_save_custom_options>can_save_custom_options</can_save_custom_options>
                    <website_ids>website_ids</website_ids>
                    <store_ids>store_ids</store_ids>
                    <is_changed_categories>is_changed_categories</is_changed_categories>
                </attributes>
            </mage_catalog_product>
            <mage_admin_user>
                <class>Mage_Admin_Model_User</class>
                <attributes>
                    <created>created</created>
                    <modified>modified</modified>
                    <logdate>logdate</logdate>
                    <lognum>lognum</lognum>
                    <page>page</page>
                    <limit>limit</limit>
                    <reload_acl_flag>reload_acl_flag</reload_acl_flag>
                    <roles>roles</roles>
                    <user_roles>user_roles</user_roles>
                </attributes>
            </mage_admin_user>
            <mage_admin_roles>
                <class>Mage_Admin_Model_Roles</class>
                <attributes>
                    <name>name</name>
                </attributes>
            </mage_admin_roles>
        </ignore_attributes>
        <default_attributes>
            <general>
                <class>Varien_Object</class>
                <attributes>
                    <parent_id>
                        <name>parent_id</name>
                        <value>0</value>
                    </parent_id>
                </attributes>
            </general>
            <mage_catalog_product>
                <class>Mage_Catalog_Model_Product</class>
                <attributes>
                </attributes>
            </mage_catalog_product>
        </default_attributes>
    </b3it_modelhistory>
</config>