<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<!--
/**
 * Magento
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @package    Egovs_Admin
 * @copyright  Copyright (c) 2014 B3 IT Systeme GmbH
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <sections>
        <admin>
            <groups>
                <b3it_modelhistory_cron translate="label">
                    <label>Modelhistory Cron Config</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>901</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <config_delete_days>
                            <label>Config Delete Days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-number</validate>
                            <comment>keep it empty to disable delete</comment>
                        </config_delete_days>
                        <model_delete_days>
                            <label>Model Delete Days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-number</validate>
                            <comment>keep it empty to disable delete</comment>
                        </model_delete_days>
                    </fields>
                </b3it_modelhistory_cron>
                <b3it_modelhistory_diff>
                    <label>Modelhistory Diff Config</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>902</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <short_diff>
                            <label>Short Model Diff</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Short Model Diff only for real change.</comment>
                        </short_diff>
                    </fields>
                </b3it_modelhistory_diff>
            </groups>
        </admin>
    </sections>
</config>