<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gka_VirtualPayId>
            <version>0.0.1.0</version>
        </Gka_VirtualPayId>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <Gka_VirtualPayId>
                    <files>
                        <default>Gka_VirtualPayId.csv</default>
                    </files>
                </Gka_VirtualPayId>
            </modules>
        </translate>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <virtualpayid/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <layout>
            <updates>
                <virtualpayid>
                    <file>tuc_voucher.xml</file>
                </virtualpayid>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <tuc_voucher_observer>
                        <class>virtualpayid/product_observer</class>
                        <method>prepareProductSave</method>
                    </tuc_voucher_observer>
                </observers>
            </catalog_product_save_after>      
        </events>
    </adminhtml>
    
    <global>
        <fieldsets>
            <configvirtual_sales_copy_order>
                <entity_id>
                    <to_configvirtual>order_id</to_configvirtual>
                </entity_id>
                <increment_id>
                    <to_configvirtual>order_increment_id</to_configvirtual>
                </increment_id>
                <created_at>
                    <to_configvirtual>*</to_configvirtual>
                </created_at>
                <updated_at>
                    <to_configvirtual>*</to_configvirtual>
                </updated_at>
                <customer_id>
                    <to_configvirtual>*</to_configvirtual>
                </customer_id>
            </configvirtual_sales_copy_order>
            <configvirtual_sales_copy_order_item>
                <item_id>
                    <to_configvirtual>order_item_id</to_configvirtual>
                </item_id>
                <name>
                    <to_configvirtual>product_name</to_configvirtual>
                </name>
                <sku>
                    <to_configvirtual>product_sku</to_configvirtual>
                </sku>
            </configvirtual_sales_copy_order_item>
        </fieldsets>
        
        <catalog>
            <product>
                <type>
                    <virtualpayid translate="label" module="virtualpayid">
                        <label>Virtual Payment Ident</label>
                        <model>virtualpayid/product_type_virtualpayid</model>
                        <composite>0</composite>
                        <price_model>virtualpayid/product_price</price_model>
                        <is_qty>1</is_qty>
                    </virtualpayid>
                    <configurable>
                        <allow_product_types>
                            <virtualpayid/>
                        </allow_product_types>
                    </configurable>
                </type>
                <grouped>
                    <allow_product_types>
                        <virtualpayid/>
                    </allow_product_types>
                </grouped>
            </product>
        </catalog>
        <blocks>
            <virtualpayid>
                <class>Gka_VirtualPayId_Block</class>
            </virtualpayid>
        </blocks>
        <helpers>
            <virtualpayid>
                <class>Gka_VirtualPayId_Helper</class>
            </virtualpayid>
        </helpers>
        <models>
            <virtualpayid>
                <class>Gka_VirtualPayId_Model</class>
                <resourceModel>virtualpayid_resource</resourceModel>
            </virtualpayid>
            <virtualpayid_resource>
                <class>Gka_VirtualPayId_Model_Resource</class>
                <entities>                    
                    <payid>
                        <table>gka_virtual_payid</table>
                    </payid>
                    
                </entities>
            </virtualpayid_resource>
        </models>
        <resources>
            <virtualpayid_setup>
                <setup>
                    <module>Gka_VirtualPayId</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </virtualpayid_setup>
        </resources>
        <events>   
            <!--
            <checkout_type_onepage_save_order_after>
                <observers>
                    <checkout_tuc_tan>
                        <type>singleton</type>
                        <class>virtualpayid/product_observer</class>
                        <method>allocateTan</method>
                    </checkout_tuc_tan>
                </observers>
            </checkout_type_onepage_save_order_after>
            -->
            <xsales_order_save_commit_after>
                <observers>
                    <invoice_pay_tuc_tan>
                        <type>singleton</type>
                        <class>virtualpayid/product_observer</class>
                        <method>sendVoucher</method>
                    </invoice_pay_tuc_tan>
                </observers>  
            </xsales_order_save_commit_after> 
        </events>
    </global>
    <frontend>
       <translate>
            <modules>
                <Gka_VirtualPayId>
                    <files>
                        <default>Gka_VirtualPayId.csv</default>
                    </files>
                </Gka_VirtualPayId>
            </modules>
        </translate>
        <layout>
            <updates>
                <virtualpayid module="Gka_VirtualPayId">
                    <file>gka/virtualpayid.xml</file>
                </virtualpayid>
            </updates>
        </layout>
        
    </frontend>
    <admin>
        <fieldsets>
            <catalog_product_dataflow>
                <qty>
                    <product_type>
                        <virtualpayid/>
                    </product_type>
                </qty>
                <min_qty>
                    <product_type>
                        <virtualpayid/>
                    </product_type>
                </min_qty>
                <is_qty_decimal>
                    <product_type>
                        <virtualpayid/>
                    </product_type>
                </is_qty_decimal>
                <backorders>
                    <product_type>
                        <virtualpayid/>
                    </product_type>
                </backorders>
                <min_sale_qty>
                    <product_type>
                        <virtualpayid/>
                    </product_type>
                </min_sale_qty>
                <max_sale_qty>
                    <product_type>
                        <virtualpayid/>
                    </product_type>
                </max_sale_qty>
                <is_in_stock>
                    <product_type>
                        <virtualpayid/>
                    </product_type>
                </is_in_stock>
                <notify_stock_qty>
                    <product_type>
                        <virtualpayid/>
                    </product_type>
                </notify_stock_qty>
                <manage_stock>
                    <product_type>
                        <virtualpayid/>
                    </product_type>
                </manage_stock>
            </catalog_product_dataflow>
        </fieldsets>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Gka_VirtualPayId before="Mage_Adminhtml">Gka_VirtualPayId_Adminhtml</Gka_VirtualPayId>
                    </modules>
                </args>
            </adminhtml>            
        </routers>
    </admin>
</config>