<?xml version="1.0"?>
<config>
    <modules>
        <Gka_Terminalpay>
            <version>3.0.0.0</version>
            <depends>Egovs_Paymentbase</depends>
        </Gka_Terminalpay>
    </modules>
    <global>
        <models>
            <terminalpay>
                <class>Gka_Terminalpay_Model</class>
            </terminalpay>
        </models>
        <helpers>
            <terminalpay>
                <class>Gka_Terminalpay_Helper</class>
            </terminalpay>
        </helpers>
        <resources>
             <terminalpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </terminalpay_write>
            <terminalpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </terminalpay_read>
        </resources>
        <blocks>
            <giropay><class>Gka_Terminalpay_Block</class></giropay>
        </blocks>
    </global>
    <frontend>
    	<secure_url>
            <giropay>/terminalpay/terminalpay</giropay>
        </secure_url>
        <routers>
            <giropay>
                <use>standard</use>
                <args>
                    <module>Gka_Terminalpay</module>
                    <frontName>terminalpay</frontName>
                </args>
            </giropay>
        </routers>
        <translate>
            <modules>
                <Gka_Terminalpay>
                    <files>
                        <default>Gka_Terminalpay.csv</default>
                    </files>
                </Gka_Terminalpay>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Gka_Terminalpay>
                    <files>
                        <default>Gka_Terminalpay.csv</default>
                    </files>
                </Gka_Terminalpay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <terminalpay>
                <currency>EUR</currency>
                <model>terminalpay/terminalpay</model>
                <payment_action>authorize</payment_action>
                <title>Terminalpay per Saferpay</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <autoclose>0</autoclose>
                <!-- Providerset für Produktivbetrieb -->
                <!--<providerset>17</providerset>-->
                <!-- Providerset für Testbetrieb -->
                <providerset>6</providerset>
                <cancel_order_after_active>1</cancel_order_after_active>
                <cancel_order_after>30</cancel_order_after>
                <!-- Der Kunde soll nach jeder Zahlung gelöscht werden -->
                <delete_customer_after_transaction>1</delete_customer_after_transaction>
                <group>epaybl</group>
            </terminalpay>
        </payment>
    </default>
</config>
