<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config>
<config>
    <modules>
        <Bfr_Mach>
            <version>0.1.2</version>
        </Bfr_Mach>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bfr_Mach_Adminhtml after="Mage_Adminhtml">Bfr_Mach_Adminhtml</Bfr_Mach_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <convert>
                        <children>
                            <mach_history module="bfr_mach">
                                <title>Mach Export</title>
                                <sort_order>0</sort_order>
                                <action>adminhtml/mach_history</action>
                            </mach_history>
                        </children>
                    </convert>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <convert>
                                    <children>
                                        <mach_export translate="title" module="bfr_mach">
                                            <title>Mach Export</title>
                                        </mach_export>
                                    </children>
                                </convert>
                                <config>
                                    <children>
                                        <mach_export translate="title" module="bfr_mach">
                                            <title>Mach Export</title>
                                        </mach_export>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mach>
                    <file>bfr/mach.xml</file>
                </mach>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bfr_Mach>
                    <files>
                        <default>Bfr_Mach.csv</default>
                    </files>
                </Bfr_Mach>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <bfr_mach>
                <class>Bfr_Mach_Model</class>
                <resourceModel>mach_resource</resourceModel>
            </bfr_mach>
            <mach_resource>
                <class>Bfr_Mach_Model_Resource</class>
                <entities>
                    <history>
                        <table>mach_history</table>
                    </history>
                </entities>
            </mach_resource>
        </models>
        <resources>
            <mach_setup>
                <setup>
                    <module>Bfr_Mach</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mach_setup>
            <mach_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mach_write>
            <mach_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mach_read>
        </resources>
        <blocks>
            <bfr_mach>
                <class>Bfr_Mach_Block</class>
            </bfr_mach>
        </blocks>
        <helpers>
            <bfr_mach>
                <class>Bfr_Mach_Helper</class>
            </bfr_mach>
        </helpers>
    </global>
    <default>
        <mach_export>
            <head>
                <irquellsystem>ONLINE</irquellsystem>
                <niederlassung>1</niederlassung>
                <orgeinheit></orgeinheit>
                <periode>0</periode>
                <belegart>SB</belegart>
                <belegkontotitel>FORDERUNG ONLINESHOP</belegkontotitel>
                <belegtext>Buchungstext Webshop</belegtext>
                <waehrung>EUR</waehrung>
                <benutzer></benutzer>
                <schreibgruppe></schreibgruppe>
                <lesegruppe></lesegruppe>
                <referenz></referenz>
                <kassenanweisung></kassenanweisung>
                <akn></akn>
                <vgvorgang></vgvorgang>
                <festlegung></festlegung>
                <festlegungsred></festlegungsred>
                <fehlertext></fehlertext>
                <mandant>100</mandant>
            </head>
            <pos>
                <sollkontotitel>FORDERUNG ONLINESHOP</sollkontotitel>
                <habenkontotitel>ALLG. FACHKO./TAGU.</habenkontotitel>
                <sollhaushstelle></sollhaushstelle>
                <habenhaushstelle>habenhaushstelle</habenhaushstelle>
                <huelnummer></huelnummer>
                <referenz></referenz>
                <positionsart>SB</positionsart>
                <startabgrenzung></startabgrenzung>
                <endeabgrenzung></endeabgrenzung>
                <periodizitaet></periodizitaet>
                <magkontorolle></magkontorolle>
                <decimal_separator>,</decimal_separator>
            </pos>
 
        </mach_export>
    </default>
</config>
