<?xml version="1.0"?>
<config>
    <modules>
        <Bfr_Mach>
            <version>0.1.0</version>
        </Bfr_Mach>
    </modules>
    <admin>
        <routers>
         <adminhtml>
           <args>
             <modules>
               <Bfr_Mach_Adminhtml after="Mage_Adminhtml">Bfr_Mach_Adminhtml</Bfr_Mach_Adminhtml>
             </modules>
           </args>
         </adminhtml>
       </routers>
    </admin>
    <adminhtml>
		<menu>
			<mach module="bfr_mach">
				<title>Mach</title>
				<sort_order>71</sort_order>
				<children>
					<mach_history module="bfr_mach">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>adminhtml/mach_history</action>
					</mach_history>
				</children>
			</mach>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<bfr_mach>
							<title>Mach Module</title>
							<sort_order>10</sort_order>
				              <children>
				                	<mach_history module="bfr_mach">
				                    	<title>Manage Mach History</title>
				                    	<sort_order>0</sort_order>
				                	</mach_history>
				              </children>
						</bfr_mach>
						  <system>
                        <children>
                            <config>
                                <children>
                                    <mach_export translate="title" module="bfr_mach">
                                        <title>Mach Export</title>
                                    </mach_export>
                                </children>
                            </config>
                        </children>
                    </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mach>
					<file>bfr/mach.xml</file>
				</mach>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
            <bfr_mach>
                <class>Bfr_Mach_Model</class>
                <resourceModel>mach_resource</resourceModel>
            </bfr_mach>
            <mach_resource>
                <class>Bfr_Mach_Model_Resource</class>
                <entities>
                    <history>
                        <table>mach_history</table>
                    </history>
                </entities>
            </mach_resource>
        </models>
        <resources>
            <mach_setup>
                <setup>
                    <module>Bfr_Mach</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mach_setup>
            <mach_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mach_write>
            <mach_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mach_read>
        </resources>
        <blocks>
            <bfr_mach>
                <class>Bfr_Mach_Block</class>
            </bfr_mach>
        </blocks>
        <helpers>
            <bfr_mach>
                <class>Bfr_Mach_Helper</class>
            </bfr_mach>
        </helpers>
    </global>
        <default>
        <mach_export>
        <head>
           <irquellsystem>irquellsystem</irquellsystem>
				<irlauf>irlauf</irlauf>
				<niederlassung>niederlassung</niederlassung>
				<orgeinheit>orgeinheit</orgeinheit>
				<periode>periode</periode>
				<beleg>beleg</beleg>
				<belegart>belegart</belegart>
				<belegkontotitel>belegkontotitel</belegkontotitel>
				<belegtext>belegtext</belegtext>
				<storno>storno</storno>
				<waehrung>waehrung</waehrung>
				<rwbeleg>rwbeleg</rwbeleg>
				<gedrucktam>gedrucktam</gedrucktam>
				<benutzer>benutzer</benutzer>
				<recordident>recordident</recordident>
				<schreibgruppe>schreibgruppe</schreibgruppe>
				<lesegruppe>lesegruppe</lesegruppe>
				<belegvorgabe>belegvorgabe</belegvorgabe>
				<belegbetrag>belegbetrag</belegbetrag>
				<referenz>referenz</referenz>
				<kassenanweisung>kassenanweisung</kassenanweisung>
				<akn>akn</akn>
				<vgvorgang>vgvorgang</vgvorgang>
				<festlegung>festlegung</festlegung>
				<festlegungsred>festlegungsred</festlegungsred>
				<fehlertext>fehlertext</fehlertext>
				<mandant>mandant</mandant>
        </head>
        <pos>
	        <irquellsystem>irquellsystem</irquellsystem>
			<irlauf>irlauf</irlauf>
			<irposition>irposition</irposition>
			<text>text</text>
			<betrag>betrag</betrag>
			<fwbetrag>fwbetrag</fwbetrag>
			<sollkontotitel>sollkontotitel</sollkontotitel>
			<habenkontotitel>habenkontotitel</habenkontotitel>
			<sollhaushstelle>sollhaushstelle</sollhaushstelle>
			<habenhaushstelle>habenhaushstelle</habenhaushstelle>
			<huelnummer>huelnummer</huelnummer>
			<referenz>referenz</referenz>
			<positionsart>positionsart</positionsart>
			<ust>ust</ust>
			<startabgrenzung>startabgrenzung</startabgrenzung>
			<endeabgrenzung>endeabgrenzung</endeabgrenzung>
			<periodizitaet>periodizitaet</periodizitaet>
			<magkontorolle>magkontorolle</magkontorolle>
			<irbeleg>irbeleg</irbeleg>
        </pos>
        <mapping>
			<irquellsystem>irquellsystem</irquellsystem>
			<irlauf>irlauf</irlauf>
			<irbeleg>irbeleg</irbeleg>
			<irposition>irposition</irposition>
			<kostenrechnung>kostenrechnung</kostenrechnung>
			<abrechnungsobjekt>abrechnungsobjekt</abrechnungsobjekt>
			<betrag>betrag</betrag>
			<fwbetrag>fwbetrag</fwbetrag>
        </mapping>
        </mach_export>
    </default>
</config>
